<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='vacation.ex.aboutus'}"/>
<section class="about-us v-two-block cd-main-content">
    <div class="table-layout">
        <div class="table-layout-col">
            <div class="top-heading-block">
                <div class="wrapper">
                    <h1 class="page-name">About us</h1>
                    <ul class="tabs-menu clearfix">
                        <li class="current" data-bg="bg.jpg">
                            <a href="#about-company">ABOUT THE COMPANY - BALMER LAWRIE</a>
                        </li>
                        <li data-bg="bg-3.jpg">
                            <a href="#the-parent-company">ABOUT THE BRAND - VACATIONS EXOTICA</a>
                        </li>
                        <li data-bg="bg-3.jpg">
                            <a href="#why-vacations">WHY VACATIONS EXOTICA</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom-content-block">
                <div class="wrapper mCustomScrollbar custom-height">
                    <div id="about-company" class="tab-content content-slider-block">
                        <div>
                            <div class="tabs-main-copy">
                                <div class="main-block">
                                    <p>Two Scotsmen, Stephen George Balmer and Alexander Lawrie founded our parent company Balmer Lawrie & Co. Ltd., on the February 01, 1867. Today at a 152 years old, Balmer Lawrie continues to expand its horizons. Now a Miniratna I Public Sector Enterprise under the Ministry of Petroleum & Natural Gas, Balmer Lawrie has a turnover of 2895 crores and a profit of 235 crores, making losses was never a part of the story. </p>
									<p>
									Among other things, Balmer Lawrie boasts of five joint ventures in India and abroad, making for a well-respected transnational diversified conglomerate with a presence in both manufacturing and service sectors. Some achievements include:
									</p>
									<p>
									<ul>
										<li>Market leader in Corporate Travel, Logistics Services, Steel Barrels and Industrial Greases & Specialty Lubricants.</li>
										<p></p>
										<li>Significant presence in many other businesses that it operates viz, Performance Chemicals, Logistics Infrastructure etc.</li>
										<p></p>
										<li>Successfully responded to the demands of an ever-changing environment; leveraged every change as an opportunity to innovate and emerge a leader in the industry. </li>
										<p></p>
										<li>Six business units with offices across the country and abroad 
											<ul>
												<li>Logistics</li>
												<li>Travel & Vacations</li>
												<li>Industrial Packaging</li>
												<li>Greases & Lubricants</li>
												<li>Leather Chemicals</li>
												<li>Refinery & Oil field Services</li>
											</ul>
										</li>
										<p></p>
										<li>Joint ventures in India
											<ul>
											<li>Transafe Services Ltd.</li>
											<li>Balmer Lawrie - Van Leer Ltd.</li>
											<li>AVI-OIL India Pvt. Ltd.</li>
											</ul>
										</li>
										<p></p>
										<li>Joint ventures abroad 
											<ul>
												<li>Balmer Lawrie [UAE] LLC</li>
												<li>PT Balmer Lawrie Indonesia.</li>
											</ul>
										</li>
									</ul>
									</p>
									<br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="the-parent-company" class="tab-content content-slider-block">
                        <div>
                            <div class="tabs-main-copy">
                                <div class="main-block">
                                    <p>We, at Vacations Exotica, believe that it is the stories that make a vacation last a lifetime. Each vacation, no matter the format, is a personal, enriching experience that leaves you, the traveller, with a lifetime of stories, and cherished memories. Our aim, is only to ensure that each vacation you take with us is one where you #CollectStories.</p>
								<p>To make sure that we deliver on our promise each time, we have a team of handpicked travel-professionals nationwide, who are equipped to understand every vacation and travel need. Our partners around the world ensure that your vacation is personalized, has a local flavour, and is tailored to suit to your taste. </p>
								<p>We want you to have a vacation that you can talk about for a long time to come, which is why, there aren’t any hidden costs, no gimmicks, or worries whatsoever, just beautiful stories to collect through your journey.</p>
								<p>There are no limits to a cherished vacation, or to the stories that come with it, so we have every perceivable kind of vacation ready for you. Be it group vacations, themed vacations, or even vacations customized to your specific needs, we have you covered. Take your pick from destinations around the world, be it <i>US/Canada, Europe, Asia, Africa, Australia, New Zealand and South America. Choose the kind of vacation you’d like to have be it a honeymoon, adventure, family, pilgrimage, cruise, rail or self-drive. Take the off-beat path with our customized vacations around the world, even to remote locations that most haven’t even thought about, including</i> enchanting <i>locations like Antarctica, Greenland, exquisite locations like the French Polynesia (Bora Bora, Tahiti), Tanzania, Iceland etc. and our very own 'Incredible India'.</i></p>
								<p>To ensure that amazing vacations belong to everyone, we also cater to corporate holidays with MICE options.</p>
								<p>A Balmer Lawrie company, we at Vacations Exotica are equipped with years of travel experience to ensure that every vacation you take with us, no matter who you are, is one that great stories are made of. </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="why-vacations" class="tab-content content-slider-block">
                        <div>
                            <div class="tabs-main-copy">
                                <div class="main-block">
                                    <ul>
										<li><strong>We are one of the largest, established tour operators in India.</strong><br>
Our core travel professionals have a total experience that spreads across decades.</li>
										<p></p>
										<li><strong>Innovation is the key for a good vacation, to ensure that every need is met, we offer all travel related services under one roof.</strong><br>
We offer best in class innovative inclusions in our holiday packages. We also have a dedicated and accomplished team for sales, operations, airline, visa, forex, travel insurance, and other travel related services.</li>
										<p></p>
										<li><strong>A team spearheaded by senior, dynamic, expert and multilingual Tour Managers. </strong><br>
										Our Tour Mangers are rated as the best in the industry, they have travelled the length and breadth of the world and are ably assisted by a team of budding tour managers groomed to follow in their footsteps.</li>
										<p></p>
										<li><strong>Truly customised vacations that fit your needs and budget.</strong>
We understand vacations and locations around the world and are therefore, equipped to design, advise, implement special requests till the completion of the vacation, no matter which kind.</li>
										<p></p>
										<li><strong>Transparency is key when it comes to a great vacation experience, we deliver holidays as promised with no - hidden costs, all-inclusive prices, to build the confidence and trust of the client. </strong><br>
All our vacations come with zero hidden costs, all-inclusive prices and an overall excellent experience.</li>
<p></p>
										<li><strong>A 'Balmer Lawrie Brand'</strong><br>
Being a Balmer Lawrie brand, entering the 152nd year, has further enhanced our reach across India.</li>
									</ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>