@media only screen and (max-width: 767px) and (min-width: 600px) {
.login-sec { width:100%;}
.dashul li { width:32%!important; margin:0 auto;}
.logo { width:26.7%!important;}
.filters td{ display:block; width:100%; } 
.dataTables_wrapper { overflow-x: scroll; }
}

@media (min-width: 768px) and (max-width: 979px) {


}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

}


@media only screen 
and (min-width : 1224px) {
/* Styles */

}

@media only screen 
and (min-width: 280px)and (max-width: 559px){
.login-sec { width:100%; margin:0;}
.dashul li { display:inherit; width:70%!important; margin:0 auto 15px auto;}
.logo { width:32.7%!important;}
body { background:#f6f6f6;}
.downreport { float: left;}
.inheading h1 { float:left; width:100%;}
.filters td{ display:block; width:100%; } 
.dataTables_wrapper { overflow-x: scroll; }

}

@media screen and (max-width: 360px) {
	.logo { width:48.7%!important;}



}
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {


}
	
@media screen and (max-width: 980px) {
	.dashul li { width:27%; height:auto;}
	.dashul li h2 { font-size:14px;}
	.container { width:92%;}
	.logo { width:16.7%;}
}
@media screen and (max-width: 1280px) {
	.container { width:92%;}
}