body.nav-on-left.overflow-hidden {
    overflow: hidden;
}

input[type="search"]::-ms-clear {
    /* removes close icon - IE */
    display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


/* -------------------------------- 

Main components 

-------------------------------- */

.cd-main-content,
.cd-main-header,
.slide-body-with-menu {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.cd-main-content,
.cd-main-header,
.slide-body-with-menu {
    position: relative;
    -webkit-transition: opacity 0.3s 0s, visibility 0.1s 0.0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0.1s 0.0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0.1s 0.0s, transform 0.3s 0s;
}

.cd-main-content {
    /* background: #e2e3df;
  min-height: 100vh; */
    z-index: 2;
}

.cd-main-header {
    z-index: 3;
}

.nav-is-fixed .cd-main-header {
    /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.cd-logo {
    position: absolute;
    top: 12px;
    left: 5%;
}

.cd-logo img {
    display: block;
}

.tollfree-btn {
    max-width: 100px;
    display: block;
    position: absolute;
    right: 107px;
    top: 12px;
    z-index: 2;
}

.cd-header-buttons {
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 5px;
}

.cd-header-buttons li {
    display: inline-block;
}

.cd-search-trigger,
.cd-nav-trigger {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    white-space: nowrap;
    /* hide text */
    color: transparent !important;
    z-index: 3;
}

.cd-search-trigger::before,
.cd-search-trigger::after {
    /* search icon */
    content: '';
    position: absolute;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-search-trigger::before {
    /* lens */
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.cd-search-trigger::after {
    /* handle */
    height: 3px;
    width: 8px;
    background: #ffffff;
    bottom: 14px;
    right: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-search-trigger span {
    /* container for the X icon */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.cd-search-trigger span::before,
.cd-search-trigger span::after {
    /* close icon */
    content: '';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 22px;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -11px;
    background: #ffffff;
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.cd-search-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-search-trigger span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cd-search-trigger.search-is-visible::before,
.cd-search-trigger.search-is-visible::after {
    /* hide search icon */
    opacity: 0;
}

.cd-search-trigger.search-is-visible span::before,
.cd-search-trigger.search-is-visible span::after {
    /* show close icon */
    opacity: 1;
}

.cd-search-trigger.search-is-visible span::before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.cd-search-trigger.search-is-visible span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-nav-trigger span,
.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #ffffff;
}

.cd-nav-trigger span {
    /* line in the center */
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2px;
    -webkit-transition: background 0.3s 0.3s;
    -moz-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s;
}

.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
    /* other 2 lines */
    content: '';
    right: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    -moz-transition: -moz-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
}

.cd-nav-trigger span::before {
    /* menu icon top line */
    top: -6px;
}

.cd-nav-trigger span::after {
    /* menu icon bottom line */
    top: 6px;
}

.cd-nav-trigger.nav-is-visible span {
    /* hide line in the center */
    background: rgba(46, 50, 51, 0);
}

.cd-nav-trigger.nav-is-visible span::before,
.cd-nav-trigger.nav-is-visible span::after {
    /* keep visible other 2 lines */
    background: #ffffff;
}

.cd-nav-trigger.nav-is-visible span::before {
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
    transform: translateX(4px) translateY(-3px) rotate(45deg);
}

.cd-nav-trigger.nav-is-visible span::after {
    -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
    transform: translateX(4px) translateY(2px) rotate(-45deg);
}

@media only screen and (min-width: 1170px) {
    /*  .cd-nav-trigger {
    display: none;
  } */
}

.cd-primary-nav,
.cd-primary-nav ul {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 350px;
    background: #faebdd;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-nav-gallery {
    width: 100% !important;
}

.cd-primary-nav a,
.cd-primary-nav ul a {
    display: block;
    padding: 20px;
    color: #272727;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid rgba(140, 145, 147, 0.5);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform, opacity;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.cd-primary-nav.is-hidden,
.cd-primary-nav ul.is-hidden {
    /* secondary navigations hidden by default */
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.cd-primary-nav.moves-out>li>a,
.cd-primary-nav ul.moves-out>li>a {
    /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

.cd-primary-nav .see-all a {
    /* different style for the See all button on mobile and tablet */
    color: #69aa6f;
}

.cd-primary-nav .cd-nav-gallery .cd-nav-item,
.cd-primary-nav .cd-nav-icons .cd-nav-item {
    /* items with picture (or icon) and title */
    /*  height: 80px;
  line-height: 80px; */
}

.cd-primary-nav .cd-nav-gallery .cd-nav-item h3,
.cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cd-primary-nav .cd-nav-gallery {
    background-color: #ffe560;
}

.cd-primary-nav.side-menu-fix .cd-nav-gallery {
    width: 350px !important;
}

.cd-primary-nav .cd-nav-gallery .cd-nav-item {
    /* padding-left: 90px; */
    position: relative;
    text-overflow: inherit;
    white-space: inherit;
}

.cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
    /* position: absolute; */
    color: #272727;
    /* bottom: 20px; */
    margin: 5px auto;
}

.cd-primary-nav .cd-nav-gallery .cd-nav-item img {
    position: relative;
    display: block;
    max-height: 150px;
    width: auto;
    margin-left: auto;
    margin: 0 auto;
}

.cd-primary-nav .cd-nav-gallery .cd-nav-item .menu-tag-line {
    font-family: 'EB Garamond', serif;
    color: #272727;
    text-align: center;
    font-size: 12px;
    font-style: italic;
}


/* @font-face .cd-primary-nav .cd-nav-gallery .cd-nav-item .menu-tag-line {
    font-family: 'EB Garamond', serif;
    color: #272727;
    text-align: center;
    font-size: 12px;
    font-style: italic;
} */

.cd-primary-nav .cd-nav-icons .cd-nav-item {
    padding-left: 75px;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item p {
    color: #2e3233;
    font-size: 1.3rem;
    /* hide description on small devices */
    display: none;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item::before {
    /* item icon */
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
}


/*.cd-primary-nav .cd-nav-icons .cd-nav-item.item-1::before {
  background-image: url("../img/line-icon-1.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-2::before {
  background-image: url("../img/line-icon-2.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-3::before {
  background-image: url("../img/line-icon-3.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-4::before {
  background-image: url("../img/line-icon-4.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-5::before {
  background-image: url("../img/line-icon-5.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-6::before {
  background-image: url("../img/line-icon-6.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-7::before {
  background-image: url("../img/line-icon-7.svg");
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-8::before {
  background-image: url("../img/line-icon-8.svg");
}*/

.has-children>a,
.go-back a {
    position: relative;
}

.has-children>a::before,
.has-children>a::after,
.go-back a::before,
.go-back a::after {
    /* arrow icon in CSS - for element with nested unordered lists */
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    height: 2px;
    width: 10px;
    background: #464c4e;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.has-children>a::before,
.go-back a::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.has-children>a::after,
.go-back a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.has-children>a {
    /* padding-right: 40px; */
}

.has-children>a::before,
.has-children>a::after {
    /* arrow goes on the right side - children navigation */
    right: 20px;
    -webkit-transform-origin: 9px 50%;
    -moz-transform-origin: 9px 50%;
    -ms-transform-origin: 9px 50%;
    -o-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
}

.cd-primary-nav .go-back a {
    /* padding-left: 40px; */
}

.cd-primary-nav .go-back a::before,
.cd-primary-nav .go-back a::after {
    /* arrow goes on the left side - go back button */
    left: 20px;
    -webkit-transform-origin: 1px 50%;
    -moz-transform-origin: 1px 50%;
    -ms-transform-origin: 1px 50%;
    -o-transform-origin: 1px 50%;
    transform-origin: 1px 50%;
}

.cd-search {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-search form {
    height: 100%;
    width: 100%;
}

.cd-search input {
    border-radius: 0;
    border: none;
    background: #ffffff;
    height: 100%;
    width: 100%;
    padding: 0 5%;
    box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.cd-search input::-webkit-input-placeholder {
    color: #c9cbc4;
}

.cd-search input::-moz-placeholder {
    color: #c9cbc4;
}

.cd-search input:-moz-placeholder {
    color: #c9cbc4;
}

.cd-search input:-ms-input-placeholder {
    color: #c9cbc4;
}

.cd-search input:focus {
    outline: none;
}

.cd-search.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.nav-is-fixed .cd-search {
    position: fixed;
}

.cd-search {
    height: 95px;
    top: 68px;
}

.cd-search input {
    padding: 0 2em;
    font-size: 3.2rem;
    font-weight: 300;
}

.cd-overlay {
    /* shadow layer visible when navigation is active */
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(250, 235, 221, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}

.cd-overlay.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0.1s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0.1s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0.1s 0s, transform 0.3s 0s;
}


/* -------------------------------- 

support for no js 

-------------------------------- */

.no-js .cd-primary-nav {
    position: relative;
    height: auto;
    width: 100%;
    overflow: visible;
    visibility: visible;
    z-index: 2;
}

.no-js .cd-search {
    position: relative;
    top: 0;
    opacity: 1;
    visibility: visible;
}

.no-js .cd-primary-nav {
    position: absolute;
    z-index: 3;
    display: inline-block;
    width: auto;
    top: 0;
    right: 150px;
    padding: 0;
}

.no-js .nav-is-fixed .cd-primary-nav {
    position: fixed;
}

body.nav-on-left.overflow-hidden {
    overflow: hidden;
}

.cd-main-content.nav-is-visible,
.cd-main-header.nav-is-visible,
.slide-body-with-menu.nav-is-visible,
.slide-body-with-menu.nav-is-visible {
    -webkit-transform: translateX(-350px);
    -moz-transform: translateX(-350px);
    -ms-transform: translateX(-350px);
    -o-transform: translateX(-350px);
    transform: translateX(-350px);
}

.nav-on-left .cd-main-content.nav-is-visible,
.nav-on-left .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -o-transform: translateX(350px);
    transform: translateX(350px);
}

.nav-on-left .cd-header-buttons {
    right: auto;
    left: 5%;
}

.nav-on-left .cd-header-buttons li {
    float: right;
}

.nav-on-left .cd-primary-nav,
.nav-on-left .cd-primary-nav ul {
    right: auto;
    left: 0;
}

.cd-primary-nav {
    /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden;
    -webkit-transition: visibility 0s 0.3s;
    -moz-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s;
}

.cd-primary-nav.nav-is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}

.cd-overlay.is-visible {
    -webkit-transform: translateX(-350px);
    -moz-transform: translateX(-350px);
    -ms-transform: translateX(-350px);
    -o-transform: translateX(-350px);
    transform: translateX(-350px);
}

.nav-on-left .cd-overlay.is-visible {
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -o-transform: translateX(350px);
    transform: translateX(350px);
}

.cd-overlay.is-visible.search-is-visible,
.nav-on-left .cd-overlay.is-visible.search-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

@media only screen and (max-width: 768px) {
    .cd-search {
        top: 45px;
        z-index: 9;
    }
    .cd-primary-nav,
    .cd-primary-nav ul {
        width: 270px;
    }
    .cd-primary-nav.side-menu-fix .cd-nav-gallery {
        width: 270px !important;
    }
    .cd-main-content.nav-is-visible,
    .cd-main-header.nav-is-visible,
    .slide-body-with-menu.nav-is-visible,
    .slide-body-with-menu.nav-is-visible {
        -webkit-transform: translateX(-270px);
        -moz-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
    }
    .nav-on-left .cd-main-content.nav-is-visible,
    .nav-on-left .cd-main-header.nav-is-visible {
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        -ms-transform: translateX(270px);
        -o-transform: translateX(270px);
        transform: translateX(270px);
    }
    .cd-overlay.is-visible {
        -webkit-transform: translateX(-270px);
        -moz-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
    }
    .nav-on-left .cd-overlay.is-visible {
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        -ms-transform: translateX(270px);
        -o-transform: translateX(270px);
        transform: translateX(270px);
    }
    .cd-header-buttons {
        top: 3px;
    }
    .cd-primary-nav a,
    .cd-primary-nav ul a {
        padding: 12px;
    }
}


/****************
 Index page navigation
 *****************/

.nav-index {
    display: none;
}

.index-navigation .nav-index {
    display: block;
}

.index-navigation .vx-logo {}

@media only screen and (min-width: 900px) {
    /* .nav-index #carbonads-container,
  .nav-index #ui8ads-container {
    display: block;
  }
  .nav-index .cd-intro {
    padding: 250px 20px 0;
  }
  .nav-index .cd-intro h1 {
    font-size: 32px;
  }
  .nav-index .cd-logo {
    top: 26px;
    left: 4em;
  }
  .nav-index .cd-header-buttons {
    top: 18px;
    right: 4em;
  } */
    /*.index-navigation #header{
    position: absolute;
    background-color: transparent;
  }*/
    .nav-index .cd-nav {
        /* overflow: hidden; */
        margin-left: auto;
        position: absolute;
        top: 0;
        right: 0;
        /* margin-right: 222px;
    width: calc( 66.66% - 222px ); */
        width: 66.66%;
    }
    .index-navigation .hide-in-index {
        display: none;
    }
    .nav-index .cd-primary-nav {
        position: static;
        /* padding: 0 150px 0 0; */
        height: auto;
        width: auto;
        float: right;
        overflow: visible;
        background: transparent;
        visibility: visible;
        width: 100%;
    }
    .nav-index .cd-primary-nav::after {
        clear: both;
        content: "";
        display: table;
    }
    .nav-index .cd-primary-nav.moves-out>li>a {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .nav-index .cd-primary-nav ul {
        position: static;
        height: auto;
        width: auto;
        background: #faebdd;
        overflow: visible;
    }
    .nav-index .cd-primary-nav ul.is-hidden {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .nav-index .cd-primary-nav ul.moves-out>li>a {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .nav-index .cd-primary-nav>li {
        float: left;
        /* margin-left: 3em; */
        /* width: 25%; */
        text-align: center;
        width: 19%;
    }
    .nav-index .cd-primary-nav>li:last-child {
        margin-right: 24%;
    }
    .nav-index .cd-primary-nav>li>a {
        /* main navigation buttons style */
        position: relative;
        display: inline-block;
        height: 70px;
        line-height: 70px;
        padding: 0 10px;
        color: #272727;
        overflow: visible;
        border-bottom: none;
        -webkit-transition: color 0.3s, box-shadow 0.3s;
        -moz-transition: color 0.3s, box-shadow 0.3s;
        transition: color 0.3s, box-shadow 0.3s;
    }
    .nav-index .cd-primary-nav>li>a:hover {
        color: #faebdd;
    }
    .nav-index .cd-primary-nav>li>a.selected {
        color: #faebdd;
        /*box-shadow: inset 0 -2px 0 #faebdd;*/
    }
    .nav-index .cd-primary-nav .cd-nav-gallery {
        box-shadow: 0px 4px 13px 2px rgba(160, 156, 156, 0.42);
    }
    .nav-index .cd-primary-nav .cd-secondary-nav,
    .nav-index .cd-primary-nav .cd-nav-gallery,
    .nav-index .cd-primary-nav .cd-nav-icons {
        /* dropdown menu style */
        position: absolute;
        left: 0;
        top: 70px;
        width: 100vw;
        background: #faebdd;
        box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav::after,
    .nav-index .cd-primary-nav .cd-nav-gallery::after,
    .nav-index .cd-primary-nav .cd-nav-icons::after {
        clear: both;
        content: "";
        display: table;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav.is-hidden,
    .nav-index .cd-primary-nav .cd-nav-gallery.is-hidden,
    .nav-index .cd-primary-nav .cd-nav-icons.is-hidden {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav>.see-all,
    .nav-index .cd-primary-nav .cd-nav-gallery>.see-all,
    .nav-index .cd-primary-nav .cd-nav-icons>.see-all {
        /* this is the BIG See all button at the bottom of the dropdown menu */
        /* display: block; */
        position: absolute;
        left: 0;
        bottom: 0;
        height: 80px;
        width: 100%;
        overflow: hidden;
        /* reset some inherited style */
        margin: 0;
        padding: 0;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav>.see-all a,
    .nav-index .cd-primary-nav .cd-nav-gallery>.see-all a,
    .nav-index .cd-primary-nav .cd-nav-icons>.see-all a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
        line-height: 80px;
        border-top: 1px solid #e2e3df;
        /* reset some inherited style */
        border-bottom: none;
        margin: 0;
        padding: 0;
        -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
        -moz-transition: color 0.2s, background 0.2s, border 0.2s;
        transition: color 0.2s, background 0.2s, border 0.2s;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav>.see-all a:hover,
    .nav-index .cd-primary-nav .cd-nav-gallery>.see-all a:hover,
    .nav-index .cd-primary-nav .cd-nav-icons>.see-all a:hover {
        background: #2e3233;
        border-color: #2e3233;
        color: #ffffff;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav>li {
        /* change the height according to your needs - you can even set height: auto */
        height: 340px;
        /* here you set the number of columns - use width percentage */
        width: 23%;
        float: left;
        margin-right: 2.66%;
        border-right: 1px solid #e2e3df;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav>li:nth-child(4n+2) {
        /* +2 because we have 2 list items with display:none */
        margin-right: 0;
        border-right: none;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav>li>a {
        /* secondary nav title */
        color: #69aa6f;
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: .6em;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav a {
        height: 30px;
        line-height: 30px;
        padding: 0 18% 0 0;
        color: #2e3233;
        border-bottom: none;
        font-size: 1.4rem;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav a:hover {
        color: #69aa6f;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav ul {
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    .nav-index .cd-primary-nav .cd-secondary-nav ul ul {
        /* tertiary navigation */
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav ul ul.is-hidden {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    .nav-index .cd-primary-nav .cd-secondary-nav ul ul .go-back {
        display: block;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav ul ul .go-back a {
        color: transparent;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav ul ul .see-all {
        display: block;
    }
    .nav-index .cd-primary-nav .cd-secondary-nav .moves-out>li>a {
        /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    .nav-index .cd-primary-nav .cd-nav-gallery li {
        /* set here number of columns - use width percentage */
        width: 33.33%;
        float: left;
        padding: 25px 15px;
        box-shadow: 0px 0px 14px 1px rgba(160, 156, 156, 0.17) inset;
    }
    .nav-index .cd-primary-nav .cd-nav-gallery li:hover {}
    .nav-index .cd-primary-nav .cd-nav-gallery li:nth-child(4n+2) {
        /* +2 because we have two additional list items with display:none */
        margin-right: 0;
    }
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item {
        border-bottom: none;
        padding: 0;
        height: auto;
        line-height: 1.2;
        text-overflow: inherit;
        white-space: inherit;
    }
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item img {
        position: static;
        margin-top: 0;
        height: auto;
        width: 100%;
        margin-bottom: .6em;
    }
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
        font-weight: bold;
        padding: 0 .4em;
    }
    .nav-index .cd-primary-nav .cd-nav-icons li {
        /* set here number of columns - use width percentage */
        width: 32%;
        float: left;
        margin: 0 2% 20px 0;
    }
    .nav-index .cd-primary-nav .cd-nav-icons li:nth-child(3n+2) {
        /* +2 because we have two additional list items with display:none */
        margin-right: 0;
    }
    .nav-index .cd-primary-nav .cd-nav-icons .cd-nav-item {
        border-bottom: none;
        height: 80px;
        line-height: 1.2;
        padding: 24px 0 0 85px;
        position: relative;
        background: #faebdd;
    }
    .nav-index .cd-primary-nav .cd-nav-icons .cd-nav-item:hover {
        background: #f6f6f5;
    }
    .nav-index .cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
        font-weight: bold;
    }
    .nav-index .cd-primary-nav .cd-nav-icons .cd-nav-item p {
        display: block;
    }
    .nav-index .cd-primary-nav .cd-nav-icons .cd-nav-item::before {
        left: 25px;
    }
    /* .nav-index .has-children > a::before, .has-children > a::after, .nav-index .go-back a::before, .nav-index .go-back a::after {
    background: #272727;
  } */
    .nav-index .has-children>a:hover::before,
    .nav-index .has-children>a:hover::after,
    .nav-index .go-back a:hover::before,
    .nav-index .go-back a:hover::after {
        background: #69aa6f;
    }
    .nav-index .has-children>a::before,
    .nav-index .has-children>a::after {
        right: 15%;
    }
    .nav-index .cd-primary-nav>.has-children>a {
        /* main navigation arrows on larger devices */
        padding-right: 30px !important;
    }
    .nav-index .cd-primary-nav>.has-children>a::before,
    .nav-index .cd-primary-nav>.has-children>a::after {
        width: 9px;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background: #272727;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: width 0.3s, -webkit-transform 0.3s;
        -moz-transition: width 0.3s, -moz-transform 0.3s;
        transition: width 0.3s, transform 0.3s;
    }
    .nav-index .cd-primary-nav>.has-children>a::before {
        right: 12px;
    }
    .nav-index .cd-primary-nav>.has-children>a::after {
        right: 7px;
    }
    .nav-index .cd-primary-nav>.has-children>a.selected::before,
    .nav-index .cd-primary-nav>.has-children>a.selected::after {
        width: 14px;
    }
    .nav-index .cd-primary-nav>.has-children>a.selected::before {
        -webkit-transform: translateX(5px) rotate(-45deg);
        -moz-transform: translateX(5px) rotate(-45deg);
        -ms-transform: translateX(5px) rotate(-45deg);
        -o-transform: translateX(5px) rotate(-45deg);
        transform: translateX(5px) rotate(-45deg);
    }
    .nav-index .cd-primary-nav>.has-children>a.selected::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* .nav-index .cd-secondary-nav > .has-children > a::before, .nav-index .cd-secondary-nav > .has-children > a::after { */
    /* remove arrows on secondary nav titles */
    /* display: none; */
    /* } */
    .nav-index .cd-primary-nav .go-back a {
        padding-left: 20px;
    }
    .nav-index .cd-primary-nav .go-back a::before,
    .nav-index .cd-primary-nav .go-back a::after {
        left: 1px;
    }
    /* .nav-index .cd-search {
    height: 120px;
    top: 80px;
  }
  .nav-index .cd-search input {
    padding: 0 2em;
    font-size: 3.2rem;
    font-weight: 300;
  }
  .nav-index .no-js .cd-primary-nav {
    position: absolute;
    z-index: 3;
    display: inline-block;
    width: auto;
    top: 0;
    right: 150px;
    padding: 0;
  }

  .nav-index .no-js .nav-is-fixed .cd-primary-nav {
    position: fixed;
  } */
    /* .index-navigation .cd-overlay.is-visible{
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  } */
    .nav-index .cd-primary-nav .cd-nav-gallery li:hover {
        background-color: #deb267;
    }
    .nav-index .cd-primary-nav .two-child .cd-nav-gallery li {
        width: 50%;
    }
    .nav-index .cd-primary-nav .three-child .cd-nav-gallery li {
        width: 33.33%;
        margin-bottom: 0;
        display: table;
        table-layout: fixed;
    }
    .nav-index .cd-primary-nav .three-child .cd-nav-gallery li a {
        vertical-align: middle;
        display: table-cell;
    }
    .nav-index .cd-primary-nav .cd-nav-gallery li.go-back,
    .nav-index .cd-primary-nav .cd-nav-gallery li.see-all {
        display: none;
    }
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item img {
        width: auto;
        max-height: 200px;
        display: block;
        margin: 0 auto;
        top: -2px;
        position: relative;
    }
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
        position: relative;
        bottom: 0;
        font-family: 'din_lightregular';
        font-size: 24px;
        margin: 10px auto;
        bottom: -2px;
    }
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item .menu-tag-line {
        bottom: -2px;
        position: relative;
    }
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover .menu-tag-line,
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover img,
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover h3 {
        transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.2s;
    }
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover img {
        top: 0;
    }
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover .menu-tag-line,
    .nav-index .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover h3 {
        bottom: 0;
    }
}

@media only screen and (min-width: 768px) {
    .cd-primary-nav .cd-nav-gallery .cd-nav-item h3,
    .cd-primary-nav .cd-nav-gallery .cd-nav-item .menu-tag-line {
        bottom: -2px;
        position: relative;
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item img {
        top: -2px;
        position: relative;
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover .menu-tag-line,
    .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover img,
    .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover h3 {
        transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.2s;
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover img {
        top: 0;
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover .menu-tag-line,
    .cd-primary-nav .cd-nav-gallery .cd-nav-item:hover h3 {
        bottom: 0;
    }
}

@media only screen and (max-width: 1200px) {
    /* .nav-index  .cd-primary-nav > li.three-child {
    width: 30%;
  }
  .nav-index  .cd-primary-nav > li.two-child {
    width: 20%;
  } */
    .nav-index .cd-primary-nav>li {
        width: auto;
        margin: 0 1.5%;
    }
    .cd-search {
        height: 120px;
        top: 62px;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-index .cd-primary-nav>li {
        margin-left: 0;
    }
    .nav-index .cd-primary-nav>li>a {
        font-size: 14px;
    }
    .nav-index .cd-primary-nav>li {
        margin: 0 1%;
    }
}

@media only screen and (max-width: 900px) {
    .nav-index .cd-nav {
        display: none;
    }
    .index-navigation #header {
        background-color: transparent;
        position: absolute;
    }
}