                /* Reset Css */
                
                html {
                    font-family: sans-serif;
                    -ms-text-size-adjust: 100%;
                    -webkit-text-size-adjust: 100%
                }
                
                body {
                    margin: 0
                }
                
                article,
                aside,
                details,
                figcaption,
                figure,
                footer,
                header,
                main,
                menu,
                nav,
                section,
                summary {
                    display: block
                }
                
                audio,
                canvas,
                progress,
                video {
                    display: inline-block
                }
                
                audio:not ( [ controls]) {
                    display: none;
                    height: 0
                }
                
                progress {
                    vertical-align: baseline
                }
                
                template,
                [hidden] {
                    display: none
                }
                
                a {
                    background-color: transparent;
                    -webkit-text-decoration-skip: objects
                }
                
                a:active,
                a:hover {
                    outline-width: 0
                }
                
                abbr[title] {
                    border-bottom: none;
                    text-decoration: underline;
                    -webkit-text-decoration: underline dotted;
                    text-decoration: underline dotted
                }
                
                b,
                strong {
                    font-weight: inherit
                }
                
                b,
                strong {
                    font-weight: bolder
                }
                
                dfn {
                    font-style: italic
                }
                
                h1 {
                    font-size: 2em;
                    margin: 0.67em 0
                }
                
                mark {
                    background-color: #ff0;
                    color: #000
                }
                
                small {
                    font-size: 80%
                }
                
                sub,
                sup {
                    font-size: 75%;
                    line-height: 0;
                    position: relative;
                    vertical-align: baseline
                }
                
                sub {
                    bottom: -0.25em
                }
                
                sup {
                    top: -0.5em
                }
                
                img {
                    border-style: none;
                    max-width: 100%
                }
                
                svg:not (:root) {
                    overflow: hidden
                }
                
                code,
                kbd,
                pre,
                samp {
                    font-family: monospace, monospace;
                    font-size: 1em
                }
                
                figure {
                    margin: 1em 40px
                }
                
                hr {
                    -webkit-box-sizing: content-box;
                    box-sizing: content-box;
                    height: 0;
                    overflow: visible
                }
                
                button,
                input,
                select,
                textarea {
                    font: inherit;
                    margin: 0
                }
                
                optgroup {
                    font-weight: bold
                }
                
                button,
                input {
                    overflow: visible
                }
                
                button,
                select {
                    text-transform: none
                }
                
                button,
                html [type="button"],
                [type="reset"],
                [type="submit"] {
                    -webkit-appearance: button
                }
                
                button::-moz-focus-inner,
                [type="button"]::-moz-focus-inner,
                [type="reset"]::-moz-focus-inner,
                [type="submit"]::-moz-focus-inner {
                    border-style: none;
                    padding: 0
                }
                
                button:-moz-focusring,
                [type="button"]:-moz-focusring,
                [type="reset"]:-moz-focusring,
                [type="submit"]:-moz-focusring {
                    outline: 1px dotted ButtonText
                }
                
                fieldset {
                    border: 1px solid #c0c0c0;
                    margin: 0 2px;
                    padding: 0.35em 0.625em 0.75em
                }
                
                legend {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    color: inherit;
                    display: table;
                    max-width: 100%;
                    padding: 0;
                    white-space: normal
                }
                
                textarea {
                    overflow: auto
                }
                
                [type="checkbox"],
                [type="radio"] {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 0
                }
                
                [type="number"]::-webkit-inner-spin-button,
                [type="number"]::-webkit-outer-spin-button {
                    height: auto
                }
                
                [type="search"] {
                    -webkit-appearance: textfield;
                    outline-offset: -2px
                }
                
                [type="search"]::-webkit-search-cancel-button,
                [type="search"]::-webkit-search-decoration {
                    -webkit-appearance: none
                }
                
                 ::-webkit-input-placeholder {
                    color: inherit;
                    opacity: 0.54
                }
                
                 ::-webkit-file-upload-button {
                    -webkit-appearance: button;
                    font: inherit
                }
                /************* Default css *************/
                
                * {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
                
                #container {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    display: block;
                }
                
                #wrapper {
                    width: 100%;
                    display: block;
                    max-width: 1400px;
                    margin: 0 auto;
                }
                
                .cf:after,
                .cf:before {
                    content: '';
                    display: block;
                    clear: both;
                    overflow: hidden;
                }
                
                a {
                    color: inherit;
                    text-decoration: none;
                }
                /***/
                /* body {
            font-size: 12px;
            font-family: "DIN Pro Cond";
            padding: 0;
            margin: 0;
        } */
                /* .show-in-desktop{display: block;}
.show-in-mobile{display: none;}
 */
                /* css overrighting the other css present in style.css  */
                /* #header {
	padding: 13px;
	position: absolute;
	background-color: #86c60d;
	width: 100%;
	top: 0;
	z-index: 1;
} */
                
                .btn-custom {
                    max-width: 190px;
                    background-color: #ebeced;
                    color: #7d7d7d;
                    text-transform: uppercase;
                    font-size: 16px;
                    line-height: 16px;
                    width: 100%;
                    padding: 12px;
                    border: 0;
                    margin: 0 auto;
                    font-family: arial;
                }
                
                .custom-logo {}
                
                .vx-logo-main {
                    width: 100%;
                }
                /* css over righting the .vx-logo class present in style.css  */
                /* .vx-logo {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 40px;
    z-index: 1;
    max-width: 175px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
} */
                
                #content-main {
                    width: 100%;
                    position: relative;
                }
                
                .top-section {
                    top: -102px;
                }
                
                .bg-slider {
                    position: absolute;
                    bottom: 20px;
                    left: 49%;
                    transform: translateX(-51%);
                }
                
                .bg-slider span {
                    width: 12px;
                    height: 12px;
                    background-color: #fff;
                    display: inline-block;
                    border-radius: 50%;
                    margin: 0 2px;
                    border: 1px solid #fff;
                    cursor: pointer;
                }
                
                .bg-slider span.active {
                    background-color: transparent;
                }
                
                .bg {
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-size: cover;
                    height: 100vh;
                    background-position: center;
                    transition: background-image 1s ease-in-out;
                    -moz-transition: background-image 1s ease-in-out;
                    -ms-transition: background-image 1s ease-in-out;
                    -webkit-transition: background-image 1s ease-in-out;
                    -o-transition: background-image 1s ease-in-out;
                }
                
                .extreme-align-block {
                    width: 110px;
                    text-align: center;
                    position: fixed;
                    top: 53%;
                    -webkit-transform: translateY(-47%);
                    -ms-transform: translateY(-47%);
                    transform: translateY(-47%);
                    z-index: 9;
                }
                
                .right-menu.extreme-align-block {
                    right: 0;
                }
                
                .extreme-align-block ul {
                    margin: 0;
                    padding: 0;
                }
                
                .extreme-align-block ul li {
                    list-style-type: none;
                    background: rgba(255, 255, 255, .2);
                    margin-top: 10px;
                    padding: 0 5px;
                    border-top: 2px solid #a3b0e0;
                    border-bottom: 2px solid #a3b0e0;
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                    height: 90px;
                }
                
                .extreme-align-block ul li:first-child {
                    margin-top: 0px;
                }
                
                .extreme-align-block ul li .inner_b {
                    display: table-cell;
                    vertical-align: middle;
                }
                
                .extreme-align-block ul li img {
                    height: 50px;
                }
                
                .captions {
                    font-family: arial;
                    color: #fff;
                    padding-top: 2px;
                    font-weight: bold;
                }
                
                .middle-section-main {
                    /* width:80%;
	margin: 0 auto;
	height: 100vh;
	position:fixed;
	top:99px;
	left: 0;
    right: -71px;
	background-image:url(../images/middle-section-bg.png);
	background-repeat: no-repeat;
	background-size:90%; */
                    height: 100%;
                    display: table;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    table-layout: fixed;
                    width: 100%;
                }
                
                .form-content {
                    max-width: 1024px;
                    margin: 0 auto;
                    position: relative;
                }
                
                .form-main {
                    height: 100%;
                    vertical-align: middle;
                    display: table-cell;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    text-align: center;
                    padding-top: 11%;
                }
                
                .snafie-img-res img {
                    width: 55% !important;
                    margin: 0 auto;
                }
                /*.snafie-img-res img {
	width: 80%;
	margin: 0 auto;
}*/
                
                .form-content .doodle-img {}
                
                .form-content .doodle-img a {
                    position: absolute;
                }
                
                .form-content .doodle-img a img {
                    width: 75%;
                    -webkit-transition: all ease-in-out 0.3s;
                    -o-transition: all ease-in-out 0.3s;
                    transition: all ease-in-out 0.3s;
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                    -webkit-transform-origin: center;
                    -ms-transform-origin: center;
                    transform-origin: center;
                }
                
                .form-content .doodle-img a:hover img,
                .form-content .doodle-img a.hovered {
                    -webkit-transform: scale(1.05);
                    -ms-transform: scale(1.05);
                    transform: scale(1.05);
                }
                
                .form-content .doodle-img #img_1 {
                    top: -205px;
                    left: -203px;
                    z-index: 1;
                }
                
                .form-content .doodle-img a#img_2 {
                    top: -76px;
                    left: -65px;
                    z-index: 1;
                }
                
                .form-content .doodle-img a#img_3 {
                    top: -205px;
                    left: 326px;
                }
                
                .form-content .doodle-img a#img_4 {
                    left: -211px;
                    top: 13px;
                }
                
                .form-content .doodle-img a#img_5 {
                    top: -244px;
                    right: 15px;
                    z-index: 1;
                }
                
                .form-content .doodle-img a#img_6 {
                    top: 109px;
                    right: 164px;
                    z-index: 9;
                }
                
                .form-content .doodle-img a#img_7 {
                    right: -218px;
                    top: 23px;
                    z-index: 1;
                }
                
                .form-content .doodle-img a#img_8 {
                    right: 10%;
                    top: 307px;
                    z-index: 1;
                }
                
                .form-content .doodle-img a#img_9 {
                    top: 63px;
                    left: 108px;
                }
                
                .snafie-img-res .mobile-img {
                    display: none;
                }
                
                .snafie-img-res .desktop-img {
                    display: block;
                }
                
                .form-content .lead-gen-form {
                    width: 500px;
                    margin: 0 auto;
                    max-width: 90%;
                }
                
                .form-content .lead-gen-form .form-group {
                    width: 48%;
                    display: block;
                    float: left;
                    margin: 0 1%;
                }
                
                .form-content-main {
                    width: 100%;
                    position: absolute;
                    z-index: 1;
                    bottom: 55px;
                }
                
                .content-form {
                    width: 30%;
                    margin: 0 auto;
                }
                
                .width100 {
                    width: 98% !important;
                }
                
                .snafie-top {
                    position: relative;
                    top: -109px;
                }
                
                .lead-gen-top {
                    position: relative;
                    top: -94px;
                }
                
                .content-form .lead-gen-form .form-group {
                    width: 48%;
                    display: block;
                    float: left;
                    margin: 0 1%;
                }
                
                .form-content .lead-gen-form .form-group.destination-block,
                .form-content .lead-gen-form .form-group.submit-btn {
                    float: none;
                    width: 98%;
                    clear: both;
                }
                
                .form-content h1 {
                    font-size: 22px;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: arial;
                    text-align: center;
                    margin: 0 auto;
                }
                
                .form-content p {
                    font-size: 17px;
                    color: #fff;
                    font-family: arial;
                    text-align: center;
                }
                
                .form-control,
                .select2-container--default .select2-selection--single {
                    width: 100%;
                    border-radius: 0;
                    background: rgba(255, 255, 255, .3);
                    border: 1px solid #8d9edf;
                    font-family: arial;
                    color: #fff;
                    font-size: 14px;
                    padding: 10px;
                    /* margin: 7px auto; */
                    height: auto;
                    -webkit-box-shadow: 0 0 0;
                    box-shadow: 0 0 0;
                }
                
                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    color: inherit;
                    line-height: inherit;
                    padding-left: 0;
                    text-align: left;
                }
                
                .select2-container--default .select2-selection--single .select2-selection__arrow {
                    height: 100%;
                    top: 0;
                }
                
                .select2-container--default .select2-selection--single .select2-selection__arrow b {
                    border-color: #fff transparent transparent transparent;
                }
                
                .select2-container {
                    width: 100% !important;
                }
                
                 ::-webkit-input-placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #fff !important;
                    opacity: 1;
                    /* Firefox */
                }
                
                 :-ms-input-placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #fff !important;
                    opacity: 1;
                    /* Firefox */
                }
                
                 ::-ms-input-placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #fff !important;
                    opacity: 1;
                    /* Firefox */
                }
                
                 ::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #fff !important;
                    opacity: 1;
                    /* Firefox */
                }
                
                 :-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: #fff !important;
                }
                
                option {
                    background: #d0d0d2 !important;
                    color: #000;
                }
                
                .form-content .lead-gen-form .form-group.submit-btn #submit {
                    max-width: 180px;
                    background-color: #ebeced;
                    color: #7d7d7d;
                    text-transform: uppercase;
                    font-size: 16px;
                    line-height: 16px;
                    cursor: pointer;
                }
                
                .form-content-main .content-form .lead-gen-form .form-group.submit-btn #submit {
                    max-width: 180px;
                    background-color: #ebeced;
                    color: #7d7d7d;
                    text-transform: uppercase;
                    font-size: 16px;
                    line-height: 16px;
                }
                
                .btn-center {
                    width: 100% !important;
                    text-align: center !important;
                }
                /*swapnil css*/
                
                .fixed-top {
                    position: relative;
                    top: -120px;
                }
                
                .fix-top {
                    position: relative;
                    top: -149px !important;
                }
                
                .text-top {
                    position: relative;
                    top: -163px;
                }
                
                .see-the-world-top {
                    position: relative;
                    top: -180px;
                }
                
                .btn-submit {
                    width: 100% !important;
                    text-align: center !important;
                }
                
                .collection-stories-top {
                    position: relative;
                    top: -153px;
                }
                
                .snailfie-top {
                    position: relative;
                    top: 28px;
                }
                
                #content-main4 .form-content .doodle-img #img_1 {
                    top: -147px;
                    left: -48px;
                    z-index: 1;
                }
                
                #content-main4 .form-content .doodle-img a#img_4 {
                    left: -8px;
                    top: 0
                }
                
                #content-main4 .form-content .doodle-img a#img_3 {
                    top: -96px;
                    left: 120px;
                }
                
                #content-main4 .form-content .doodle-img a#img_4 {
                    left: -67px;
                    top: 15px;
                }
                
                #content-main4 .form-content .doodle-img a#img_5 {
                    top: -153px;
                    right: 15px;
                }
                
                #content-main4 .form-content .doodle-img a#img_6 {
                    top: 109px;
                    right: 164px;
                    z-index: 9;
                }
                
                #content-main4 .form-content .doodle-img a#img_7 {
                    right: 0;
                    top: 145px
                }
                
                #content-main4 .form-content .doodle-img a#img_8 {
                    right: -4%;
                    top: 425px;
                }
                
                #content-main4 .form-content .doodle-img a#img_9 {
                    top: 101px;
                    left: 190px;
                }
                
                #content-main4 .snafie-img-res img {
                    width: 92% !important;
                    margin: 0 auto
                }
                
                #content-main2 .snafie-img-res img {
                    width: 80% !important;
                    margin: 0 auto;
                    position: relative;
                    top: -30px;
                }
                
                HEAD #content-main1 .snafie-img-res img {
                    width: 60% !important;
                    margin: 0 auto;
                    position: relative;
                    top: -23px;
                }
                
                .slide3-top {
                    position: relative;
                }
                
                .forms {
                    /* #header {
                        position: relative;
                    }*/
                    /* commmittedd */
                    /* .snafie-img-res .mobile-img {
                     display: block; */
                }
                
                .formh {
                    display: none;
                }
                
                .submit- {
                    text-align: center !important;
                    width: 100% !important;
                }
                
                .form-content-main .content-form .form-content .lead-gen-form .form-group {
                    width: 48%;
                    display: block;
                    float: left;
                    margin: 0 1%;
                }
                
                .form-content-main .content-form .form-content .lead-gen-form {
                    width: 500px;
                    margin: 0 auto;
                    max-width: 90%;
                }
                
                .form-content-main .content-form .lead-gen-form .form-group.destination-block,
                .form-content .lead-gen-form .form-group.submit-btn {
                    float: none;
                    width: 98%;
                    clear: both;
                }
                /*end swapnil css*/
                
                @media ( max-width :1366px) {
                    .lead-gen-top {
                        top: -107px;
                    }
                    .form-custom-top {
                        position: relative;
                        top: -12px;
                    }
                    .form-custom-top/*.bg-slider{
		bottom: -50px;
	}
	*/
                    .form-content .doodle-img a#img_3 {
                        top: -183px !important;
                        left: 338px !important;
                    }
                    .snafie-top {
                        top: -113px;
                    }
                    .form-content .doodle-img #img_1 {
                        top: -208px;
                        left: -91px;
                        z-index: 1;
                    }
                    .form-content .doodle-img a#img_2 {
                        top: -96px;
                        left: 5px;
                        z-index: 1;
                    }
                    .form-content .doodle-img a#img_3 {
                        top: -182px;
                        left: 337px;
                    }
                    .form-content .doodle-img a#img_4 {
                        left: -112px;
                        top: 50px;
                        z-index: 1;
                    }
                    .form-content .doodle-img a#img_5 {
                        top: -246px;
                        right: 15px;
                        position: absolute;
                        z-index: 1;
                    }
                    .form-content .doodle-img a#img_7 {
                        right: -115px;
                        top: 40px;
                    }
                    .form-content .doodle-img a#img_9 {
                        top: 42px;
                        left: 120px;
                    }
                    .form-content .doodle-img a img {
                        width: 66%;
                    }
                }
                
                .form-content-main .content-form .lead-gen-form .form-group.submit-btn #submit {
                    max-width: 180px;
                    background-color: #ebeced;
                    color: #7d7d7d;
                    text-transform: uppercase;
                    font-size: 16px;
                    line-height: 16px;
                }
                
                .btn-center {
                    width: 100% !important;
                    text-align: center !important;
                }
                /*swapnil css*/
                
                .fixed-top {
                    position: relative;
                    top: -120px;
                }
                
                .fix-top {
                    position: relative;
                    top: -149px !important;
                }
                
                .text-top {
                    position: relative;
                    top: -163px;
                }
                
                .see-the-world-top {
                    position: relative;
                    top: -180px;
                }
                
                .btn-submit {
                    width: 100% !important;
                    text-align: center !important;
                }
                
                .collection-stories-top {
                    position: relative;
                    top: -153px;
                }
                
                .snailfie-top {
                    position: relative;
                    top: 28px;
                }
                
                #content-main4 .form-content .doodle-img #img_1 {
                    top: -147px;
                    left: -48px;
                    z-index: 1;
                }
                
                #content-main4 .form-content .doodle-img a#img_4 {
                    left: -8px;
                    top: 0
                }
                
                #content-main4 .form-content .doodle-img a#img_3 {
                    top: -96px;
                    left: 120px;
                }
                
                #content-main4 .form-content .doodle-img a#img_4 {
                    left: -67px;
                    top: 15px;
                }
                
                #content-main4 .form-content .doodle-img a#img_5 {
                    top: -153px;
                    right: 15px;
                }
                
                #content-main4 .form-content .doodle-img a#img_6 {
                    top: 109px;
                    right: 164px;
                    z-index: 9;
                }
                
                #content-main4 .form-content .doodle-img a#img_7 {
                    right: 0;
                    top: 145px
                    /* .vx-logo {
            max-width: 100px;
            float: right;
            position: relative;
            top: 40px; */
                }
                
                #content-main4 .form-content .doodle-img a#img_8 {
                    right: -4%;
                    top: 425px;
                }
                
                #content-main4 .form-content .doodle-img a#img_9 {
                    top: 101px;
                    left: 190px;
                }
                
                #content-main4 .snafie-img-res img {
                    width: 92% !important;
                    margin: 0 auto
                }
                
                #content-main2 .snafie-img-res img {
                    width: 80% !important;
                    margin: 0 auto;
                    position: relative;
                    top: -30px;
                }
                
                #content-main1 .snafie-img-res img {
                    width: 60% !important;
                    margin: 0 auto;
                    position: relative;
                    top: -23px;
                }
                
                .slide3-top {
                    position: relative;
                }
                
                .forms {
                    display: block;
                }
                
                .formh {
                    display: none;
                }
                
                .submit-btns {
                    text-align: center !important;
                    width: 100% !important;
                }
                
                .form-content-main .content-form .form-content .lead-gen-form .form-group {
                    width: 48%;
                    display: block;
                    float: left;
                    margin: 0 1%;
                }
                
                .form-content-main .content-form .form-content .lead-gen-form {
                    width: 500px;
                    margin: 0 auto;
                    max-width: 90%;
                }
                
                .form-content-main .content-form .lead-gen-form .form-group.destination-block,
                .form-content .lead-gen-form .form-group.submit-btn {
                    float: none;
                    width: 98%;
                    clear: both;
                }
                /*end swapnil css*/
                
                @media ( max-width :1400px) {
                    .form-content .doodle-img a#img_8 {
                        top: 100%;
                    }
                    @media ( max-width :1366px) {
                        .lead-gen-top {
                            top: -107px;
                        }
                        .form-custom-top {
                            position: relative;
                            top: -12px;
                        }
                        .form-custom-top/*.bg-slider{
		bottom: -50px;
	}
	*/
                        .form-content .doodle-img a#img_3 {
                            top: -183px !important;
                            left: 338px !important;
                        }
                        .snafie-top {
                            top: -113px;
                        }
                        .form-content .doodle-img #img_1 {
                            top: -208px;
                            left: -91px;
                            z-index: 1;
                        }
                        .form-content .doodle-img a#img_2 {
                            top: -96px;
                            left: 5px;
                            z-index: 1;
                        }
                        .form-content .doodle-img a#img_3 {
                            top: -182px;
                            left: 337px;
                        }
                        .form-content .doodle-img a#img_4 {
                            left: -112px;
                            top: 50px;
                            z-index: 1;
                        }
                        .form-content .doodle-img a#img_5 {
                            top: -246px;
                            right: 15px;
                            position: absolute;
                            z-index: 1;
                        }
                        .form-content .doodle-img a#img_7 {
                            right: -115px;
                            top: 40px;
                        }
                        .form-content .doodle-img a#img_9 {
                            top: 42px;
                            left: 120px;
                        }
                        .form-content .doodle-img a img {
                            width: 66%;
                        }
                    }
                    @media ( max-width :1200px) {
                        .form-content .doodle-img a {
                            display: none;
                        }
                        .snafie-top {
                            top: -118px;
                        }
                        .lead-gen-top {
                            top: -104px;
                        }
                        .extreme-align-block {
                            top: 54%;
                        }
                        .form-custom-top {
                            position: relative;
                            top: 0px;
                        }
                        .extreme-align-block ul li {
                            height: 77px;
                        }
                        #content-main1 .snafie-img-res img {
                            top: 7px;
                        }
                        .form-custom-top {
                            top: 10px;
                        }
                        .fix-top {
                            top: -127px !important;
                        }
                        #content-main4 .snafie-img-res img {
                            width: 50% !important;
                        }
                        .form-content .doodle-img a#img_2 {
                            top: -76px;
                            left: -65px;
                            z-index: 1;
                        }
                        .form-content .doodle-img a#img_5 {
                            top: -244px;
                            right: 15px;
                            z-index: 1;
                        }
                        .form-content .doodle-img a#img_8 {
                            right: 9%;
                            top: 373px;
                            z-index: 1;
                        }
                    }
                    @media ( max-width :992px) {
                        .bg {
                            background-position: top center;
                            background-size: cover;
                            height: 100%;
                            /* 
		background-attachment: fixed; */
                        }
                        .left-menu,
                        .right-menu,
                        .bg-slider {
                            display: none;
                        }
                        #header {
                            position: relative;
                        }
                        .snafie-img-res .mobile-img {
                            display: block;
                            width: auto;
                        }
                        .snafie-img-res .desktop-img {
                            display: none;
                        }
                        .middle-section-main {
                            margin: 0 auto;
                            text-align: center;
                            display: block;
                            padding: 85px 0 50px;
                        }
                        .form-main {
                            width: 100%;
                            padding-top: 0%;
                            display: block;
                        }
                        .form-content h1 {
                            font-size: 17px;
                        }
                        .form-content p {
                            font-size: 15px;
                        }
                        .btn-default {
                            width: 65%;
                            font-family: arial;
                            color: #7d7d7d;
                        }
                        .forms {
                            display: none;
                        }
                        .formh {
                            display: block;
                        }
                        .snafie-top {
                            top: -18px;
                        }
                        .lead-gen-top {
                            top: -4px;
                        }
                    }
                    @media ( max-width :768px) {
                        .res-main-logo {
                            max-width: 180px;
                        }
                        .vx-logo {
                            max-width: 120px;
                        }
                        .form-content .lead-gen-form .form-group,
                        .form-content .lead-gen-form .form-group.destination-block,
                        .form-content .lead-gen-form .form-group.submit-btn {
                            width: 100%;
                            display: block;
                            float: none;
                            margin: 0 auto;
                        }
                        .forms {
                            display: none;
                        }
                        .formh {
                            display: block;
                        }
                    }
                    @media ( max-width :767px) {
                        .forms {
                            display: none;
                        }
                        .formh {
                            display: block;
                        }
                    }
                    @media ( max-width :420px) {
                        .middle-section-main {
                            padding: 35px 0;
                        }
                        .custom-logo,
                        .vx-logo {
                            position: relative;
                            -webkit-transform: translateX(0%);
                            -ms-transform: translateX(0%);
                            transform: translateX(0%);
                            left: 0;
                            top: 0;
                        }
                        .custom-logo {
                            float: left;
                        }
                        .vx-logo {
                            max-width: 100px;
                            float: right;
                            position: relative;
                            top: 4px;
                        }
                        /*swapnil css*/
                        .snafie-top {
                            position: relative;
                            top: -28px;
                        }
                        .lead-gen-top {
                            position: relative;
                            top: -22px;
                        }
                        .form-content-main {
                            bottom: -34px;
                        }
                        .forms {
                            display: none;
                        }
                        .formh {
                            display: block;
                        }
                        /*end swapnil css*/
                    }
                }