html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent
}

@font-face body {
    font-family: 'open_sansregular';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    clear: both
}

ol, ul {
    list-style: none
}

blockquote {
    quotes: none
}

blockquote:before, blockquote:after {
    content: '';
    content: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a img {
    border: none
}

img {
    max-width: 100%
}

a, a:link, a:active, a:visited, a:hover {
    color: inherit
}

a {
    text-decoration: none
}

body {
    font-size: 14px;
    color: #272727;
    font-family: "Open Sans", sans-serif
}

html {
    margin-right: 0 !important;
}

/* Fonts */

@font-face {
    font-family: 'din_lightregular';
    src: url('/etc/clientlibs/vacationex/clientlib-base/fonts/din-light-webfont.woff2') format('woff2'), url('/etc/clientlibs/vacationex/clientlib-base/fonts/din-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinbold';
    src: url('/etc/clientlibs/vacationex/clientlib-base/fonts/din-bold-webfont.woff2') format('woff2'), url('/etc/clientlibs/vacationex/clientlib-base/fonts/din-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_mediumregular';
    src: url('/etc/clientlibs/vacationex/clientlib-base/fonts/din_medium-webfont.woff2') format('woff2'), url('/etc/clientlibs/vacationex/clientlib-base/fonts/din_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gloss_and_bloomregular';
    src: url('/apps/VacationEx/clientlibs/clientlib-base/css/fonts/gloss_and_bloom-webfont.woff2') format('woff2'), url('/apps/VacationEx/clientlibs/clientlib-base/css/fonts/gloss_and_bloom-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* global css */

*, *:after, *:before {
    box-sizing: border-box;
}

html {
    font-size: 100.01%;
}

*:focus {
    outline: none;
}

a:focus {
    outline: none;
}

textarea {
    resize: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'din_mediumregular';
}

.clearfix:after, .clearfix:before, .row:after, .row:before {
    content: "";
    display: block;
    position: relative;
    clear: both;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    clear: both;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    height: 100vh;
}

.wrapper {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
}

.full-height {
    height: calc(100vh - 37px);
    height: 100%;
}

.table-layout {
    height: calc(100vh - 37px);
    display: table;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.table-layout-col {
    height: 100%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.row {
    width: 100%;
    display: block;
    position: relative;
    clear: both;
    max-width: 100%;
    height: 100%;
}

.col {
    position: relative;
    float: left;
}

.col-30 {
    width: 30%;
    max-width: 30%;
    height: 100%;
}

.col-33 {
    width: 33.33%;
    max-width: 33.33%;
}

.col-50 {
    width: 50%;
    max-width: 50%;
}

.col-66 {
    width: 66.66%;
    max-width: 66.66%;
}

.col-70 {
    width: 70%;
    max-width: 70%;
    height: 100%;
}

.col-100 {
    width: 100%;
    max-width: 100%;
}

.text-align-center {
    text-align: center;
}

.row-reverse .col {
    float: right;
}

.show-in-mobile {
    display: none;
}

.show-in-desktop {
    display: block;
}

.white-logo {
    display: none;
}

/* Animation for popup */

.mfp-content {
    max-width: 800px;
}

.mfp-close {
    width: 30px;
    height: 32px;
    line-height: 32px;
}

.mfp-move-horizontal .mfp-with-anim {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}

.mfp-move-horizontal.mfp-bg {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.mfp-move-horizontal.mfp-ready .mfp-with-anim {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.mfp-move-horizontal.mfp-ready.mfp-bg {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.mfp-move-horizontal.mfp-removing .mfp-with-anim {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.mfp-move-horizontal.mfp-removing.mfp-bg {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.page-heading-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

/* Navigation */

.menu-button {
    width: 50px;
    height: 41px;
    background-color: rgba(39, 39, 39, 0.5);
}

/* header with menu */

#header {
    padding: 10px 15px;
    position: relative;
    background-color: #b9a986;
    width: 100%;
    /* top: 40px; */
    /* over overwriting the property*/
}

.balmer-logo {
    width: 180px;
    display: block;
}

#header .wrapper {
    max-width: 95%;
}

.fixed-navigation {
    width: 100%;
    /* position: absolute;
     */
}

.vx-logo {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 25px;
    z-index: 1;
    max-width: 145px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* header with menu */

/* .logo {
     position: relative;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     max-width: 180px;
     right: -89px;
     z-index: 9;
}
 .page-heading-section .page-title {
     color: white;
     font-size: 30px;
     text-align: center;
     padding-right: 8%;
     width: 100%;
}
 */

section.cd-main-content {
    height: calc(100% - 103px);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/************** Home page ***************/

.index-page {}

.index-page #left-col-width {
    background-image: url('/content/dam/vacationex/images/bg/home-page-bg.jpg');
    /* background-size: auto;
     */
    background-repeat: no-repeat;
    background-position: center;
}

section.cd-main-content.index-page {
    height: 100%;
}

.index-page #right-col-width {
    background-color: #feb74a;
    height: 100%;
    /* background-image: url('/content/dam/vacationex/images/home-page-doddle-d.png');
     */
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.index-page #left-col-width {}

.index-page #left-col-width .page-title {
    max-width: 310px;
    margin-left: 13%;
    display: block;
    text-align: center;
    width: 60%;
}

.index-page #left-col-width .logo {
    position: fixed;
    left: 30%;
    z-index: 2;
    top: 50%;
    -webkit-transform: translate(-27%, -50%);
    transform: translate(-27%, -50%);
    max-width: 170px;
}

.index-page #right-col-width #dragger-slider {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    display: none;
}

.index-page #right-col-width #dragger-slider .handle {
    width: 200%;
    height: 100%;
    border-radius: 0;
    /* background: url(/content/dam/vacationex/images/home-page-doddle-d.png) no-repeat center center;
     */
}

.index-page .map-for-dekstop {
    text-align: center;
}

.index-page .map-for-dekstop img {
    max-height: calc(100vh - 180px);
    margin: 0 auto;
    text-align: center;
}


/* TNC style has been moved into tnc component (changed-Onkar)  */

/* category-page  */



.group-holiday-category {
    width: 100%;
    position: absolute;
}

.group-holiday-top {
    top: 0;
}

.group-holiday-bottom {
    bottom: 0px;
}

.group-holiday-category .holiday-thumbnail {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    font-size: 0;
    position: relative;
    /* transform: scale(1,1);
     */
}

.group-holiday-category .holiday-thumbnail:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.group-holiday-category .holiday-thumbnail .category-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    max-width: 160px;
    height: 170px ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.2s;
    transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.2s;
    position: relative;
    top: 0;
    width: 100%;
}

.group-holiday-category .holiday-thumbnail .category-icon img {
    /* height: 170px; */
}

.group-holiday-category .holiday-thumbnail .category-name {
    color: #fff;
    font-size: 36px;
    position: absolute;
    bottom: 2px;
    width: 100%;
    font-family: 'dinbold';
    text-transform: uppercase;
    -webkit-transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.2s;
    transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.2s;
    line-height: 38px;
}

.category-page .group-holiday-top .holiday-thumbnail{
    width: 33.33%;  
}

.category-page .group-holiday-bottom .holiday-thumbnail {
    width: 50%;
}

.group-holiday-category .holiday-thumbnail:hover .category-icon {
    top: 10px;
}

.group-holiday-category .holiday-thumbnail:hover .category-name {
    bottom: 10px;
}

.group-holiday-logo {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100px;
    vertical-align: middle;
    display: table;
    table-layout: fixed;
}

.group-holiday-logo .page-title {
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}


/* theme-holidays */

.theme-holiday {
    background-image: url('/content/dam/vacationex/images/theme-page-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.theme-holiday .group-holiday-category .holiday-thumbnail {
    width: 33.33%;
}

/* package-listing start */

.table-layout-with-menu {
    height: calc(100% - 123px);
}

.package-listing {
    background-image: url('/content/dam/vacationex/images/package-listing-bg.jpg');
    height: 100%;
    position: relative;
}

#package-listing-page {
    min-height: 100vh;
}

.package-listing .wrapper {
    height: auto;
    padding-top: 35px;
}

.package-listing .package-header {
    margin-top: 30px;
    position: relative;
    min-height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: inherit;
    justify-content: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: inherit;
    align-items: inherit;
}

.package-listing .package-header .package-title {
    float: left;
}

.package-listing .selecting-option {
    float: left;
    cursor: pointer;
    height: 44px;
}

.package-listing .package-selected-option {
    /* float: left; */
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.package-listing .package-selected-option:after {
    display: block;
    content: " invisible node " flex(999 999 auto)
}

.package-listing .selecting-option span, .package-listing .selecting-option span, .package-listing .package-multi-option ul li.selected-value span, .package-listing .package-selected-option a span {
    display: block;
    position: absolute;
    right: 6px;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.package-listing .selecting-option span {
    background-image: url(/content/dam/vacationex/images/arrow-down-black.png);
}

.package-listing .selecting-option.active span {
    background-image: url(/content/dam/vacationex/images/arrow-up-black.png);
}

.package-listing .package-selected-option ul {}

.package-listing .package-selected-option a {
    float: left;
    color: #272727;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #f9efcb;
    padding: 5px 20px;
    margin: 0;
    background-image: url(/content/dam/vacationex/images/heading-bg.jpg);
    display: inline-block;
    position: relative;
    margin-right: 6px;
    padding-right: 30px;
    cursor: inherit;
    -webkit-transition: all .3s cubic-bezier(0.19, 1, 1, 1);
    transition: all .3s cubic-bezier(0.19, 1, 1, 1);
    font-size: 12px;
    margin-bottom: 2px;
    flex: 0 0 auto;
}

.package-listing .package-selected-option a span {
    background-image: url(/content/dam/vacationex/images/close-black.png);
    cursor: pointer;
}

.package-listing .package-multi-option {
    position: absolute;
    display: block;
    margin-top: 15px;
    -webkit-transition: all .3s cubic-bezier(0.19, 1, 1, 1);
    transition: all .3s cubic-bezier(0.19, 1, 1, 1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: 0;
    top: 50px;
    visibility: hidden;
}

.package-listing .package-multi-option.dropdown-open {
    margin-top: 0px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 2;
    visibility: visible;
}

.package-listing .package-multi-option ul {
    float: none;
    clear: both;
    overflow: hidden;
    display: inline-block;
    width: auto;
}

.package-listing .package-multi-option ul li {
    display: block;
    width: auto;
    float: none !important;
    background-image: none;
    background-color: #b9a986;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding: 10px 25px 10px 20px;
    margin-top: 0;
}

.package-listing .package-multi-option span {
    background-image: url(/content/dam/vacationex/images/check-black.png);
}

.package-listing .package-multi-option ul li a {
    margin-right: 4px;
    width: 100%;
    display: block;
}

/* .package-listing .package-title {
    color: #272727;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #f9efcb;
    /*padding: 2% 20px;
      */
    /* padding: 10px 0;
    margin: 0;
    background-image: url(/content/dam/vacationex/images/heading-bg.jpg);
    display: inline-block;
    position: relative;
    margin-right: 6px;
    padding-right: 10px;
    max-width: 290px;
    width: 290px;
    text-align: center;
}  */


.package-listing .package-title{
    color: #272727;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #f9efcb;
    /*padding: 2% 20px;
    */
    padding: 10px 20px;
    margin: 0;
    background-image: url(/content/dam/vacationex/images/heading-bg.jpg);
    display: inline-block;
    position: relative;
    margin-right:  6px;
    padding-right: 30px;
}

.package-listing .package-subheading {
    color: #f9efcb;
    font-size: 18px;
    /* font-family: 'dinbold';
     */
    text-transform: uppercase;
    padding: 1% 25px;
    letter-spacing: 4px;
}

.package-listing .packages-list .mCSB_inside>.mCSB_container {
    margin-right: 0;
}

.package-listing .packages-list {
    position: relative;
    box-shadow: 2px 5px 7px 2px #00000075;
    padding-bottom: 20px;
}

.package-listing .packages-list li {
    float: left;
    width: 50%;
    /* display:none;
     */
    padding: 1px;
}

.package-listing .individual-package-detail {
    color: #f9e6ce;
    min-height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /* min-height: 200px;
     */
}

.package-listing .individual-package-detail.gray-c {
    background-color: #767479;
}

.package-listing .individual-package-detail.purple-c {
    background-color: #394168;
}

.package-listing .individual-package-detail.pink-c {
    background-color: #e8567b;
}

.package-listing .individual-package-detail.blue-c {
    background-color: #147693;
}

.package-listing .packages-list li:nth-child(4n+1) .individual-package-detail, .package-listing .packages-list li:nth-child(4n+2) .individual-package-detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.package-listing .individual-package-detail .indi-package-pic {
    float: left;
    width: 30%;
    background-position: center;
    height: 100%;
    min-height: 200px;
    background-size: cover;
}

.package-listing .individual-package-detail .indi-package-summary {
    float: left;
    width: 70%;
    padding: 25px;
}

.package-listing .individual-package-detail .heading {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    color: #fbecd9;
}

.package-listing .individual-package-detail .itineary-day {
    font-size: 16px;
    line-height: 18px;
}

.package-listing .individual-package-detail .package-desc {
    font-size: 12px;
    position: relative;
    margin-top: 25px;
}

.package-listing .individual-package-detail .package-desc:before {
    content: '';
    display: block;
    width: 16px;
    height: 3px;
    background-color: #fbe9d1;
    position: absolute;
    top: -7px;
    left: 0px;
}

.load-more {
    background-image: url('/content/dam/vacationex/images/arrow-down.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 30px;
    height: 30px;
    left: 50%;
    /* transform: translateX(-50%);
     */
    bottom: -20px;
    cursor: pointer;
    position: absolute;
}

.bounce {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

@ -webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateX(-50%);
    }
    40% {
        -webkit-transform: translateY (-10 px);
        transform: translateX (-50%);
    }
    60% {
        -webkit-transform: translateY (-5 px);
        transform: translateX (-50%);
    }
}

@ keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY (-10 px);
        transform: translateY (-10 px);
    }
    60% {
        -webkit-transform: translateY (-5 px);
        transform: translateY (-5 px);
    }
}

section .go-back {
    font-size: 30px;
    font-family: 'dinbold';
    position: absolute;
    left: -30px;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 17px;
    height: 27px;
    background-image: url(/content/dam/vacationex/images/arrow-sprites.png);
    background-size: 100px;
    background-position: 0px;
}

/* section .go-back:before, section .go-back:after{
     content: '';
     right: 0;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transform-origin: 0% 50%;
     -moz-transform-origin: 0% 50%;
     -ms-transform-origin: 0% 50%;
     -o-transform-origin: 0% 50%;
     transform-origin: 0% 50%;
     -webkit-transition: -webkit-transform 0.3s 0.3s;
     -moz-transition: -moz-transform 0.3s 0.3s;
     transition: transform 0.3s 0.3s;
     position: absolute;
     display: inline-block;
     height: 3px;
     width: 24px;
     background: #272727;
}
 section .go-back:after{
     -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
     -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
     -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
     -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
     transform: translateX(4px) translateY(2px) rotate(-45deg);
}
 section .go-back:before{
     -webkit-transform: translateX(5px) translateY(0px) rotate(45deg);
     -moz-transform: translateX(5px) translateY(0px) rotate(45deg);
     -ms-transform: translateX(5px) translateY(0px) rotate(45deg);
     -o-transform: translateX(5px) translateY(0px) rotate(45deg);
     transform: translateX(5px) translateY(0px) rotate(45deg);
}
 */

.load-more:hover, .go-back:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* package-listing end*/

/* package detail page */

#package-detail-page {
    background-image: url('/content/dam/vacationex/images/package-listing-bg.jpg');
}

.package-detail-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
}

.package-detail-page #current-tab {
    background-color: #faebdd;
    color: #272727;
    font-size: 20px;
    max-width: 165px;
    padding: 12px 0;
    box-shadow: inset 0px 1px 6px 1px rgba(0, 0, 0, 0.2);
    max-width: 480px;
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
    position: relative;
    padding-right: 25px;
    text-transform: uppercase;
    cursor: pointer;
}

.package-detail-page #current-tab:after {
    content: '';
    display: block;
    background-image: url(/content/dam/vacationex/images/arrow.png);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: center;
    right: 12px;
    position: absolute;
    top: 18px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.package-detail-page .tabs-menu {
    text-align: center;
    width: 100%;
}

.package-detail-page .tabs-menu li {
    background-color: #faebdd;
    color: #272727;
    font-size: 20px;
    max-width: 165px;
    padding: 6px 0;
    margin: 0px auto 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.45);
    font-family: 'din_lightregular';
}

.package-detail-page .tabs-menu li:last-child {
    margin-bottom: 0px;
}

.package-detail-page .tabs-menu li.current {
    background-color: #eba113;
    color: #fff;
    -webkit-transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 0.2s;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 0.2s;
}

.package-detail-page .category-detail-content .table-layout {
    margin-top: 62px;
    display: block;
}

.package-detail-page .category-detail-content .table-layout-col {
    display: block;
}

.package-detail-page .tabs-menu li a {
    display: block;
}

.package-detail-page .category-detail-content {
    background-color: rgba(249, 230, 206, 0.3);
    height: 100%;
    display: block;
}

.package-detail-page .package-detail-section {
    /* height: calc(100% - 80px);
     width: calc(100% - 80px);
     */
    height: 100%;
    width: 97%;
    margin-left: auto;
}

.tab-content {
    display: none;
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.tab-content:first-child {
    display: block;
}

.package-detail-page .package-detail-section .package-description {
    padding: 1% 2.5% 1.5%;
    background-color: #f9efcb;
    background-image: url(/content/dam/vacationex/images/heading-bg.jpg);
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-bottom: -70px;
}

.package-detail-page .package-detail-section .package-detail-tab {
    padding: 0 35px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 80px;
    height: 100%;
    /*min-height: 100vh;*/
}

.package-detail-page .tab-content:first-child {
    display: none;
}

.package-detail-page .package-detail-section .package-title, .package-detail-page .package-detail-section .package-itinerary-num {
    color: #272727;
    font-size: 30px;
    text-transform: uppercase;
}

.package-detail-page .package-detail-section .package-itinerary-num {
    font-size: 18px;
}

.package-detail-page .package-detail-section .package-itinerary-departure-date {
    font-size: 12px;
    background-color: #b5aa85;
    display: inline-block;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    margin-top: 2px;
}

.package-detail-page .package-detail-section .call-us {
    position: absolute;
    right: 0;
    bottom: -10px;
    line-height: 0;
    max-width: 140px;
}

.package-detail-page .package-detail-section .package-subtitle {
    font-size: 14px;
    color: #272727;
    margin-top: 2%;
    position: relative;
    font-style: italic;
}

/* .package-detail-page .package-detail-section .package-subtitle:after{
     content:'';
     display:block;
     width: 40px;
     height: 6px;
     background-color: #272727;
     margin-left: 10px;
     position: absolute;
     bottom: 0;
}
 */

.package-detail-page .package-detail-section .package-details {
    padding-bottom: 10px;
}

.package-detail-page .package-detail-section .package-tabs-heading {
    color: #f9efcb;
    margin-bottom: 0px;
    /* background-color: rgba(249, 239, 203, 0.45);
     */
    /* padding: 1% 0px;
     */
    font-size: 24px;
    line-height: 26px;
    /* font-family: 'dinbold';
     */
    text-transform: uppercase;
    padding-bottom: 1.5%;
}

.package-detail-page .package-detail-section .package-tabs-subheading, #inclusions .faqs-accordion .faq-accord-tab .package-place-name {
    color: #f9efcb;
    margin: 1.5% 0;
    text-transform: uppercase;
    font-size: 18px;
    /* border-bottom: 1px solid #f9efcb;
     */
    display: block;
    padding: 0;
    font-family: 'din_mediumregular';
}

#inclusions .faqs-accordion .faq-accord-tab .package-place-name:after {
    display: none;
}

#inclusions .faqs-accordion .faq-accord-tab:first-child .package-place-highlights {
    display: block;
}

#inclusions .faqs-accordion .faq-accord-tab .package-place-highlights ul {}

#inclusions .faqs-accordion .faq-accord-tab .package-place-highlights>ul li {
    margin: 7x 0;
}

#inclusions .faqs-accordion .faq-accord-tab .package-place-highlights>ul>li:after, .package-detail-page .package-listing-pointers .highlight-points li:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(/content/dam/vacationex/images/place-highlight-bullet.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 5px;
    left: 0;
}

#inclusions .faqs-accordion .faq-accord-tab .package-place-highlights ul li ul {}

#inclusions .faqs-accordion .faq-accord-tab .package-place-highlights ul li ul li {}

.package-detail-page .package-listing-pointers, .enquiry-form {
    /* background-color: rgba(249, 239, 203, 0.45);
     */
    /* padding: 1.5% 0px;
     */
    overflow-x: auto;
}

.package-detail-page .package-listing-pointers .package-place-name {
    /* font-family: 'dinbold';
     */
    font-size: 20px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 3px;
    color: #f9efcb;
    text-transform: capitalize;
}

.package-detail-page #highlights .package-listing-pointers .package-place-name, .package-detail-page #pricing .package-listing-pointers .package-place-name {
    font-weight: normal;
    margin-bottom: 10px;
    color: #f9efcb;
}

.package-detail-page .package-listing-pointers .package-place-name:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(/content/dam/vacationex/images/place-highlight-bullet.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 5px;
    left: 0;
}

.package-detail-page .package-listing-pointers ul {
    margin-bottom: 20px;
}

.package-detail-page .package-listing-pointers ul li, .package-detail-page .package-listing-pointers .package-place-highlights {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 3px;
    color: #f9efcb;
    font-family: 'din_lightregular';
}

.package-detail-page .package-listing-pointers ul li:after {
    content: '-';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.package-detail-page .package-listing-pointers .package-place-highlights {
    /* margin-left: 30px;
     padding-left: 0;
     */
}

/* Review block */

.package-detail-page .package-listing-pointers .package-reviews-block {
    position: relative;
    font-size: 18px;
    margin: 3px 0 20px;
    color: #f9efcb;
    font-family: 'din_lightregular';
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-name {
    font-weight: bold;
    font-size: 20px;
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content {
    border-bottom: 1px solid rgba(209, 200, 172, 0.30);
    padding-bottom: 17px;
    margin-bottom: 10px;
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content p {
    padding: 5px 30px;
    position: relative;
    margin: 10px auto 0;
    text-align: justify;
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content p:after, .package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content p:before {
    content: '';
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background-size: 20px;
    position: absolute;
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content p:after {
    background-image: url(/content/dam/vacationex/images/quote-end.png);
    right: 0;
    bottom: 0;
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content p:before {
    background-image: url(/content/dam/vacationex/images/quote-start.png);
    top: 0;
    left: 0;
}

/* Explore block */

.package-detail-page .package-listing-pointers .package-explore-block {
    position: relative;
    font-size: 18px;
    margin: 3px 0 20px;
    color: #f9efcb;
    font-family: 'din_lightregular';
}

.package-detail-page .package-listing-pointers .package-explore-block .explore-content {
    border-bottom: 1px solid rgba(209, 200, 172, 0.30);
    padding-bottom: 17px;
    margin-bottom: 10px;
    position: relative;
}

.package-detail-page .package-listing-pointers .package-explore-block .explore-content:after {
    /* content: '';
    display: block;
    position: absolute;
    width: 300px;
    height: 8px;
    background-image: url(/content/dam/vacationex/images/separator.png);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    background-position: center; */
}

.package-detail-page .package-listing-pointers .package-explore-block .explore-content p {
    padding: 5px 30px;
    position: relative;
    margin: 10px auto 0;
    text-align: center;
    font-style: italic;
}

/* */

/* .package-detail-page .package-listing-pointers ul li{
     font-size: 20px;
     position: relative;
     padding-left: 30px;
     margin-bottom: 3px;
     color: #f9efcb;
     text-transform: capitalize;
}
 .package-detail-page .package-listing-pointers ul li:after{
     content: '';
     display: block;
     position: absolute;
     background-image: url(/content/dam/vacationex/images/place-highlight-bullet.png);
     width: 15px;
     height: 15px;
     background-repeat: no-repeat;
     background-size: contain;
     top: 5px;
     left: 0;
}
 .package-detail-page .package-listing-pointers > ul > ul{
     margin-left: 30px;
     padding-left: 0;
}
 .package-detail-page .package-listing-pointers > ul > ul li{
     position: relative;
     padding-left: 20px;
     font-size: 18px;
     margin-bottom: 3px;
     color: #f9efcb;
     font-family: 'din_lightregular';
}
 .package-detail-page .package-listing-pointers > ul > ul li:after{
     content: '-';
     display: block;
     position: absolute;
     left: 0;
     top: 0;
}
 */

/* */

.package-detail-page .package-detail-section .tab-content .custom-tab-title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 1.5% auto;
    overflow: hidden;
    color: #f9efcb;
    letter-spacing: 4px;
}

.package-detail-page .package-detail-section .tab-content .custom-tab-title:after, .package-listing .package-subheading:after {
    background-image: url(/content/dam/vacationex/images/font-border.png);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    left: 0.5em;
    margin-right: -100%;
}

.itinerary-day-summary .slick-slide>div {
    position: relative;
}

.itinerary-day-summary .daywise-itinerary .read-more-popup-content {
    display: none;
}

#itinerary .wrapper-p {
    position: relative;
}

/* #itinerary .read-more-popup-block .mCSB_scrollTools{
     height: 80%;
     bottom: 0;
     top: auto;
}
 */

#itinerary .read-more-popup-body {
    position: absolute;
    width: 100%;
    background-color: rgba(53, 53, 53, 0.9);
    -webkit-transition: all .3s cubic-bezier(0.39, 0.58, 0.57, 1);
    transition: all .3s cubic-bezier(0.39, 0.58, 0.57, 1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 15px;
    margin-top: 50px;
}

#itinerary .read-more-popup-body.active {
    z-index: 2;
    margin-top: 0px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#itinerary .close-btn {
    display: block;
    position: absolute;
    right: -9px;
    top: -14px;
    font-size: 17px;
    font-weight: bold;
    background-color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}

#itinerary .read-more-popup-block .close-btn {
    display: none;
}

#itinerary .read-more-popup-block {
    max-height: 100%;
}

#itinerary .read-more-popup-block p, #itinerary .read-more-inner-block p {
    margin-bottom: 10px;
    color: #f9efcb;
}

#itinerary .read-more-popup-block .pop-up-img, #itinerary .read-more-inner-block .pop-up-img {
    float: left;
    margin-right: 10px;
}

#itinerary .read-more-popup-block ul {}

#itinerary .read-more-popup-block ul li, #itinerary .read-more-inner-block ul li {
    color: #f9efcb;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}

#itinerary .read-more-popup-block ul li:after, #itinerary .read-more-inner-block ul li:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(/content/dam/vacationex/images/place-highlight-bullet.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 5px;
    left: 0;
}

.itinerary-day-summary .daywise-itinerary {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 5px;
    margin-top: 0;
}

.itinerary-day-summary .itinerary-img {
    width: 100%;
}

.itinerary-day-summary .itinerary-day {
    color: #fbe9d1;
    font-size: 30px;
    line-height: 30px;
    margin: 10% 0 5% 17px;
    -webkit-transition: all 0.5s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    transition: all 0.5s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    position: relative;
    top: 30px;
}

.itinerary-day-summary .daywise-itinerary:hover .itinerary-day {
    top: 0px;
}

.itinerary-day-summary .itinerary-day:after {
    content: '';
    display: block;
    width: 25px;
    height: 4px;
    background-color: #fbe9d1;
    position: relative;
    top: 10px;
    left: 2px;
}

.itinerary-day-summary .daywise-details {
    padding: 4%;
    overflow: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    transition: all 0.3s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    font-size: 11px;
    line-height: 14px;
}

.itinerary-day-summary .daywise-itinerary .daywise-details .slidInUpTrans {
    -webkit-transition: all 0.5s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    transition: all 0.5s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: relative;
    bottom: -150px;
    height: 41px;
    overflow: hidden;
}

.itinerary-day-summary .daywise-itinerary:hover .daywise-details {
    background-color: rgba(249, 239, 203, 0.7);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}

.itinerary-day-summary .daywise-itinerary:hover .daywise-details .slidInUpTrans {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    bottom: 0px;
}

.itinerary-day-summary .read-more {
    background-color: #262825;
    color: #fff;
    padding: 5px 10px;
    position: relative;
    display: block;
    margin-top: 10px;
    max-width: 90px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
}

.cd-main-content .slick-prev:before, .cd-main-content .slick-next:before {
    content: '';
}

.cd-main-content .slick-prev, .cd-main-content .slick-next {
    background-image: url('/content/dam/vacationex/images/arrow-sprites.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.cd-main-content .slick-prev {
    background-position: 0;
    background-position: -38px;
    /* left: 12px;
     */
}

.cd-main-content .slick-next {
    background-position: -12px;
    background-position: -58px;
    /* right: 12px;
     */
}

.cd-main-content .slick-prev.slick-disabled, .cd-main-content .slick-next.slick-disabled {
    display: none !important;
}

/* enquiry form*/

.enquiry-form {
    background-color: #f3e0c9;
    padding: 30px;
    margin: 0 auto;
}

.enquiry-form .form-group {
    margin-bottom: 1.5%;
    overflow: hidden;
    /*clear: both;*/
    display: block;
    width: 100%;
}

.enquiry-form .form-group.align-left {
    float: left;
    width: 48%;
    clear: initial;
}

.enquiry-form .form-group.align-right {
    float: right;
    width: 48%;
    clear: initial;
}

.enquiry-form .form-group .control-label {
    width: 25%;
    background-color: #dd6006;
    color: #f9e6ce;
    padding: 6px 10px;
    text-align: center;
    float: left;
    font-size: 16px;
    font-family: 'din_lightregular';
}

.enquiry-form .form-group .form-ele {
    width: 75%;
    color: #272727;
    padding: 0;
    float: left;
}

.enquiry-form .form-group .form-control {
    border: 0 none;
    width: 100%;
    padding: 7px;
    font-size: 16px;
    background-color: #e9e9e9;
    font-family: 'din_lightregular';
}

.enquiry-form .form-group .select2-container {
    width: 100% !important;
    text-align: left;
}

.enquiry-form .form-group .select2-container--default .select2-selection--single {
    border: 0 none;
    border-radius: 0;
    height: auto;
}

.enquiry-form .form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #272727;
    line-height: 16px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.enquiry-form .form-group .error-msg {
    float: none;
    clear: both;
    display: block;
    width: 100%;
    font-size: 9px;
    color: #f11919;
    height: 13px;
    line-height: 13px;
    font-family: 'dinbold';
}

.enquiry-form .form-group.form-submit .form-ele {
    width: 100%;
    float: none;
    background-color: transparent;
}

.enquiry-form .form-group.form-submit {
    overflow: inherit;
    text-align: center;
}

.enquiry-form .form-group.form-submit #submit-btn {
    background-color: #fff;
    max-width: 150px;
    box-shadow: 1px 2px 4px 0px #000;
    cursor: pointer;
}

.enquiry-form .form-group.otp-block {
    width: 68%;
}

.enquiry-form .form-group.otp-btn {
    width: 30%;
}

.enquiry-form .form-group.otp-btn .v-otp-btn {
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.enquiry-form .form-group.otp-btn .v-otp-btn.active {
    border: 0 none;
}

.enquiry-form .form-group.otp-btn .v-otp-btn.active:after {
    content: '';
    display: block;
}

.enquiry-form .form-group.otp-block, .enquiry-form .form-group.otp-btn {}

.enquiry-form .form-group.hidden-btn {
    -webkit-transition: all cubic-bezier(0, 0, 0.2, 1) 0.2s;
    transition: all cubic-bezier(0, 0, 0.2, 1) 0.2s;
    position: relative;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin-bottom: 0;
}

.enquiry-form .form-group.hidden-btn.active {
    height: 100%;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    margin-bottom: 10px;
}

.redesigned-enquiry-form.enquiry-form {
    background-color: #fff;
}

.redesigned-enquiry-form.enquiry-form .form-title {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 0;
    text-align: center;
}

.redesigned-enquiry-form.enquiry-form .form-subheading {
    text-align: center;
    margin: 10px auto 25px;
    font-size: 16px;
}

.redesigned-enquiry-form.enquiry-form .form-group .control-label {
    display: none;
}

.redesigned-enquiry-form.enquiry-form .form-group .form-control {
    border-bottom: 1px solid;
    padding-left: 0;
    background-color: transparent;
    overflow-y: auto;
}

.redesigned-enquiry-form.enquiry-form .form-group .form-ele {
    width: 100%;
    float: none;
}

.redesigned-enquiry-form.enquiry-form .form-group.otp-block {
    width: 48%;
}

.redesigned-enquiry-form.enquiry-form .form-group.form-submit #submit-btn {
    background-color: #f3e0c9;
    box-shadow: 0 0 0 0;
    border: 0 none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 14px;
    max-width: 110px;
}

.redesigned-enquiry-form.enquiry-form .form-group {
    position: relative;
}

.redesigned-enquiry-form.enquiry-form .form-group .otp-btn {
    position: absolute;
    top: 8px;
    right: 2px;
}

.redesigned-enquiry-form.enquiry-form .form-group .otp-btn {}

.redesigned-enquiry-form.enquiry-form .form-group.form-submit {
    padding-top: 14px;
}

#popup-enquiry-form .enquiry-form .form-group.otp-btn .form-ele {
    width: 100%;
}

/*Destination List*/

#enquiry-form .destination-list {
    float: left;
    list-style: none;
    margin-top: -3px;
    padding: 0;
    margin-left: 0px;
    position: absolute;
    width: 69%;
    z-index: 99;
}

/*float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute; width: 69%;}*/

#enquiry-form .destination-list li {
    width: 100%;
    padding: 10px 0;
    background: #f0f0f0;
    border-bottom: #bbb9b9 1px solid;
    text-indent: 8px;
}

/*padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}*/

#enquiry-form .destination-list li:hover {
    background: #ece3d2;
    cursor: pointer;
}

#enquiry-form .destination {
    padding: 10px;
    border-radius: 4px;
}

#enquiry-form .destination-selected {
    color: black;
}

#personalised_form .destination-list {
    float: left;
    list-style: none;
    margin-top: -3px;
    padding: 0;
    margin-left: 0px;
    position: absolute;
    width: 100%;
    z-index: 99;
}

#personalised_form .destination-list li {
    padding: 10px;
    background: #f0f0f0;
    border-bottom: #bbb9b9 1px solid;
}

#personalised_form .destination-list li:hover {
    background: #ece3d2;
    cursor: pointer;
}

/*#personalised_form .destination{padding: 10px;border-radius:4px;}*/

#personalised_form .destination-selected {
    color: black;
}

.tm-tag {
    color: #555;
    background-color: #f5f5f5;
    border: #bbb 1px solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
    border-radius: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0 5px 5px 0;
    padding: 4px;
    text-decoration: none;
}

.tm-tag .tm-tag-remove {
    color: #000;
    font-weight: bold;
    margin-left: 4px;
    opacity: .2;
}

/* .enquiry-form {
     position: absolute;
     top: 50%;
     background-color: #fff;
     -webkit-transform: translate3d(320px,0,0);
     transform: translate3d(320px,0,0);
     -webkit-transition: -webkit-transform 0.4s;
     transition: transform 0.4s;
     -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
     transition-timing-function: cubic-bezier(0.7,0,0.3,1);
     right: 0;
}
 */

/* .enquiry-form.active{
     -webkit-transform: translate3d(0px,0,0);
     transform: translate3d(0px,0,0);
}
 */

/* FAQS */

.faqs-accordion .faq-accord-tab {
    overflow: hidden;
    padding-left: 0px !important;
}

.faqs-accordion .faq-accord-tab:after {
    display: none !important;
}

.faqs-accordion .faq-accord-tab .package-place-name {
    padding-right: 28px;
    cursor: pointer;
    margin: 1.5% 10px;
}

.faqs-accordion .faq-accord-tab .package-place-highlights {
    display: none;
}

.faqs-accordion .faq-accord-tab ul {
    margin-bottom: 0px;
}

.faqs-accordion .faq-accord-tab:first-child ul {
    display: block;
}

.faqs-accordion .faq-accord-tab .package-place-name:before {
    content: '+';
    display: block;
    position: absolute;
    right: 15px;
}

.faqs-accordion .faq-accord-tab .package-place-name.active:before {
    content: '-';
}

/****************** Vertical Two Block Structure *******************/

.v-two-block {}

.v-two-block .table-layout, .v-two-block .table-layout .table-layout-col {
    display: block;
}

.v-two-block .top-heading-block {
    position: relative;
}

.v-two-block .top-heading-block:after {
    content: '';
    display: block;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.v-two-block .top-heading-block .wrapper {
    background-color: #f9efcb;
    background-image: url(/content/dam/vacationex/images/heading-bg.jpg);
    max-width: 635px;
    margin: 0 auto;
    text-align: center;
    padding: 4% 40px 2%;
    position: relative;
}

.v-two-block .bottom-content-block {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.v-two-block .bottom-content-block .wrapper {
    max-width: 1250px;
    padding-top: 2%;
}

.v-two-block .page-name {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 36px;
    margin: 22px auto;
}

.v-two-block .bottom-content-block .quote-block {
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    color: #fff;
    font-family: 'din_lightregular';
}

.v-two-block .bottom-content-block .main-block {
    text-align: justify;
    line-height: 20px;
    font-size: 16px;
    width: 100%;
    color: #fff;
    font-family: 'din_lightregular';
}

.v-two-block .bottom-content-block ul {
    list-style: disc;
    margin-left: 26px;
}

.v-two-block .bottom-content-block ul li ul {
    list-style: circle;
    margin-left: 26px;
}

.v-two-block .bottom-content-block ul li {
    margin: 3px 0;
}

.v-two-block .bottom-content-block .slick-list {
    margin: 0 auto;
}

.v-two-block .bottom-content-block .slick-slider {
    padding: 0 30px;
}

.v-two-block .bottom-content-block .slick-prev {
    background-position: -41px;
    left: 0px;
}

.v-two-block .bottom-content-block .slick-next {
    background-position: -53px;
    right: 0px;
}


/*about-us style has been moved into about us component (changed-Awadhesh) */

/* Corporate Form style has been moved into corporate component (changed-Onkar) */

/* Personalised Form style has been moved into personalised component (changed-Awadhesh) */



/* footer */

.floating-enquiry-btn {
    background-image: url(/content/dam/vacationex/images/enquiry-icon.png);
    background-repeat: no-repeat;
    width: 120px;
    height: 60px;
    margin: 0;
    right: 0;
    display: block;
    z-index: 2;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    /* margin-top: 10px;
     */
}

/* .footer .footer-mail-us img{
     max-width: 150px;
     position: absolute;
     top: -27px;
     right: 0;
}
 */

.floating-icons {
    position: fixed;
    right: 0;
    bottom: 45px;
    z-index: 2;
    width: 45px;
    height: 170px;
}

.floating-enquiry-form {
    position: absolute;
    bottom: 0;
    right: 0;
}

.floating-social-icon {
    background-color: #272727;
    position: relative;
    top: 0;
    width: 45px;
    z-index: inherit;
    margin-left: auto;
    padding: 2px 0;
    position: absolute;
}

.floating-social-icon li {
    width: 30px;
    height: 30px;
    margin: 4px 8px;
    display: block;
}

.floating-social-icon li a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/content/dam/vacationex/images/social-icons.png);
    background-repeat: no-repeat;
    background-size: 28px;
}

.floating-social-icon li.insta a {
    background-position: 1px 2px;
}

.floating-social-icon li.twitter a {
    background-position: 1px -31px;
}

.floating-social-icon li.fb a {
    background-position: 1px -67px;
}

.footer {
    background-color: #f79c00;
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.footer .footer-copy {
    float: left;
    padding-left: 5%;
}

.footer .footer-mail-us {
    float: right;
    padding-right: 5%;
}

/* Footer Links */

.footer .footer-copy, .footer-links, .footer-mail-us {
    display: inline-block;
}

.footer-links li {
    display: inline-block;
    margin: 0 5px;
}

.with-scroll-page .container {
    overflow: auto;
    height: auto;
}

.with-scroll-page .table-layout {
    overflow: hidden;
}

.with-scroll-page .footer {
    position: relative;
}

.with-scroll-page .cd-main-content {
    /* padding-bottom: 20px;
     */
}

.with-scroll-page #left-col-width {
    position: fixed;
    top: 0;
    height: 100vh;
    right: 0;
}

.with-scroll-page #right-col-width {
    float: left;
}

/* Rohit Utekar */

.default-open-sans-font {
    font-family: "Open Sans", sans-serif;
}

.allow-scroll .footer {
    position: fixed;
}

.exclusion-note {
    font-family: 'dinbold';
    color: #f9efcb;
}

/*Dynamic landing page */

.landing-page-form #left-col-width {
    /* background-color: #f3e0c9; */
}

.landing-page-form .enquiry-form .form-group.otp-btn {
    background-color: #fff !important;
    box-shadow: 1px 2px 4px 0px #000;
}

.landing-page-form .package-detail-section .package-detail-tab {
    /* min-height: auto; */
}

.landing-page-form #left-col-width .enquiry-form {
    background-color: transparent;
    max-width: 390px;
}

.landing-page-form .enquiry-form .form-group .form-ele {
    width: 100%;
}

.landing-page-form .enquiry-form .form-group .form-control {
    font-size: 14px;
}

.landing-page-form .enquiry-form .form-group.otp-btn {
    width: 35%;
}

.landing-page-form .enquiry-form .form-group.otp-block {
    width: 63%;
}

.landing-page-form .radio-container {
    text-shadow: 2px 2px #3c383891;
    color: #fff;
}

.campaign-thank-you {
    background-color: #272727 !important;
    color: #fff;
    font-size: 20px;
}

.know-more-btn {
    padding: 8px;
    background-color: #eba113;
    color: #fff !important;
    display: inline-block;
    margin-top: 12px;
    font-size: 14px;
    line-height: 14px;
}

.twitter-typeahead {
    display: block !important;
}

/* Campaign with package listing view */

.campaign-package {
    will-change: inherit;
}

.campaign-package .package-detail-section .package-description {
    margin-bottom: -30px;
}

.campaign-package .package-detail-section .package-detail-tab {
    padding-top: 40px;
}

.campaign-package .category-detail-content {
    background-color: transparent;
}

.campaign-package .packages-list li {
    width: 100%;
    float: none;
}

.campaign-package .individual-package-detail .indi-package-pic {
    min-height: 170px;
}

.campaign-package .packages-list li:nth-child(odd) .individual-package-detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.campaign-package .packages-list li:nth-child(even) .individual-package-detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.campaign-package.cd-main-content {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.campaign-package #left-col-width .enquiry-form .form-title {
    color: #ffff;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.campaign-package #left-col-width .enquiry-form {
    background-color: #272727;
}

.campaign-package #left-col-width .enquiry-form .form-title {
    color: #ffff;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.campaign-page-wrapper .cd-header-buttons, .campaign-page-wrapper .floating-enquiry-btn {
    display: none;
}

.campaign-page-wrapper .tollfree-btn {
    right: 18px;
}

.campaign-page-wrapper .enquiry-form .form-group.otp-btn .v-otp-btn {
    border: 1px solid #fff;
    font-size: 11px;
}

.campaign-page-wrapper .enquiry-form .form-group.otp-btn {
    border: 1px solid #fff;
    font-size: 11px;
}

.campaign-page-wrapper .enquiry-form .form-group.form-submit #submit-btn {
    max-width: 150px;
    cursor: pointer;
    border: 3px solid #fff;
}

.campaign-page-wrapper .enquiry-form .form-group.form-submit #submit-btn, .campaign-page-wrapper .enquiry-form .form-group.otp-btn, .campaign-page-wrapper .enquiry-form .form-group.otp-btn .v-otp-btn {
    color: #fff;
    background-color: transparent !important;
    transition: all 0.3s linear;
    box-shadow: none;
}

.campaign-page-wrapper .enquiry-form .form-group.form-submit #submit-btn:hover, .campaign-page-wrapper .enquiry-form .form-group.otp-btn:hover, .campaign-page-wrapper .enquiry-form .form-group.otp-btn .v-otp-btn:hover {
    background-color: #fff !important;
    color: #272727 !important;
}

.campaign-page-wrapper .enquiry-form .form-group:not ( .hidden-btn) {
    margin-bottom: 10 px;
}

.campaign-page-wrapper .enquiry-form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
}

.campaign-page-wrapper .enquiry-form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}

.campaign-page-wrapper .enquiry-form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

.campaign-page-wrapper .enquiry-form input:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}


/* Testimonial Page  style has been moved into Testimonial  component (changed-Onkar)*/

.testimonial-page {
    background-image: url(/content/dam/vacationex/images/testimonial-bg.jpg);
}

.testimonial-page .wrapper {
    height: auto;
}

.testimonial-slider {
    /* margin-top: 110px; */
}

.testimonial-slider .slick-list {
    margin: 0 auto;
    max-width: 90%;
}

.cd-main-content .testimonial-slider .slick-prev.slick-disabled, .cd-main-content .testimonial-slider .slick-next.slick-disabled {
    display: block !important;
    opacity: 0.7;
}

.testimonial-slider .slider-thumbnail .thumbnail-content {
    /* max-width: 400px; */
}

/*.testimonial-slider{}*/

.testimonial-slider .slider-thumbnail .slick-current.slick-active .thumbnail-content {
    /*transform: rotate(-5deg);
    transform-origin: center;*/
}

.testimonial-slider .slider-thumbnail .slick-slide {
    /* position: absolute; */
}

.testimonial-slider .slider-thumbnail {
    width: 40%;
    float: left;
    /* background-image: url(/content/dam/vacationex/images/testimonial-bg-01.png); */
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 40px;
}

.testimonial-slider .slider-thumbnail .thumbnail-content {
    background-color: #fff;
    padding: 20px;
    /* max-width: 400px; */
    transition: all 0.5s cubic-bezier(0.47, 0, 0.75, 0.72);
    transform: rotate(0deg);
    transform-origin: center;
    margin: 22px;
}

.testimonial-slider .slider-thumbnail .slick-list {
    max-width: 100%;
}

.testimonial-slider .slider-thumbnail .thumbnail-content .thumbnail-img {}

.testimonial-slider .slider-thumbnail .thumbnail-content .thumbnail-img img {
    width: 100%;
}

.testimonial-slider .slider-thumbnail .thumbnail-content .thumbnai-title {
    font-size: 20px;
    font-family: 'dinbold';
    margin-top: 10px;
    margin-bottom: 5px;
}

.testimonial-slider .slick-dots {
    /* bottom: -4px; */
    padding-right: 40px;
}

.testimonial-slider .slick-dots li {
    width: 15px;
    height: 15px;
    margin: 0 2px;
}

.cd-main-content .testimonial-slider .slick-prev, .cd-main-content .testimonial-slider .slick-next {
    background-position: center;
    width: 40px;
    height: 40px;
}

.cd-main-content .testimonial-slider .slick-prev {
    background-image: url('/content/dam/vacationex/images/arrow-left-white.png');
}

.cd-main-content .testimonial-slider .slick-next {
    background-image: url('/content/dam/vacationex/images/arrow-right-white.png');
}

.testimonial-slider .slick-dots li button:before {
    color: white;
    font-size: 12px;
}

.testimonial-slider .slick-dots li.slick-active button:before {
    color: white;
}

.mfp-content .testimonial-img-popup {
    background-color: #fff;
    text-align: center;
}

.mfp-close-btn-in .testimonial-img-popup .mfp-close {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    right: 0.25em;
    top: 0.25em;
}

.testimonial-slider .slider-content {
    width: 60%;
    float: left;
    color: #fff;
    padding-right: 40px;
    margin-top: 30px;
}

.testimonial-slider .slider-content .title {
    font-size: 30px;
    margin-left: 30px;
}

.testimonial-slider .slider-content .sub-title {
    font-family: 'din_lightregular';
    font-size: 26px;
    margin-left: 30px;
}

.testimonial-slider .slider-content .slider-quote {
    padding: 5px 30px;
    position: relative;
    margin: 25px auto;
    text-align: justify;
}

.testimonial-slider .slider-content .slider-quote:after, .testimonial-slider .slider-content .slider-quote:before {
    content: '';
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background-size: 20px;
    position: absolute;
}

.testimonial-slider .slider-content .slider-quote:after {
    background-image: url(/content/dam/vacationex/images/quote-end.png);
    right: 0;
    bottom: 0;
}

.testimonial-slider .slider-content .slider-quote:before {
    background-image: url(/content/dam/vacationex/images/quote-start.png);
    top: 0;
    left: 0;
}

.testimonial-slider .slider-content .slider-quote p {
    font-family: 'din_lightregular';
    font-size: 20px;
    margin-bottom: 20px;
}

.testimonial-slider .slider-content .slider-quote p:last-child {
    margin-bottom: 0;
}

.testimonial-page .navigate-to-target {
    max-width: 180px;
    margin-left: auto;
    display: block;
    margin-top: -33px;
    z-index: 2;
    position: relative;
}

.testimonial-page .navigate-to-target a {
    color: #fff;
    text-align: center;
    font-size: 21px;
    padding: 10px 0;
    box-shadow: 0px 0px 0px 2px #fff;
    transition: all linear 0.2s;
    display: block;
}

.testimonial-page .navigate-to-target a:hover {
    color: #272727;
    background-color: #fff;
}

.tour-manager .slider-content .slider-quote:after, .tour-manager .slider-content .slider-quote:before {
    display: none;
}

/*contact-us style has been moved to contact us component (changed by - Awadhesh)*/

/*****************
landing-page-opt-03 
*****************/

.package-custom-bg .package-main {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.package-custom-bg {
    background-color: #feb74a;
}

.container.package-custom-bg {
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.no-navigation-menu {}

.no-navigation-menu .cd-header-buttons, .no-navigation-menu .floating-enquiry-btn {
    display: none;
}

.no-navigation-menu .tollfree-btn {
    right: 18px;
}

.landing-page-opt-03 {
    background-image: none;
}

.landing-page-opt-03 .package-listing {
    background-image: none;
}

.landing-page-opt-03 #left-col-width {
    background-color: #fff;
}

.landing-page-opt-03 #right-col-width {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.landing-page-opt-03 .landing-page-desc {}

.landing-page-opt-03 .landing-page-desc .page-title {
    text-align: center;
    margin: 150px auto;
}

.landing-page-opt-03 .landing-page-desc .page-title img {
    max-width: 400px;
}

.landing-page-opt-03 .wrapper {
    padding-top: 0px;
}

.landing-page-opt-03 #left-col-width .enquiry-form {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
}

.landing-page-opt-03 #left-col-width .enquiry-form .form-title {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.landing-page-opt-03 #left-col-width .enquiry-form .form-title, .landing-page-opt-03 #left-col-width .enquiry-form .form-subheading {
    color: #292929;
}

.landing-page-opt-03 #left-col-width .enquiry-form .form-subheading {
    text-align: center;
    margin: 10px auto 25px;
    font-size: 16px;
}

.landing-page-opt-03 #left-col-width form {
    max-width: 90%;
    margin: 0 auto;
}

.landing-page-opt-03 .enquiry-form .form-group .form-ele {
    width: 100%;
    margin-bottom: 30px;
}

.landing-page-opt-03 .enquiry-form .form-group.form-submit .form-ele {
    margin-bottom: 0px;
    transition: all 0.3s linear;
    opacity: 0.8;
}

.landing-page-opt-03 .enquiry-form .form-group.form-submit .form-ele:hover {
    opacity: 1;
}

.landing-page-opt-03 .enquiry-form .form-group .form-ele #tnc {
    float: left;
}

.landing-page-opt-03 .enquiry-form .form-group .radio-container .copy {
    padding-left: 22px;
    display: block;
}

.landing-page-opt-03 .enquiry-form .form-group .form-control {
    background-color: transparent;
    border-bottom: 1px solid #8d8d8d;
}

.ve-thank-you {
    background-color: transparent !important;
    color: #272727;
    text-align: center;
}

/* New form style */

.option_new_form.enquiry-form .form-group.otp-block {
    width: 100%;
}

.option_new_form.enquiry-form .form-group .form-control {
    background-color: transparent;
    border-bottom: 1px solid #8d8d8d;
    padding-left: 0;
    color: #292929;
    font-weight: bold;
}

.option_new_form.enquiry-form .form-group .form-ele {
    width: 100%;
    float: none;
}

.option_new_form.enquiry-form .form-group.form-submit #submit-btn {
    box-shadow: 0 0 0 0;
    border: 0 none;
    font-family: 'dinbold';
    text-transform: uppercase;
    padding: 10px 0;
    background-color: #f49f03;
    color: inherit;
    font-size: 20px;
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.option_new_form.enquiry-form .form-group {
    position: relative;
}

.option_new_form.enquiry-form .form-group .otp-btn {
    position: absolute;
    top: 8px;
    right: 2px;
    color: #9d9d9d;
    cursor: pointer;
    text-transform: uppercase;
}

.option_new_form.enquiry-form .form-group.form-submit {
    padding-top: 14px;
}

@media screen and (max-width: 768px) {
    /*Enquiry Form*/
    #enquiry-form .destination-list li {
        width: 88%;
    }
    .with-scroll-page #left-col-width {
        position: relative;
        height: auto;
        float: none;
    }
    .with-scroll-page #right-col-width {
        float: none;
    }
    .with-scroll-page .contact-us #left-col-width .table-layout-col {
        vertical-align: middle;
    }
    .contact-us .corporate-office {
        margin-top: auto;
    }
}

@media screen and (max-width: 1400px) {
    /*Enquiry Form*/
    #enquiry-form .destination-list li {
        width: 100%;
    }
    .itinerary-day-summary .daywise-itinerary {
        margin: 0 5px 5px;
    }
    .itinerary-day-summary .itinerary-day {
        margin: 3% 0 5% 17px;
    }
    .itinerary-day-summary .daywise-details {
        padding: 3%;
    }
    .itinerary-day-summary .read-more {
        margin-top: 5px !important;
    }
    .package-detail-page .package-detail-section .tab-content .custom-tab-title {
        margin: 1.5% auto 2%;
    }
    .v-two-block .bottom-content-block .quote-block {
        /* font-size: 16px;
         line-height: 18px;
         */
    }
    .v-two-block .bottom-content-block .main-block {
        /* font-size: 14px;
         line-height: 18px;
         */
    }
    .package-custom-bg .package-main {
        width: 94%;
    }
}

@media screen and (max-width: 1250px) {
    .footer .footer-copy, .footer .footer-mail-us {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    section.cd-main-content {
        height: calc(100% - 118px);
    }
    .v-two-block .bottom-content-block .wrapper {
        width: 95%;
    }
    .contact-us .our-offices ul li {
        font-size: 14px;
    }
    .testimonial-slider .slider-content {
        padding-right: 0px;
    }
    .testimonial-slider .slick-list {
        max-width: 95%;
    }
    .testimonial-slider .slider-thumbnail, .testimonial-slider .slick-dots {
        padding-right: 10px;
    }
    .floating-icons {
        bottom: 90px;
    }
}

@media screen and (max-width: 1200px) {
    .balmer-logo img {
        max-width: 160px;
    }
    .vx-logo {
        max-width: 130px;
        top: 32px;
    }
    section.cd-main-content {
        height: calc(100% - 112px);
    }
    .index-page #right-col-width {
        background-size: 100%;
    }
    .landing-page-opt-03 #left-col-width {
        width: 35%;
        max-width: 35%;
    }
    .landing-page-opt-03 #right-col-width {
        width: 65%;
        max-width: 65%;
    }
}

@media screen and (max-width: 1024px) {
    /*Enquiry Form*/
    #enquiry-form .destination-list li {
        width: 100%;
    }
    .enquiry-form .form-group .control-label {
        width: 34%;
        font-size: 14px;
    }
    .enquiry-form .form-group .form-ele {
        width: 66%;
    }
    .corporate-form .form-group .form-ele {
        width: 100%;
    }
    .group-holiday-category .holiday-thumbnail .category-name {
        font-size: 32px;
    }
    .index-page #left-col-width .logo {
        max-width: 140px;
    }
    .personalised-from.corporate-form .enquiry-form .form-group.otp-block {
        width: 58%;
    }
    .personalised-from.corporate-form .enquiry-form .form-group.otp-btn {
        width: 40%;
    }
    .contact-us .our-offices ul li {
        width: 46%;
        margin: 0px 2% 10px;
    }
    .contact-us .our-offices ul li.getintouvh-btn {
        margin: 0px auto 10px;
        float: none;
        display: block;
        clear: both;
    }
    .testimonial-slider .slider-content, .testimonial-slider .slider-thumbnail {
        width: 50%;
    }
    .landing-page-opt-03 #left-col-width {
        width: 40%;
        max-width: 40%;
    }
    .landing-page-opt-03 #right-col-width {
        width: 60%;
        max-width: 60%;
    }
}

@media screen and (max-width: 900px) {
    .testimonial-slider .slider-content {
        width: 100%;
        float: none;
    }
    .testimonial-slider .slider-thumbnail {
        max-width: 400px;
        margin: 70px auto 10px;
        float: none;
        width: 100%;
    }
    .testimonial-slider .slider-thumbnail, .testimonial-slider .slick-dots {
        padding-right: 0;
    }
    .testimonial-slider .slider-content .sub-title, .testimonial-slider .slider-content .title {
        margin-left: 0px;
        text-align: center;
    }
    .testimonial-page .navigate-to-target {
        margin: 0 auto 30px;
    }
    .landing-page-opt-03 .individual-package-detail .indi-package-pic {
        min-height: inherit;
    }
}

@media screen and (max-width: 800px) and (min-width: 768px) {}

@media screen and (min-width: 769px) {
    .package-detail-page .tabs-menu {
        display: block !important;
    }
}

@media screen and (max-height: 700px) {
    .group-holiday-category .holiday-thumbnail .category-name {
        font-size: 30px;
        line-height: 32px;
    }
}

@media screen and (max-width: 768px) {
    .index-navigation .black-logo {
        display: none;
    }
    .index-navigation .white-logo {
        display: block;
    }
    section.cd-main-content {
        min-height: calc(100vh - 102px);
        height: 100%;
    }
    .package-detail-page {
        padding-bottom: 40px;
    }
    #package-detail-page {
        background-image: url('/content/dam/vacationex/images/package-listing-bg.jpg');
    }
    .fixed-navigation {
        position: relative;
    }
    #header {
        padding: 5px 13px;
    }
    .balmer-logo img {
        max-width: 130px;
    }
    .vx-logo {
        max-width: 110px;
        top: 16px;
    }
    .footer {
        position: relative;
    }
    .container {
        height: 100%;
    }
    .show-in-mobile {
        display: block;
    }
    .show-in-desktop {
        display: none;
    }
    .col {
        float: none;
        width: 100%;
        max-width: 100%;
    }
    .table-layout, .table-layout-col {
        display: block;
        height: auto;
    }
    /* Home page */
    section.cd-main-content.index-page {
        min-height: calc(100vh - 63px);
        padding-bottom: 0;
    }
    .index-page #left-col-width {
        display: none;
    }
    .index-page {
        background-image: url(/content/dam/vacationex/images/bg/home-page-bg.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    .index-navigation .vx-logo {
        display: block;
    }
    .index-page #right-col-width .dragdealer {
        background-color: transparent;
    }
    .index-page #right-col-width #dragger-slider {
        display: block;
    }
    .index-page #right-col-width {
        min-height: calc(100vh - 63px);
        top: 63px;
        background: none;
    }
    .index-page #right-col-width .table-layout-col {
        height: 100%;
        display: table-cell;
    }
    .index-page #right-col-width #map-img {
        height: calc(100vh - 120px);
    }
    .map-for-dekstop {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        min-height: calc(100vh - 102px);
        height: 100%;
    }
    .tollfree-btn {
        position: fixed;
        right: 0;
        top: 60px;
        z-index: 1;
        max-width: 128px;
    }
    .floating-icons {
        bottom: 65px;
        height: 154px;
    }
    .package-detail-page .package-detail-section {
        height: auto;
        width: 100%;
    }
    .category-page .page-heading-section {
        background-attachment: fixed;
        background-position: center;
    }
    .page-heading-section .page-title {
        padding-right: 0;
    }
    /* .logo {
         -webkit-transform: translate(50%, -45%);
         -ms-transform: translate(50%, -45%);
         transform: translate(50%, -45%);
         right: 50%;
         top: 100%;
    }
     */
    section .go-back {
        width: 23px;
        left: 5px;
    }
    section .go-back:before, section .go-back:after {
        width: 16px;
    }
    /* .load-more{
         right: 0px;
         top: -10px;
         float: none;
         margin: 0 auto;
         opacity: 1;
    }
     */
    #package-listing-page {
        min-height: auto;
    }
    .package-listing .wrapper {
        padding-top: 0px;
    }
    .package-listing .package-header {
        margin-top: 56px;
        display: block;
    }
    .package-listing .packages-list {
        /* margin-bottom: 20px; */
    }
    .package-listing .package-title.selecting-option {
        float: none;
        display: block;
        margin-bottom: 6px;
        width: 100%;
        max-width: 100%;
    }
    .package-listing .package-selected-option a {
        margin-bottom: 5px;
    }
    .package-listing .packages-list li {
        width: 100%;
    }
    .package-listing .package-multi-option {
        left: 50%;
        transform: translateX(-50%);
    }
    /*.package-listing .package-title{
         font-size: 18px;
         padding: 10px 40px;
         display: block;
         text-align: center;
    }*/
    .package-listing .package-subheading {
        padding: 10px 25px;
    }
    .package-listing .packages-list li:nth-child(odd) .individual-package-detail {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .package-listing .packages-list li:nth-child(even) .individual-package-detail {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .package-listing .individual-package-detail {
        min-height: auto;
    }
    .package-detail-page {
        /* background-image: none;
         */
    }
    .package-detail-page .tabs-menu li {
        /* font-size: 16px;
         */
        background-color: #faebdd;
        margin: 0;
    }
    .package-detail-page #left-col-width {
        /* background-image: url(/content/dam/vacationex/images/bg.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: left;
         */
    }
    .package-detail-page .package-detail-section .package-description {
        max-width: 70%;
        margin: 0 auto;
        padding: 50px 0;
    }
    .package-detail-page .category-detail-content .table-layout {
        margin-top: 0px;
    }
    .package-detail-page .package-detail-section .package-title, .package-detail-page .package-detail-section .package-subtitle, .package-detail-page .package-detail-section .package-itinerary-num {
        padding: 0 25px;
    }
    .package-detail-page .package-detail-section .package-subtitle {
        margin: 10px auto;
    }
    .package-detail-page .package-detail-section .package-title {
        font-size: 46px;
        line-height: 48px;
        position: relative;
    }
    .package-detail-page .package-detail-section .package-itinerary-departure-date {
        display: block;
        text-align: center;
        margin: 5px 0;
    }
    .package-detail-page .package-detail-section .call-us {
        left: -25px;
        right: auto;
        max-width: 166px;
    }
    .package-detail-page .category-detail-content {
        background-color: transparent;
        /* background-image: url(/content/dam/vacationex/images/bg.jpg);
         */
    }
    .package-detail-page .package-detail-section {
        width: 100%;
    }
    .package-detail-page .package-detail-section .package-detail-tab {
        padding: 0px;
        max-width: 95%;
        margin: 0 auto;
        min-height: auto;
    }
    .package-detail-page .tabs-menu {
        max-width: 480px;
        margin: 0 auto;
        max-width: 70%;
        position: fixed;
        top: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        /* max-height:0;
         overflow:hidden;
         -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg) translateX(-50%);
         -webkit-transform-origin:50% 0;
         -webkit-transition:350ms;
         -moz-transition:350ms;
         -o-transition:350ms;
         transition:350ms;
         */
        display: block;
        margin-top: 15px;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    .package-detail-page .tabs-menu.active-tab {
        margin-top: 0px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        z-index: 2;
    }
    .package-detail-page .tabs-menu li {
        /* width: 32.33%;
         float: left;
         margin: 3px 0.5%;
         */
        max-width: 100%;
    }
    .package-detail-page .package-detail-section .tab-content .custom-tab-title, .package-detail-page .package-detail-section .package-tabs-heading {
        /* background-color: #f9efcb;
         padding: 25px 20px;
         margin: 0;
         background-image: url(/content/dam/vacationex/images/heading-bg.jpg);
         */
    }
    .package-detail-page .package-listing-pointers, .enquiry-form, .package-detail-page .package-detail-section .package-tabs-heading, .package-detail-page .package-detail-section .package-tabs-subheading {
        /* background-color: rgba(250, 235, 221, 0.7);
         */
    }
    .package-detail-page .package-detail-section .tab-content .custom-tab-title {
        display: none;
    }
    .package-detail-page .package-detail-section .package-tabs-heading, .package-detail-page .package-detail-section .package-tabs-subheading, .package-detail-page .package-listing-pointers {
        margin: 0 auto;
        width: 95%;
        padding: 20px;
        display: block;
    }
    .package-detail-page .package-detail-section .package-tabs-subheading {
        padding: 0px 20px 5px;
        font-size: 20px;
        margin: 0 auto;
    }
    .package-detail-page .package-detail-section .package-details {
        /* margin-bottom: 20px;
         */
    }
    .package-detail-page .package-detail-section .tab-content {
        /* padding-bottom: 20px;
         */
    }
    .itinerary-day-summary {
        margin: 20px auto;
    }
    .itinerary-day-summary .daywise-itinerary .daywise-details .slidInUpTrans {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        position: relative;
        bottom: 0px;
    }
    .itinerary-day-summary .daywise-details, .itinerary-day-summary .daywise-itinerary:hover .daywise-details {
        background-color: rgba(39, 39, 39, .85);
        color: #f9efcb;
        padding: 40px 16px 20px;
    }
    .itinerary-day-summary .itinerary-day, .itinerary-day-summary .daywise-itinerary:hover .itinerary-day {
        top: 0px;
        margin: 80px 0 20px 15px;
        padding: 0;
    }
    .itinerary-day-summary.custom-height {
        min-height: 500px;
    }
    .itinerary-day-summary .daywise-itinerary.expanded-panel .daywise-details {
        padding-top: 0;
    }
    .itinerary-day-summary .itinerary-content {
        -webkit-transform: translateY(75%);
        transform: translateY(75%);
    }
    .itinerary-day-summary .itinerary-day:after {
        top: 45px;
        left: 0;
    }
    .itinerary-day-summary .read-more, .itinerary-day-summary .daywise-itinerary .daywise-details .slidInUpTrans {
        display: block;
        margin: 0;
        padding: 0;
    }
    .itinerary-day-summary .read-more {
        text-align: right;
        max-width: 100%;
    }
    .cd-main-content .slick-prev, .cd-main-content .slick-next {
        z-index: 1;
        top: 30px;
    }
    .cd-main-content .slick-prev {
        background-position: -41px;
        left: 12px;
    }
    .cd-main-content .slick-next {
        background-position: -53px;
        right: 12px;
    }
    .cd-main-content .mCustomScrollbar {
        height: 100% !important;
    }
    .enquiry-form .form-group .control-label {
        width: 25%;
        font-size: 16px;
    }
    .enquiry-form .form-group .form-ele {
        width: 75%;
    }
    .corporate-form .form-group .form-ele {
        width: 100%;
    }
    .group-holiday-category {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }
    .group-holiday-category:after, .group-holiday-category:before {
        display: none;
    }
    .group-holiday-category.group-holiday-top, .group-holiday-category.group-holiday-bottom {
        top: auto;
        bottom: auto;
    }
    .group-holiday-logo {
        position: relative;
        top: auto;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        margin: 45px auto;
        display: none;
    }
    .group-holiday-category .holiday-thumbnail {
        height: 300px !important;
        width: 100% !important;
    }
    .category-page .group-holiday-bottom .holiday-thumbnail:last-child {
        width: 100% !important;
    }
    .group-holiday-block {
        /* margin-bottom: 20px; */
    }
    .group-holiday-category .holiday-thumbnail .category-icon img {
        height: 110px;
    }
    .group-holiday-logo .logo {
        max-width: 180px;
    }
    section.cd-main-content.category-page, section.cd-main-content.theme-holiday {
        padding-bottom: 0;
    }
    .v-two-block .bottom-content-block .wrapper {
        padding: 25px 0;
        max-width: 95%;
    }
    .corporate-form .bottom-content-block .form-about-copy {
        margin: 0 auto;
    }
    .personalised-from.corporate-form .enquiry-form .col-50 {
        width: 100%;
    }
    .personalised-from.corporate-form .enquiry-form .col-50:first-child {
        margin-right: 0%;
    }
    .floating-enquiry-btn {
        background-image: url(/content/dam/vacationex/images/enquiry-icon-mobile.png);
        width: 45px;
        height: 45px;
        background-color: #272727;
        background-size: 34px;
        background-position: center;
    }
    .v-two-block .bottom-content-block .quote-block {
        font-size: 16px;
        line-height: 18px;
    }
    .v-two-block .bottom-content-block .main-block {
        font-size: 14px;
        line-height: 18px;
    }
    .campaign-package .package-detail-section .tab-content .custom-tab-title {
        display: block;
        padding: 15px 0;
    }
    .package-detail-page .package-listing-pointers .package-explore-block .explore-content p {
        font-size: 24px;
        padding: 5px 0px;
    }
    .package-detail-page .package-listing-pointers .package-explore-block .explore-content:after {
        width: 200px;
    }
    .with-scroll-page .contact-us #left-col-width {
        height: inherit;
        padding: 25px 0;
    }
    .getintouch-form.enquiry-form .tel-img {
        width: 100px;
        margin: -60px auto 15px;
    }
    .getintouch-form .enquiry-form .form-group:not ( .form-submit) {
        background-color: transparent;
    }
    .contact-us.v-two-block .top-heading-block .wrapper {
        width: 100%;
        max-width: 100%;
    }
    .contact-us-map .poi-info-window .title, .contact-us-map .poi-info-window .address {
        color: inherit;
        font-weight: inherit;
    }
    .cd-main-content .testimonial-slider .slick-prev, .cd-main-content .testimonial-slider .slick-next {
        top: 50%;
    }
    .itinerary-day-summary .read-more {
        background-color: transparent;
    }
    .landing-page-opt-03 #left-col-width .enquiry-form {
        max-width: 80%;
    }
    .landing-page-opt-03 .enquiry-form .form-group .form-ele {
        margin-bottom: 15px;
    }
    .landing-page-opt-03 #right-col-width {
        background-image: none;
    }
    .landing-page-opt-03 .landing-page-desc .page-title img {
        max-width: 300px;
    }
    .no-navigation-menu .tollfree-btn {
        right: 0;
        ;
    }
    .landing-page-opt-03 #left-col-width, .landing-page-opt-03 #right-col-width {
        width: 100%;
        max-width: 100%;
    }
    .landing-page-opt-03 .enquiry-form .form-group.form-submit .form-ele {
        opacity: 1;
    }
    .landing-page-opt-03.package-detail-page .package-detail-section .package-description {
        max-width: 100%;
        width: 95%;
    }
    .landing-page-opt-03.package-detail-page .package-detail-section .package-title {
        font-size: 30px;
        max-width: 95%;
        margin: 0 auto;
        line-height: 36px;
        text-align: center;
    }
    .landing-page-opt-03.package-detail-page .package-detail-section .package-itinerary-num {
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    /*Enquiry Form*/
    #enquiry-form .destination-list li {
        width: 82%;
    }
    .itinerary-day-summary .daywise-itinerary .daywise-details .slidInUpTrans {
        height: auto;
    }
    /* .body-active{
         overflow: hidden;
         height: 100vh;
    }
     .body-active #itinerary .read-more-popup-body{
         position: fixed;
         display: block;
         top: 50px;
         transform: translateY(0%);
    }
     */
    .itinerary-day-summary .daywise-itinerary {
        margin: 10px auto;
        position: relative;
    }
    #itinerary .read-more-popup-body {
        display: none;
    }
    .itinerary-day-summary .daywise-itinerary .read-more-popup-content {
        width: 100%;
        background-color: rgba(53, 53, 53, 0.9);
        -webkit-transition: all .3s cubic-bezier(0.39, 0.58, 0.57, 1);
        transition: all .3s cubic-bezier(0.39, 0.58, 0.57, 1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        top: 0;
        left: 0;
        z-index: 0;
        padding: 15px;
        margin-top: 50px;
        display: block !important;
        position: absolute;
        padding: 20px;
        visibility: hidden;
    }
    .itinerary-day-summary .daywise-itinerary .read-more-popup-content.active {
        z-index: 2;
        margin-top: 0px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        visibility: visible;
        height: 100%;
    }
    .package-detail-page .mCustomScrollbar .mCSB_scrollTools {
        /* height: auto !important;
         */
        /* max-height: 100%;
         overflow: hidden;
         */
        height: 80%;
        bottom: 0;
        top: auto;
    }
    #itinerary .close-btn {
        right: 10px;
        top: 10px;
    }
    #itinerary .read-more-popup-block .pop-up-img, #itinerary .read-more-inner-block .pop-up-img {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .enquiry-form .form-group .control-label {
        width: 34%;
        font-size: 14px;
    }
    .enquiry-form .form-group .form-ele {
        width: 66%;
    }
    .corporate-form .enquiry-form {
        width: 90%;
    }
    .corporate-form .form-group .form-ele {
        width: 100%;
    }
    .corporate-form .enquiry-form .form-group {
        width: 100%;
        float: none;
        background: inherit !important;
    }
    .personalised-from.corporate-form .enquiry-form .form-group.otp-block {
        width: 100%;
    }
    .personalised-from.corporate-form .enquiry-form .form-group.otp-btn {
        width: 100%;
    }
    .corporate-form .form-group .radio-container {
        display: inline-block;
        padding-bottom: 10px;
    }
    .enquiry-form .form-group .form-control, .enquiry-form .form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 14px;
    }
    .group-holiday-category .holiday-thumbnail .category-name {
        font-size: 22px;
    }
    .package-listing .individual-package-detail .indi-package-pic {
        width: 40%;
    }
    .package-listing .individual-package-detail .indi-package-summary {
        width: 60%;
    }
    .group-holiday-category .holiday-thumbnail {
        height: 250px !important;
    }
    .package-detail-page .package-detail-section .package-tabs-heading, .package-detail-page .package-detail-section .package-tabs-subheading, .package-detail-page .package-listing-pointers {
        padding: 10px 0 !important;
    }
    .v-two-block .top-heading-block .wrapper {
        padding: 40px 20px 15px;
    }
    .v-two-block .bottom-content-block {
        /* margin-top: -40px;
         padding: 40px 0;
         */
    }
    .personalised-from.corporate-form .enquiry-form {
        max-width: 90%;
    }
    .vx-logo {
        max-width: 90px;
        top: 24px;
    }
    .testimonial-slider .slick-list {
        max-width: 80%;
    }
}

@media ( max-width :767px) {
    .wrapper {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .package-detail-page .tabs-menu, .package-detail-page #current-tab {
        max-width: 80%;
    }
    .enquiry-form .form-group.align-left, .enquiry-form .form-group.align-right {
        float: none;
        width: 100%;
    }
    .enquiry-form .form-group:not ( .form-submit) {
        background-color: #e9e9e9;
    }
    .landing-page-form .enquiry-form .form-group.otp-block {
        width: 100%;
    }
    .landing-page-form .enquiry-form .form-group:not ( .form-submit) {
        background-color: transparent;
    }
    .getintouch-form.enquiry-form .form-group.otp-block, .redesigned-enquiry-form.enquiry-form .form-group.otp-block {
        width: 100%;
    }
    .landing-page-opt-03 #left-col-width .enquiry-form {
        max-width: 100%;
    }
    .option_new_form.enquiry-form .form-group {
        background-color: transparent;
    }
    /*.package-listing .package-title {
        font-size: 14px;
        padding: 6px 40px;
        max-width: 150px;
        line-height: 15px;
    }*/
    .package-listing .package-multi-option ul li {
        width: 100%;
        max-width: 100%;
        text-align: left;
    }
    .package-listing .package-multi-option ul {
        width: 100%;
    }
    .package-listing .package-multi-option {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .vx-logo {
        max-width: 75px;
        top: 22px;
    }
    .balmer-logo img {
        max-width: 110px;
    }
    .package-detail-page .package-detail-section .package-description {
        padding: 35px 0;
    }
    .package-detail-page .package-detail-section .package-description {
        max-width: 80%;
    }
    .package-detail-page .package-detail-section .package-title {
        font-size: 36px;
        line-height: 40px;
    }
    .package-detail-page .package-detail-section .package-subtitle {
        font-size: 14px;
    }
    .package-detail-page .tabs-menu li {
        /* font-size: 14px;
         */
    }
    .group-holiday-category .holiday-thumbnail {
        width: 100% !important;
        float: none;
        display: block;
    }
    .package-listing .individual-package-detail .indi-package-summary, .package-listing .individual-package-detail .indi-package-pic {
        width: 100%;
    }
    .package-listing .packages-list .individual-package-detail {
        display: block;
    }
    .package-listing .individual-package-detail .indi-package-pic {
        min-height: 200px;
    }
}