<div class="container">
<sly data-sly-resource="${'navigation' @resourceType='vacationex/components/content/index/navigationindex'}" />
	<sly data-sly-resource="${'index' @resourceType='vacationex/components/content/index/index'}" />
<sly data-sly-resource="${'foot' @resourceType='vacationex/components/content/common/foot'}" />
</div>