<div id="header" class="cf">
     <base href="/content/dam/vacationex/images/">
	<div class="wrapper">
		<div class="balmer-logo">
			<a href="#"><img src="top-logo.png" alt="logo"></a>
		</div>
		<!--vacation exortica logo-->
		<div class="vx-logo">
			<a href="#"><img src="logo.png" alt="vacation exortica"></a>
		</div>
		<!--end vacation exortica logo-->
	</div>
</div>