    <section id="package-detail-page" class="clearfix package-detail-page cd-main-content landing-page-opt-03 campaign-package package-listing ">
        <div class="row row-reverse wrapper">
            <div class="landing-page-desc show-in-mobile">
                <p class="page-title">
                    <img src="landing-page-banner-europe.png" alt="">
                </p>
            </div>
            <div id="left-col-width" class="table-layout page-heading-section col col-30 ">
                <div class="table-layout-col">
                    <!-- <div class="package-detail-section show-in-mobile">
						<div class="package-description">
							<div class="package-title">Europe</div>
						</div>
                    </div> -->

                    <div class="enquiry-form option_new_form">
                        <p class="form-title">Let us get to know you!</p>
                        <p class="form-subheading">It's simple, just fill in your details below, and you'll be contacted shortly!</p>
                        <form class="clearfix" id="compaign_form" action='' novalidate>
                            <!-- Name -->
                            <div class="form-group">
                                <!-- <label class="control-label" for="Name">Name:</label>   -->
                                <div class="form-ele">
                                    <input id="name" name="Name" type="text" placeholder="Name:" class="form-control" required="">
                                </div>
                            </div>
                            <!-- Email -->
                            <div class="form-group">
                                <!-- <label class="control-label" for="email">Email ID:</label>  -->
                                <div class="form-ele">
                                    <input id="email" name="email" type="text" placeholder="Email:" class="form-control" required="">
                                </div>
                            </div>
                            <!-- City -->
                            <div class="form-group">
                                <!-- <label class="control-label" for="city">City:</label>  -->
                                <div class="form-ele">
                                    <input id="city" name="city" type="text" placeholder="City:" class="form-control" required="">
                                </div>
                            </div>
                            <!-- Mobile -->
                            <div class="form-group otp-block">
                                <div class="form-ele align-left">
                                    <input id="mobile" name="mobile" type="text" placeholder="Mobile:" class="form-control" required="">
                                </div>
                                <!-- send otp -->
                                <div class=" align-right otp-btn verification-btn"> <a class="v-otp-btn" onclick="sendSMS()">Send OTP</a>
                                </div>
                            </div>
                            <div class="form-group otp-block hidden-btn">
                                <div class="form-ele">
                                    <input id="otpVerified" name="verify-otp" type="text" placeholder="Enter the OPT:" class="form-control" required="">
                                </div>
                                <!-- resend otp -->
                                <div class="align-right otp-btn"> <a class="v-otp-btn" onclick="verifyOTP()">Verify OTP</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-ele">
                                    <label class="radio-container">
										<input type="checkbox" name="tnc" value="yes" id="tnc">	<span class="checkmark"></span>
										<span class="copy">
                                        Yes, I want to be contacted for exciting offers and promotions by Vacations Exotica
                                        </span></label>
                                </div>
                            </div>
                            <input type="hidden" name="current-package-id" id="current-package-id" value="">
                            <!-- Submit -->
                            <div class="form-group form-submit">
                                <div class="form-ele">
                                    <input id="submit-btn" type="submit" value="GET IN TOUCH" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="right-col-width" class="col col-70 category-detail-content">
                <div class="table-layout">
                    <div class="table-layout-col">
                        <div class="landing-page-desc show-in-desktop">
                            <p class="page-title">
                                <img src="landing-page-banner-europe.png" alt="">
                            </p>
                        </div>
                        <div class="package-detail-section">
                            <div class="package-detail-tab">
                                <div id="highlights" class="tab-content" style="display:block !important;">
                                    <div class="row">
                                        <div class="col col-100">
                                            <div class="custom-tab-title">Packages</div>
                                            <div class="package-details">
                                                <div class="packages-list">
                                                    <ul class="clearfix package_ajax_data">
                                                        <li style="display: list-item;">
                                                            <a href="http://localhost/projects/vacation-exotica/campaign/best-of-east-europe-with-scandinavia-russia" class="individual-package-detail clearfix gray-c">
                                                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(https://elasticbeanstalk-us-east-1-198128020732.s3.amazonaws.com/the-unforgettable-east-european-sojourn-with-scandinavia-russia.jpg), url('http://localhost/projects/vacation-exotica/assets/public/images/default-package.jpg"></div>
                                                                <div class="indi-package-summary mobileMatchHeight" style="">
                                                                    <div class="heading">BEST OF EAST EUROPE WITH SCANDINAVIA AND RUSSIA</div>
                                                                    <div class="itineary-day">21 DAYS 20 NIGHTS</div>
                                                                    <div class="package-desc">Austria, Hungary, Slovakia, Czech Republic, Denmark, Norway, Sweden, Finland and Russia</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li style="display: list-item;">
                                                            <a href="http://localhost/projects/vacation-exotica/campaign/best-of-east-europe-with-scandinavia" class="individual-package-detail clearfix purple-c">
                                                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(https://elasticbeanstalk-us-east-1-198128020732.s3.amazonaws.com/the-unforgettable-east-european-sojourn-with-scandinavia.jpg), url('http://localhost/projects/vacation-exotica/assets/public/images/default-package.jpg"></div>
                                                                <div class="indi-package-summary mobileMatchHeight" style="">
                                                                    <div class="heading">BEST OF EAST EUROPE WITH SCANDINAVIA</div>
                                                                    <div class="itineary-day">16 DAYS 15 NIGHTS</div>
                                                                    <div class="package-desc">Austria, Hungary, Slovakia, Czech Republic, Denmark, Norway, Sweden and Finland</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li style="display: list-item;">
                                                            <a href="http://localhost/projects/vacation-exotica/campaign/best-of-eastern-europe" class="individual-package-detail clearfix pink-c">
                                                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(https://elasticbeanstalk-us-east-1-198128020732.s3.amazonaws.com/the-unforgettable-east-european-sojourn.jpg), url('http://localhost/projects/vacation-exotica/assets/public/images/default-package.jpg"></div>
                                                                <div class="indi-package-summary mobileMatchHeight" style="">
                                                                    <div class="heading">BEST OF EASTERN EUROPE</div>
                                                                    <div class="itineary-day">7 DAYS 6 NIGHTS</div>
                                                                    <div class="package-desc">Austria, Hungary, Slovakia, Czech Republic</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li style="display: list-item;">
                                                            <a href="http://localhost/projects/vacation-exotica/campaign/european-splendours" class="individual-package-detail clearfix blue-c">
                                                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(https://elasticbeanstalk-us-east-1-198128020732.s3.amazonaws.com/glimpses-of-europe-i.jpg), url('http://localhost/projects/vacation-exotica/assets/public/images/default-package.jpg"></div>
                                                                <div class="indi-package-summary mobileMatchHeight" style="">
                                                                    <div class="heading">EUROPEAN SPLENDOURS</div>
                                                                    <div class="itineary-day">15 DAYS 14 NIGHTS</div>
                                                                    <div class="package-desc">United Kingdom, France, Belgium, The Netherlands, Germany, Switzerland, Principality of Liechtenstein, Austria, Italy and The Vatican</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li style="display: list-item;">
                                                            <a href="http://localhost/projects/vacation-exotica/campaign/european-memories" class="individual-package-detail clearfix gray-c">
                                                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(https://elasticbeanstalk-us-east-1-198128020732.s3.amazonaws.com/glimpses-of-europe-i.jpg), url('http://localhost/projects/vacation-exotica/assets/public/images/default-package.jpg"></div>
                                                                <div class="indi-package-summary mobileMatchHeight" style="">
                                                                    <div class="heading">EUROPEAN MEMORIES</div>
                                                                    <div class="itineary-day">10 DAYS 9 NIGHTS</div>
                                                                    <div class="package-desc">Italy, The Vatican, Austria, Principality of Liechtenstein, Switzerland, Germany and France</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li style="display: list-item;">
                                                            <a href="http://localhost/projects/vacation-exotica/campaign/european-glimpses" class="individual-package-detail clearfix purple-c">
                                                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(https://elasticbeanstalk-us-east-1-198128020732.s3.amazonaws.com/glimpses-of-europe-iii.jpg), url('http://localhost/projects/vacation-exotica/assets/public/images/default-package.jpg"></div>
                                                                <div class="indi-package-summary mobileMatchHeight" style="">
                                                                    <div class="heading">EUROPEAN GLIMPSES</div>
                                                                    <div class="itineary-day">7 DAYS 6 NIGHTS</div>
                                                                    <div class="package-desc">Austria, Principality of Liechtenstein, Switzerland, Germany, and France</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li style="display: list-item;">
                                                            <a href="http://localhost/projects/vacation-exotica/campaign/exotic-scandinavia-russia" class="individual-package-detail clearfix pink-c">
                                                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(https://elasticbeanstalk-us-east-1-198128020732.s3.amazonaws.com/exotic-scandinavia-russia.jpg), url('http://localhost/projects/vacation-exotica/assets/public/images/default-package.jpg"></div>
                                                                <div class="indi-package-summary mobileMatchHeight" style="">
                                                                    <div class="heading">EXOTIC SCANDINAVIA AND RUSSIA</div>
                                                                    <div class="itineary-day">15 DAYS 14 NIGHTS</div>
                                                                    <div class="package-desc">Denmark, Norway, Sweden, Finland, Russia</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <!-- <div class="load-more bounce load-more-get-data"></div> --></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>