<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='vacation.ex.category'}"/>
<section class="category-page cd-main-content" style="background-image: url('group-holiday-bg.jpg');">
	<div class="clearfix">
		<div class="group-holiday-logo">
			<div class="page-title">
				Group Holidays </div>
		</div>
		<div class="group-holiday-block clearfix">
			<div class="group-holiday-category group-holiday-top clearfix">
				<a href="#" class="holiday-thumbnail" title="Asia Holiday Packages" style="background-image:url('asia.jpg');	">
					<div class="category-icon" style="background-image:url('asia-magnet.png');height: 278px;"></div>
					<div class="category-name">Asia</div>
				</a>
				<a href="#" class="holiday-thumbnail" title="Australia / New Zealand Holiday Packages"
				 style="background-image:url('australia-new-zealand.jpg');	">
					<div class="category-icon" style="background-image:url('australia-new-zealand-magnet.png');"></div>
					<div class="category-name">Australia / New Zealand</div>
				</a>
				<a href="#" class="holiday-thumbnail" title="Africa Holiday Packages" style="background-image:url('africa.jpg');	">
					<div class="category-icon" style="background-image:url('africa-magnet.png');"></div>
					<div class="category-name">Africa</div>
				</a>
			</div>

			 <div class="group-holiday-category group-holiday-bottom clearfix">
				<a href="#" class="holiday-thumbnail" title="USA / South America / Canada  Holiday Packages"
				 style="background-image:url('usa-south-america-canada.jpg');">
					<div class="category-icon" style="background-image:url('usa-south-america-canada-magnet.png');"></div>
					<div class="category-name">USA / South America / Canada </div>
				</a>
				<a href="#" class="holiday-thumbnail" title="Europe Holiday Packages" style="background-image:url('europe.jpg');">
					<div class="category-icon" style="background-image:url('europe-magnet.png');"></div>
					<div class="category-name">Europe</div>
				</a>

			</div> 
		</div>
	</div>
</section>