<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='vacation.ex.privacy-policy'}"/>
<section class="corporate-form v-two-block cd-main-content">
    <div class="table-layout">
        <div class="table-layout-col">
            <div class="top-heading-block">
                <div class="wrapper">
                    <h1 class="page-name">Privacy Policy</h1>
                </div>  
            </div>
            <div class="bottom-content-block">
                <div class="wrapper">
                    <div class="form-about-copy content-slider-block mCustomScrollbar custom-height">
                        <div>
                            <div class="main-block">
                                <ul>
                                    <li>
                                        <div>GENERAL RULE</div>
                                        <p class="description">
                                            As a general rule, this website does not collect Personal Information about you when you visit the site. You can generally
                                            visit the site without revealing Personal Information, unless you choose to provide
                                            such information.
                                        </p>
                                    </li>
                                    <li>
                                        <div>SITE VISIT DATA</div>
                                        <p class="description">
                                            This website records your visit and logs the following information for statistical purposes your server's address; the name
                                            of the top-level domain from which you access the Internet (for example, .gov,
                                            .com, .in, etc.); the type of browser you use; the date and time you access the
                                            site; the pages you have accessed and the documents downloaded and the previous
                                            Internet address from which you linked directly to the site. We will not identify
                                            users or their browsing activities, except when a law enforcement agency may
                                            exercise a warrant to inspect the service provider's logs.
                                        </p>
                                    </li>
                                    <li>
                                        <div>COOKIES</div>
                                        <p class="description">
                                            A cookie is a piece of software code that an internet web site sends to your browser when you access information at that
                                            site. This site uses cookies.
                                        </p>
                                    </li>
                                    <li>
                                        <div>EMAIL MANAGEMENT</div>
                                        <p class="description">
                                            Your email address will only be recorded if you choose to send a message. It will only be used for the purpose for which
                                            you have provided it and will not be added to a mailing list. Your email address
                                            will not be used for any other purpose, and will not be disclosed, without your
                                            consent.
                                        </p>
                                    </li>
                                    <li>
                                        <div>COLLECTION OF PERSONAL INFORMATION</div>
                                        <p class="description">
                                            If you are asked for any other Personal Information you will be informed how it will be used if you choose to give it. If
                                            at any time you believe the principles referred to in this privacy statement
                                            have not been followed, or have any other comments on these principles, please
                                            notify the Web Information Manager through the contact us page. Note: The use
                                            of the term "Personal Information" in this privacy statement refers to any information
                                            from which your identity is apparent or can be reasonably ascertained.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>