/* Contact us */

.contact-us {
    background-image: url(/content/dam/vacationex/images/bg.jpg);
}

.contact-us.v-two-block .bottom-content-block {
    background-color: transparent;
}

.with-scroll-page .contact-us #left-col-width,
.contact-us #map {
    height: 600px;
}

.with-scroll-page .contact-us #left-col-width {
    position: relative;
    float: right;
    background-color: rgba(0, 0, 0, 0.7);
}

.with-scroll-page .contact-us #left-col-width .table-layout-col {
    vertical-align: top;
}

.contact-us.v-two-block .top-heading-block .wrapper {
    width: 33.33%;
    min-width: 327px;
}

.contact-us.v-two-block .top-heading-block:after {
    background-color: transparent;
}

.contact-us.v-two-block .bottom-content-block .wrapper {
    max-width: 100%;
    padding-top: 0;
}

.contact-us.v-two-block .bottom-content-block .table-layout {
    display: table;
}

.contact-us.v-two-block .bottom-content-block .table-layout .table-layout-col {
    display: table-cell;
}

.contact-us .our-offices {
    text-transform: uppercase;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

.contact-us .corporate-office {
    text-align: center;
    color: #dacbb8;
    margin-bottom: 50px;
    margin-top: 50px;
}

.contact-us .corporate-office .title,
.contact-us .our-offices .title {
    font-size: 22px;
    margin-bottom: 16px;
    color: #f9e6ce;
    text-transform: uppercase;
}

.contact-us .our-offices ul {
    list-style: none;
    margin: 0;
}

.contact-us .our-offices ul li {
    float: left;
    width: 32%;
    text-align: center;
    border: 1px solid;
    font-size: 16px;
    margin: 0 0 10px;
    transition: all 0.1s linear;
    color: #f9e6ce;
    background-color: transparent;
}

.contact-us .our-offices ul li:nth-child(3n+2) {
    margin: 0px 2% 10px;
}

.contact-us .our-offices ul li a {
    padding: 7px 4px;
    display: block;
}

.contact-us .our-offices ul li.getintouvh-btn {
    color: #272727;
    background-color: #f49f03;
}

.contact-us .our-offices ul li:hover,
.contact-us .our-offices ul li.active {
    color: #272727;
    background-color: #f9e6ce;
}

.contact-us .our-offices ul li a {}


/*style the box*/

.gm-style .gm-style-iw {
    /* background-color: #fcead2 !important; */
    top: 0 !important;
    left: 0 !important;
    /*width: 100% !important;*/
    /* height: 100% !important; */
    /* min-height: 80px !important; */
    padding: 10px 20px;
    display: block !important;
    padding-left: 26px;
}

.gm-style .gm-style-iw:before {
    content: '\f041';
    display: block;
    font-family: "FontAwesome";
    position: absolute;
    left: 10px;
    font-size: 16px;
}


/*style the p tag*/

.gm-style .gm-style-iw #google-popup p {
    padding: 10px;
}


/*style the arrow*/

.gm-style div div div div div div div div {
    /* background-color: #fcead2 !important; */
    padding: 0;
    margin: 0;
    padding: 0;
    top: 0;
    color: inherit;
    /* font-size: 14px; */
}


/*style the link*/

.gm-style div div div div div div div div a {
    color: inherit;
    /*width: 100%;*/
    text-align: center;
}

.gm-style a {
    border: 1px solid;
    padding: 4px 8px;
    margin: 10px auto 0;
    display: block;
    font-size: 12px;
    min-width: 100px;
}


/* Get in touch contact form */

.our-offices {}

.getintouch-form.enquiry-form {
    background-color: #ffffff;
    overflow: inherit;
}

.getintouch-form.enquiry-form .form-title {
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.getintouch-form.enquiry-form .tel-img {
    position: relative;
    width: 130px;
    text-align: center;
    margin: -83px auto 15px;
    display: block;
}

.getintouch-form.enquiry-form .form-group .form-control {
    border-bottom: 1px solid;
    padding-left: 0;
    background-color: transparent;
}

.getintouch-form.enquiry-form .form-group .form-ele {
    width: 100%;
    float: none;
}

.getintouch-form.enquiry-form .form-group.otp-block {
    width: 48%;
}

.getintouch-form.enquiry-form .form-group.form-submit #submit-btn {
    background-color: #f3e0c9;
    box-shadow: 0 0 0 0;
    border: 0 none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 14px;
    max-width: 110px;
}

.getintouch-form.enquiry-form .form-group {
    /*position: relative;*/
}

.getintouch-form.enquiry-form .form-group .otp-btn {
    position: absolute;
    top: 8px;
    right: 2px;
}

.getintouch-form.enquiry-form .form-group .otp-btn {}

.getintouch-form.enquiry-form .form-group.form-submit {
    padding-top: 14px;
}


/*style the box*/

.gm-style .gm-style-iw {
    /* background-color: #fcead2 !important; */
    top: 0 !important;
    left: 0 !important;
    width: 250px !important;
    /* height: 100% !important; */
    /* min-height: 80px !important; */
    padding: 10px 20px;
    display: block !important;
    padding-left: 26px;
}

.gm-style .gm-style-iw:before {
    content: '\f041';
    display: block;
    font-family: "FontAwesome";
    position: absolute;
    left: 10px;
    font-size: 16px;
}


/*style the p tag*/

.gm-style .gm-style-iw #google-popup p {
    padding: 10px;
}


/*style the arrow*/

.gm-style div div div div div div div div {
    /* background-color: #fcead2 !important; */
    padding: 0;
    margin: 0;
    padding: 0;
    top: 0;
    color: inherit;
    /* font-size: 14px; */
}


/*style the link*/

.gm-style div div div div div div div div a {
    color: inherit;
    /*width: 100%;*/
}

.gm-style a {
    border: 1px solid;
    padding: 4px 8px;
    margin: 10px auto 0;
    display: block;
    font-size: 12px;
    min-width: 100px;
}
