<div class="ham-navigation fixed-navigation">
    <base href="/content/dam/vacationex/images/">
    <header id="header" class="cd-main-header clearfix">
        <a class="balmer-logo" href="/content/vacationex/en/index.html">
            <img src="top-logo.png" alt="Logo">
        </a>
        <!--vacation exortica logo-->
        <div class="vx-logo">
            <a href="/content/vacationex/en/index.html" class="black-logo">
                <img src="logo-with-black.png" alt="vacation exortica">
            </a>
            <a href="/content/vacationex/en/index.html" class="white-logo">
                <img src="logo-with-white.png" alt="vacation exortica">
            </a>
        </div>
        <!--end vacation exortica logo-->
        <a href="" class="tollfree-btn">
            <img src="tollfree.png" alt="">
        </a>
        <ul class="cd-header-buttons">
            <li>
                <a class="cd-search-trigger" href="#cd-search">Search
                    <span></span>
                </a>
            </li>
            <li>
                <a class="cd-nav-trigger" href="#cd-primary-nav">Menu
                    <span></span>
                </a>
            </li>
        </ul>
        <!-- cd-header-buttons -->
    </header>
    <div class="cd-overlay"></div>

    <nav class="cd-nav">
        <ul id="cd-primary-nav" class="cd-primary-nav side-menu-fixed is-fixed">
            <li>
                <a href="/content/vacationex/en/about.html">About us</a>
            </li>
            <li class="has-children">
                <a href="#">International</a>

                <ul class="cd-nav-gallery is-hidden">
                    <li class="go-back">
                        <a href="#0">Menu</a>
                    </li>
                    <li class="see-all">
                        <a href="#">Browse Packages</a>
                    </li>
                    <li>
                        <a class="cd-nav-item" href="/content/vacationex/en/category.html">
                            <img src="group-menu-icon.png" alt="">
                            <h3>group</h3>
                            <p class="menu-tag-line">Travelling together, is travelling merrier</p>
                        </a>
                    </li>

                    <li>
                        <a class="cd-nav-item" href="/content/vacationex/en/themeholidays.html">
                            <img src="theme-menu-icon.png" alt="">
                            <h3>themed</h3>
                            <p class="menu-tag-line">Unique experiences, unique holidays.</p>
                        </a>
                    </li>

                    <li>
                        <a class="cd-nav-item" href="/content/vacationex/en/personalised.html">
                            <img src="customized-menu-icon.PNG" alt="">
                            <h3>personalised</h3>
                            <p class="menu-tag-line">Bespoke holidays, just the way you like!</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a href="#">India</a>

                <ul class="cd-nav-gallery is-hidden">
                    <li class="go-back">
                        <a href="#0">Menu</a>
                    </li>
                    <li class="see-all">
                        <a href="#">Browse Packages</a>
                    </li>
                    <li>
                        <a class="cd-nav-item" href="/content/vacationex/en/indiapackage.html">
                            <img src="theme-menu-icon.png" alt="">
                            <h3>themed</h3>
                        </a>
                    </li>
                    <li>
                        <a class="cd-nav-item" href="/content/vacationex/en/personalised.html">
                            <img src="customized-menu-icon.PNG" alt="">
                            <h3>personalised</h3>
                        </a>
                    </li>   
                </ul>
            </li>
            <!-- <li><a href="/content/vacationex/en/customised.html">Customized</a></li> -->
            <li>
                <a href="/content/vacationex/en/corporate.html">Corporate</a>
            </li>
            <li>
                <a href="/content/vacationex/en/contactus.html">Our Stories</a>
            </li>
            <li>
                <a href="/content/vacationex/en/contactus.html">Contact us</a>
            </li>
            <!-- <li><a href="#">Stories</a></li>
            <li><a href="#">Enquiry</a></li> -->
        </ul>
        <!-- primary-nav -->
    </nav>
    <!-- cd-nav -->

    <div id="cd-search" class="cd-search">
        <form>
            <input type="search" placeholder="Search...">
        </form>
    </div>
</div>

<!--menu header-->