<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='vacation.ex.contactus'}"
/>
<div class="with-scroll-page">
	<section class="contact-us v-two-block cd-main-content">
		<div class="table-layout">
			<div class="table-layout-col">
				<div class="top-heading-block">
					<div class="wrapper">
						<h1 class="page-name">Contact us</h1>
					</div>
				</div>
				<div class="bottom-content-block">
					<div class="row">
						<div id="left-col-width" class="table-layout col col-33">
							<div class="table-layout-col">
								<div class="corporate-office clearfix">
									<p class="title">Corporate and Registered Office</p>
									<div class="address">
										21, Netaji Subash Road. Kolkata 700 001
										<br>Tel: (033) 2222 5555 </div>
								</div>
								<div id="all-offices-wrapper" class="our-offices clearfix">
									<p class="title">All Offices</p>
									<ul id="our-offices-list">
										<li>
											<a href="#" data-latitude="22.5757068" data-longitude="88.2784596" data-address="21, Netaji Subash Road. Kolkata 700 001"
											 data-title="Kolkata" data-contact="(033) 2222 5555">Kolkata</a>
										</li>
										<li>
											<a href="#" data-latitude="18.934421" data-longitude="72.841565" data-address="Balmer Lawrie Building.,
                                    		4th Floor,  
											5 - J N Heredia Marg, 
											Ballard Estate, Mumbai 400 001" data-title="Mumbai" data-contact="(022) 4214 3333">Mumbai</a>
										</li>
										<li>
											<a href="#" data-latitude="23.022844" data-longitude="72.556336" data-address="Vacations exotica, 204, 2nd Floor, 3rd Eye,, Opp. White House Building,, Panchwati Circle, C. G. Road,, Ahmedabad, Gujarat 380009"
											 data-title="Ahmedabad" data-contact="079 4037 1000">Ahmedabad</a>
										</li>
										<li>
											<a href="#" data-latitude="28.630113" data-longitude="77.225651" data-address="Unit-4, Upper Ground Floor, 
											Kunchanjunga Building,
											18 Barakhamba Road, 
											Connaught Place, New Delhi  - 110 001" data-title="New Delhi" data-contact="011 - 4951 8800">New Delhi</a>
										</li>
										<li>
											<a href="#" data-latitude="13.035385" data-longitude="80.245818" data-address="Balmer Lawrie House
											No 628,Anna Salai, Teynampet, 
											(Near S.I.E.T College Signal) Chennai 600 018" data-title="Chennai" data-contact="044 4211 1900">Chennai</a>
										</li>
										<li>
											<a href="#" data-latitude="12.933171" data-longitude="77.586043" data-address="Cosmopolitan Club, Cosmo Travel House, 
											22nd Cross, 3rd Block, Jayanagar, 
											Bengaluru 560 011" data-title="Bengaluru" data-contact="080 4081 5322/94">Bengaluru</a>
										</li>
										<li>
											<a href="#" data-latitude="17.428481" data-longitude="78.454252" data-address="Vacations exotica, 302, Regency House 680, Greenlands Road, Durga Nagar, Somajiguda, Hyderabad, Telangana 500082"
											 data-title="Hyderabad" data-contact="040 4012 6565">Hyderabad</a>
										</li>
										<li>
											<a href="#" data-latitude="20.271001" data-longitude="85.842197" data-address="Balmer Lawrie, 2nd Floor, SCR 59, Janpath, Unit 3,, Kharabela Nagar,, Bhubaneswar, Odisha 751001"
											 data-title="Bhubaneswar" data-contact="0674 2532230">Bhubaneswar</a>
										</li>
										<li class="getintouvh-btn">
											<a href="#getintouch-form" class="form-popup" data-effect="mfp-move-horizontal">get in touch</a>
										</li>
									</ul>
									<div id="getintouch-form" class="mfp-hide mfp-with-anim">
										<div class="enquiry-form getintouch-form">
											<img class="tel-img" src="get-in-touch-tel.png" alt="">
											<p class="form-title">
												Enter your contact details
											</p>
											<form class="clearfix contact-form" validate>
												<!-- Name -->
												<div class="form-group align-left">
													<div class="form-ele">
														<input id="name" name="Name" type="text" placeholder="Name*" class="form-control" required>
													</div>
												</div>

												<!-- Email -->
												<div class="form-group align-right">
													<div class="form-ele">
														<input id="email" name="email" type="text" placeholder="Email ID*" class="form-control" required="">
													</div>
												</div>

												<!-- City -->
												<div class="form-group align-left">
													<div class="form-ele">
														<input id="city" name="city" type="text" placeholder="City*" class="form-control" required="">
													</div>
												</div>

												<!-- Mobile -->
												<div class="form-group align-right">
													<div class="form-ele align-left">
														<input id="mobile" name="mobile" type="text" placeholder="Mobile*" class="form-control" required="" maxlength="10">
													</div>
												</div>

												<!-- Submit -->
												<div class="form-group form-submit">
													<div class="form-ele">
														<input id="submit-btn" type="submit" value="Submit" class="form-control">
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="right-col-width" class="table-layout col col-66">
							<div class="table-layout-col">
								<div id="map" class="contact-us-map"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDI_7KuqyOi0D9M65wA5a1tLCqO4M7LL8&libraries=places&callback=initMap"></script>