<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='vacation.ex.corporate'}"/>
<section class="corporate-form v-two-block cd-main-content">
		<div class="table-layout">
			<div class="table-layout-col">
				<div class="top-heading-block">
					<div class="wrapper">
						<h1 class="page-name">corporate</h1>
					</div>
				</div>
				<div class="bottom-content-block">
					<div class="wrapper">
						<div class="enquiry-form">
							<form class="clearfix" action="/vacationex/corporate" method="get">
								<!-- Company name -->
								<div class="form-group">
									<div class="form-ele">
										<input id="companyName" name="companyName" type="text" placeholder="Company Name*	" class="form-control" required="">
									</div>
								</div>

								<!-- Name -->
								<div class="form-group">
									<div class="form-ele">
										<input id="name" name="name" type="text" placeholder="Name*" class="form-control" required="">
									</div>
								</div>

								<!-- Mobile -->
								<div class="form-group align-left otp-block">
									<div class="form-ele">
										<input id="mobile" name="mobile" type="text" placeholder="Mobile*" class="form-control" required="">
									</div>
								</div>

								<!-- send otp -->
								<div class="form-group align-right otp-btn verification-btn" onclick="sendSMS()" >
									<div class="form-ele">
										<a class="form-control v-otp-btn">Send OTP</a>
									</div>
								</div>

								<!-- verify otp -->
								<div class="form-group otp-block align-left hidden-btn">
									<div class="form-ele">
										<input id="otpVerified" name="verify-otp" type="text" placeholder="Enter the OPT*" class="form-control" required="">
									</div>
								</div> 

								<!-- resend otp -->
								<div class="form-group align-right otp-btn hidden-btn" onclick="verifyOTP()">
									<div class="form-ele">
										<a class="form-control v-otp-btn">Verify OTP</a>
									</div>
								</div>

								<!-- Email -->
								<div class="form-group align-left">
									<div class="form-ele">
										<input id="email" name="email" type="text" placeholder="Email ID*" class="form-control" required="">
									</div>
								</div>


								<!-- City -->
								<div class="form-group align-right">
									<div class="form-ele">
										<input id="city" name="city" type="text" placeholder="City*" class="form-control" required="">
										<!-- <select id="city" name="city*" class="form-control">
												<option value="1">City 1</option>
												<option value="2">City two</option>
											</select> -->
									</div>
								</div>

								<!-- Company name -->
								<div class="form-group text-align-center">
									<div class="form-ele">
										<label class="radio-container">Meetings
											<input type="radio" name="meetings" value="meetings" name="occasion">
											<span class="checkmark"></span>
										</label>
										<label class="radio-container">Incentives
											<input type="radio" name="incentives" value="incentives" name="occasion">
											<span class="checkmark"></span>
										</label>
										<label class="radio-container">Conferences
											<input type="radio" name="conferences" value="conferences" name="occasion">
											<span class="checkmark"></span>
										</label>
										<label class="radio-container">Events
											<input type="radio" name="events" value="events" name="occasion">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>

								<!-- Submit -->
								<div class="form-group form-submit">
									<div class="form-ele">
										<input id="submit-btn" type="submit" value="SUBMIT" class="form-control">
									</div>
								</div>
							</form>
						</div>
						<div class="form-about-copy content-slider-block mCustomScrollbar custom-height">
							<div>
								<div class="main-block">
									<p>
										Beautiful journeys each have beautiful stories, especially, when the journey has a singular purpose. We understand the needs
										for corporate travel and the many details that need to be taken care of when planning and executing it. Our aim
										is to ensure that every journey you make with us, is one that is comfortable, hassle-free, and an aid to the larger
										purpose, be it conference, an offsite trip, a seminar, or even an incentive for your most deserving employees and
										partners.
									</p>
									<p>
										We have catered to organizations from various industries such, Pharma, Agriculture, Media, and Government, including various
										MNCs. Our legacy has also allowed us extensive experience in various kinds of group travel such as, sports travel,
										community travel, religious and spiritual travel as well. Giving us the ability to ensure that every tiny detail
										is taken care of efficiently.
									</p>
									<p>
										A few reasons why you must consider Vacations Exotica:
									</p>
									<ul>
										<li>Execution of the minutest of details</li>
										<li>A selection of offbeat and time-tested destinations</li>
										<li>Competitive pricing</li>
										<li>Easy access through pan India presence</li>
										<li>A slew of experienced tour managers who are rated the best in the industry</li>
										<li>The commitment and backing of 152 years of Balmer & Lawrie </li>
										<li>One of the oldest IATA accredited companies</li>
										<li>A large percentage of our customers choose to come back</li>
										<li>Customized itineraries catering to your requirements, including and not limited to Indian meals/Vegetarian meals
											/Jain meals, etc.</li>
										<li>The ability to handle award functions, events, etc.</li>
									</ul>
									<p>
										We understand that corporate and business travel has its many different needs and strive to ensure that you come back with
										beautiful stories of your experience each time you travel with us, which is why, we cater to all aspects of organizing
										Conferences, Business Meetings, Events, Seminars, Exhibitions, Product Launches and Incentives.
									</p>
									<p>
										Every time you entrust us with an event, we ensure that it is fashioned around your specific requirements with every detail
										handled with exceptional care, right from the pre-event preparations, to the event, and through to the final post
										event settlement.
									</p>
									<p>
										We have the experience and expertise to undertake the planning and execution of all aspect of Conference Management that
										include pre-conference services such as:
									</p>
									<ul>
										<li>Assistance in conference bidding</li>
										<li>Budgeting as per your projection</li>
										<li>Negotiation and contracting</li>
										<li>Programme planning - announcements and many more.</li>
									</ul>
									<p>
										Every conference has demands, especially during the conference. We ensure that every fine detail is taken care of, so you
										just have to focus on the goings on at the conference.
									</p>
									<p>
										The key to a smooth and successful conference is the details, even those that need taking care of after it, which is why
										we also provide you with Post Conference Services.
									</p>
									<p>
										All the post conference services, and the multitude of tinier details are executed with absolute care. Our aim is to ensure
										that every time you choose Balmer Lawrie Vacations Exotica, you have nothing but the most cherished memories and
										stories to collect, while we take care of the rest.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</section>
</div>