<section class="package-listing cd-main-content">
		<div class="table-layout">
			<div class="table-layout-col">
				<div class="wrapper">
					<div class="package-header clearfix">
						<a href="#" class="go-back"></a>
						<span class="package-title selecting-option">
							Category<span></span>						
						</span>
						<div class="package-selected-option">

						</div>
						<div class="package-multi-option">
							<ul>
								<li class="package-title"><a href="#" data-option="asia">Asia<span></span></a></li>
								<li class="package-title"><a href="#" data-option="australia-new_zealand">Australia / New Zealand<span></span></a></li>
								<li class="package-title"><a href="#" data-option="africa">Africa<span></span></a></li>
								<li class="package-title"><a href="#" data-option="usa/south-america/canada">USA / South America / Canada<span></span></a></li>
								<li class="package-title"><a href="#" data-option="europe">Europe<span></span></a></li>
							</ul>
						</div>

					</div>

					<div class="package-subheading">PACKAGEs</div>
					<span data-sly-use.helper="PackageListingHelper">
					<span data-sly-repeat="${helper.model}">
					<div class="packages-list">
						<ul class="clearfix">
							<li>
								<div class="individual-package-detail clearfix matchHeight gray-c">
									<div class="indi-package-pic mobileMatchHeight" style="background-image: url(package-listing-01.jpg);"></div>
									<div class="indi-package-summary mobileMatchHeight">
										<div class="heading">${PackageListingModel.title}</div>
										<div class="itineary-day">${PackageListingModel.sub_title}</div>
										<div class="package-desc">${PackageListingModel.description}</div>
									</div>
								</div>
							</li>
						</ul>
						<div class="load-more bounce"></div>
					</div>
					</span>
					</span>
				</div>	
			</div>	
		</div>
	</section>
</div>