<section class="theme-holiday cd-main-content">
        <div class="clearfix">
        <div class="group-holiday-logo">
                <div class="page-title">
                    Themed Holidays
                </div>
            </div>
            <div class="group-holiday-block clearfix" style="height: 100px;">
                <div class="group-holiday-category group-holiday-top clearfix">
                    <a href="#" class="holiday-thumbnail" style="background-image:url('beaches-and-islands.jpg');height: 278px;">
                        <div class="category-icon" style="background-image:url('beaches-and-islands-magnet.png');"></div>
                        <div class="category-name">Beaches & Islands</div>
                    </a>
                    <a href="#" class="holiday-thumbnail" style="background-image:url('honeymoon-category-block.jpg');">
                        <div class="category-icon" style="background-image:url('honeymoon-magnet.png');"></div>
                        <div class="category-name">Honeymoon</div>
                    </a>
                    <a href="#" class="holiday-thumbnail" style="background-image:url('adventure.jpg');">
                        <div class="category-icon" style="background-image:url('adventure-magnet.png');"></div>
                        <div class="category-name">Adventure</div>
                    </a>
                </div>
            </div>

            <div class="group-holiday-category group-holiday-bottom clearfix">
                <a href="#" class="holiday-thumbnail" style="background-image:url('cruise.jpg');">
                    <div class="category-icon" style="background-image:url('cruise-magnet.png');"></div>
                    <div class="category-name">cruise</div>
                </a>
                <a href="#" class="holiday-thumbnail" style="background-image:url('selfdrive-category-block.jpg');">
                    <div class="category-icon" style="background-image:url('self-drive-magnet.png');"></div>
                    <div class="category-name">self drive</div>
                </a>
                <a href="#" class="holiday-thumbnail" style="background-image:url('rail.jpg');">
                    <div class="category-icon" style="background-image:url('rail-magnet.png');"></div>
                    <div class="category-name">indian winter</div>
                </a>
            </div>
        </div>
    </section>
</div>