.category-page {
    background-image: url('/content/dam/vacationex/images/category-page-desktop-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.group-holiday-category {
    width: 100%;
    position: absolute;
}

.group-holiday-top {
    top: 0;
}

.group-holiday-bottom {
    bottom: 0px;
}

.group-holiday-category .holiday-thumbnail {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    font-size: 0;
    position: relative;
    /* transform: scale(1,1);
     */
}

.group-holiday-category .holiday-thumbnail:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.group-holiday-category .holiday-thumbnail .category-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    max-width: 160px;
    height: 170px ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.2s;
    transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.2s;
    position: relative;
    top: 0;
    width: 100%;
}

.group-holiday-category .holiday-thumbnail .category-icon img {
    /* height: 170px; */
}

.group-holiday-category .holiday-thumbnail .category-name {
    color: #fff;
    font-size: 36px;
    position: absolute;
    bottom: 2px;
    width: 100%;
    font-family: 'dinbold';
    text-transform: uppercase;
    -webkit-transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.2s;
    transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.2s;
    line-height: 38px;
}

.category-page .group-holiday-top .holiday-thumbnail{
    width: 33.33%;  
}

.category-page .group-holiday-bottom .holiday-thumbnail {
    width: 50%;
}

.group-holiday-category .holiday-thumbnail:hover .category-icon {
    top: 10px;
}

.group-holiday-category .holiday-thumbnail:hover .category-name {
    bottom: 10px;
}

.group-holiday-logo {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100px;
    vertical-align: middle;
    display: table;
    table-layout: fixed;
}

.group-holiday-logo .page-title {
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}
