.tnc {
    background-image: url(/content/dam/vacationex/images/bg/about-new-bg.jpg);
}

.accordion-block .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;
}

.accordion-block .faqs-accordion .faq-accord-tab {
    margin-bottom: 15px;
}

.accordion-block .faq-accord-tab,
.accordion-block .pointer li {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 3px;
    color: #f9efcb;
    font-family: 'din_lightregular';
}

.accordion-block .accord-title:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(/content/dam/vacationex/images/place-highlight-bullet.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 5px;
    left: 0;
}

.accordion-block .accord-title:before {
    content: '+';
    display: block;
    position: absolute;
    right: 15px;
}

.accordion-block .accord-title.active:before {
    content: '-';
}

.accordion-block .accord-title {
    font-size: 20px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    color: #f9efcb;
    text-transform: capitalize;
    border-bottom: 1px solid #f9efcb;
    padding-bottom: 5px;
    cursor: pointer;
}

.accordion-block .pointer {
    margin-left: 30px;
    display: none;
}

.accordion-block .faq-accord-tab:first-child .pointer {
    display: block;
}

.accordion-block .pointer li:after {
    content: '-';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

