<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='vacation.ex.testimonials'}"/>
<section class="testimonial-page cd-main-content">
		<div class="table-layout">
			<div class="table-layout-col">
				<div class="wrapper">
					<div class="testimonial-slider">
                        <div>
                            <div class="slider-thumbnail">
                                <div>
                                    <div class="thumbnail-content">
                                        <div class="thumbnail-img">
                                            <a href="#img-pop-up-01" class="img_popup" data-effect="mfp-move-horizontal">
                                                <img src="testimonial-thumbnail-02.jpg" alt="">
                                            </a>
                                            <div id="img-pop-up-01" class="mfp-hide mfp-with-anim testimonial-img-popup">
                                                <img src="testimonial-thumbnail-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="thumbnai-title">
                                            <p>Mansi Saxena</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="thumbnail-content">
                                        <div class="thumbnail-img">
                                            <a href="https://www.youtube.com/watch?v=ScMzIvxBSi4" class="video_popup" data-effect="mfp-move-horizontal">
                                                <img src="testimonial-thumbnail-01.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="thumbnai-title">
                                            <p>Mansi Saxena</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-content">
                                <div class="align-center">
                                    <div class="title">Mansi Saxena</div>
                                    <div class="sub-title">ROMANTIC CALIFORNIA WITH VEGAS</div>
                                    <div class="slider-quote">
                                        <p>
                                            Our trip to Vegas was very well planned and comfortable .. we did not experience any issue with hotel or flights.. Shikha did a great job and planned very thing to the perfection..
                                        </p>
                                        <p>
                                            Thank you so much.. will highly recommend if you are planning any trips soon
                                        </p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="slider-thumbnail">
                                <div>
                                    <div class="thumbnail-content">
                                        <div class="thumbnail-img">
                                            <a href="#img-pop-up-01" class="img_popup" data-effect="mfp-move-horizontal">
                                                <img src="testimonial-thumbnail-02.jpg" alt="">
                                            </a>
                                            <div id="img-pop-up-01" class="mfp-hide mfp-with-anim testimonial-img-popup">
                                                <img src="testimonial-thumbnail-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="thumbnai-title">
                                            <p>Mansi Saxena</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="thumbnail-content">
                                        <div class="thumbnail-img">
                                            <a href="https://www.youtube.com/watch?v=ScMzIvxBSi4" class="video_popup" data-effect="mfp-move-horizontal">
                                                <img src="testimonial-thumbnail-01.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="thumbnai-title">
                                            <p>Mansi Saxena</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-content">
                                <div class="align-center">
                                    <div class="title">Mansi Saxena</div>
                                    <div class="sub-title">ROMANTIC CALIFORNIA WITH VEGAS</div>
                                    <div class="slider-quote">
                                        <p>
                                            Our trip to Vegas was very well planned and comfortable .. we did not experience any issue with hotel or flights.. Shikha did a great job and planned very thing to the perfection..
                                        </p>
                                        <p>
                                            Thank you so much.. will highly recommend if you are planning any trips soon
                                        </p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="navigate-to-target">
                        <a href="#">
                            Tour Manager
                        </a>
                    </div>
				</div>	
			</div>	
		</div>
	</section>
</div>
