/****************** About us Block *******************/

.about-us {
    background-image: url('/content/dam/vacationex/images/bg/about-new-bg.jpg');
}

.about-us .tabs-menu {
    text-align: left;
}

.about-us .tabs-menu li {
    font-size: 12px;
    position: relative;
    padding-left: 28px;
    margin-bottom: 10px;
    margin-left: 2px;
    letter-spacing: 5px;
    min-height: 25px;
    line-height: 25px;
}

.about-us .tabs-menu li:before {
    content: '';
    display: block;
    width: 14px;
    height: 16px;
    background-image: url('/content/dam/vacationex/images/arrow-sprites.png');
    background-size: 60px;
    background-position: 46px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.about-us .tabs-menu li,
.about-us .tabs-menu li:before {
    -webkit-transition: all cubic-bezier(0, 0, 0.2, 1) 0.2s;
    transition: all cubic-bezier(0, 0, 0.2, 1) 0.2s;
}

.about-us .tabs-menu li.current {
    font-size: 18px;
    margin-left: 0px;
}

.about-us .tabs-menu li.current:before {
    width: 16px;
    height: 25px;
    background-size: 96px;
    background-position: 70px;
}

.about-us .bottom-content-block .tab-content {
    max-width: 100%;
    height: auto;
}

.about-us .bottom-content-block .tabs-main-copy {
    /* -webkit-columns: 250px 3;
     -moz-columns: 250px 3;
     columns: 250px 3;
     */
    color: #f9e6ce;
    font-family: 'din_lightregular';
    margin: 0 10px;
}

.about-us .bottom-content-block .tab-content p {
    margin-bottom: 10px;
}
