<div class="container">
<sly data-sly-resource="${'navigation' @resourceType='vacationex/components/content/common/navigation'}" />
	
	<sly data-sly-include="contentwithoutnav.html" />

<sly data-sly-resource="${'foot' @resourceType='vacationex/components/content/common/foot'}" />
</div>