@charset "UTF-8";
/*!
 * Copyright 2015 Drifty Co.
 * http://drifty.com/
 *
 * Ionic, v1.3.1
 * A powerful HTML5 mobile app framework.
 * http://ionicframework.com/
 *
 * By @maxlynch, @benjsperry, @adamdbradley <3
 *
 * Licensed under the MIT license. Please see LICENSE for more information.
 *
 */
/*!
  Ionicons, v2.0.1
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@font-face {
  font-family: "Ionicons";
  src: url("fonts/ionicons.eot");
  src: url("fonts/ionicons.eot") format("embedded-opentype"), url("fonts/ionicons.ttf") format("truetype"), url("fonts/ionicons.woff") format("woff"), url("fonts/ionicons.woff") format("woff"), url("fonts/ionicons.svg") format("svg");
  font-weight: normal;
    font-style: normal; }
*{

  font-family: "Ionicons";
}
