<section class="testimonial-page cd-main-content">
    <div class="table-layout">
      <div class="table-layout-col">
        <div class="wrapper">
          <div class="testimonial-slider">
            <div>
              <div class="slider-thumbnail">
                <div>
                  <div class="thumbnail-content">
                    <div class="thumbnail-img">
                      <img src="Testimonials_430-x-350_Px_Europe1.jpg" alt="">
                    </div>
  
                    <div class="thumbnai-title">
                      <p>
                        Exotic Europe </p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="slider-content">
                <div class="title">
                  Exotic Europe </div>
                <div class="sub-title">
                  - Shambhu Nath Chatterjee </div>
                <div class="slider-quote">
                  <p>I have the pleasure in sharing high opinion about Vacations Exotica&rsquo;s &ldquo;Exotic Europe" tour, which
                    I along with my wife Pratima, enjoyed with all our hearts. It was a very well planned and organised tour.
                    We really enjoyed touring various European cities with a professional tour manager arranged by them who
                    always helped us with a smiling face. All the way it was a very good and a complete value for money tour.
                    We look forward to avail their services in near future again.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="slider-thumbnail">
                <div>
                  <div class="thumbnail-content">
                    <div class="thumbnail-img">
                      <img src="Testimonials_430-x-350_Px_Europe2.jpg" alt="">
                    </div>
  
                    <div class="thumbnai-title">
                      <p>
                        Exotic Europe </p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="slider-content">
                <div class="title">
                  Exotic Europe </div>
                <div class="sub-title">
                  - Narendra Kumar &amp; Manjushree Pattanayak </div>
                <div class="slider-quote">
                  <p class="MsoNormal">The dream of touring Europe finally came true with Vacations Exotica.</p>
                  <p class="MsoNormal">The tour was hassle free with all meals included beforehand, keeping the fellow travelers relaxed. The tour
                    was well coordinated. We had lot of fun with other group members. Europe is simply BEAUTIFUL.</p>
                  <p class="MsoNormal">A well executed, affordable and an awesome tour. A trip to cherish forever. Thanks Vacations Exotica.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="slider-thumbnail">
                <div>
                  <div class="thumbnail-content">
                    <div class="thumbnail-img">
                      <img src="Russia.jpg" alt="">
                    </div>
  
                    <div class="thumbnai-title">
                      <p>
                        Exotic Scandinavia and Russia </p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="slider-content">
                <div class="title">
                  Exotic Scandinavia and Russia </div>
                <div class="sub-title">
                  - Nandini Rao </div>
                <div class="slider-quote">
                  <p>The Scandinavia and Russia tour with Vacations Exotica is exactly what the tour manager described as a "trailer".
                    My experience was the same. Having seen the trailer I am hoping to plan a customised tour with them the
                    next time I intend to explore these countries. The tour included whatever "the tourist" needs to cover
                    when they make a list of places to visit.&nbsp; This was my second tour with them and it was exactly what
                    I expected, "memorable". Looking forward to many more tours with them. </div>
              </div>
            </div>
            <div>
              <div class="slider-thumbnail">
                <div>
                  <div class="thumbnail-content">
                    <div class="thumbnail-img">
                      <img src="milburg.jpg" alt="">
                    </div>
  
                    <div class="thumbnai-title">
                      <p>
                        Exotic Canada with Alaska </p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="slider-content">
                <div class="title">
                  Exotic Canada with Alaska </div>
                <div class="sub-title">
                  - Mrs. Milburg Ashar &amp; Miss. Bridget Fernandes </div>
                <div class="slider-quote">
                  <p class="MsoNormal">Our Canada Alaska tour arranged by Vacations Exotica was one of our most memorable experience. The entire
                    process was smooth and hassle free.</p>
                  <p class="MsoNormal">We were very impressed with the hotels and food arrangements. Our tour manager conducted the tour well and
                    was really helpful and kind especially to the senior citizens.</p>
                  <p class="MsoNormal">Looking forward to travel with Vacations Exotica.&nbsp;</p>
                </div>
              </div>
            </div>
            <div>
              <div class="slider-thumbnail">
                <div>
                  <div class="thumbnail-content">
                    <div class="thumbnail-img">
                      <img src="Testimonials_430-x-350_Px_Africa.jpg" alt="">
                    </div>
  
                    <div class="thumbnai-title">
                      <p>
                        South African Splendours with Kenya </p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="slider-content">
                <div class="title">
                  South African Splendours with Kenya </div>
                <div class="sub-title">
                  - Sathyalatha </div>
                <div class="slider-quote">
                  <p>We took a trip to South Africa and Kenya, organised by Vacations Exotica. Needless to say we had a memorable
                    and enjoyable trip. The Garden Route from Cape Town to Knysna was an exhilarating experience, as we covered
                    miles of greenery and quaint peaceful towns along the bay. The tour manager was excellent, who took care
                    of our every need. We absolutely had no problem with food, the choice of hotels for stay and meals were
                    impeccable. Thanks to Vacations Exotica! Keep it up.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="slider-thumbnail">
                <div>
                  <div class="thumbnail-content">
                    <div class="thumbnail-img">
                      <img src="Testimonials_430-x-350_Px_Asia.jpg" alt="">
                    </div>
                    <div class="thumbnai-title">
                      <p>
                        Exotic China, Macau &amp; Hong Kong </p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="slider-content">
                <div class="title">
                  Exotic China, Macau &amp; Hong Kong </div>
                <div class="sub-title">
                  - Rajesh Shah &amp; Family </div>
                <div class="slider-quote">
                  <p class="MsoNormal">We had an amazing and wonderful vacation in Hong Kong - Macau &ndash; Shenzhen. We appreciate Vacations Exotica&rsquo;s
                    constant efforts to reply to our queries. Thank you for planning this trip for us on such a short notice
                    which helped us reach our destination.
                    <br />
                    <br /> We for sure recommend Vacations Exotica to our friends for your excellent service. We are looking forward
                    to our next trip with you!</p>
                </div>
              </div>
            </div>
            <div>
              <div class="slider-thumbnail">
                <div>
                  <div class="thumbnail-content">
                    <div class="thumbnail-img">
                      <img src="    " alt="">
                    </div>
  
                    <div class="thumbnai-title">
                      <p>
                        Enchanting Himachal </p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="slider-content">
                <div class="title">
                  Enchanting Himachal </div>
                <div class="sub-title">
                  - Jessy Wilson </div>
                <div class="slider-quote">
                  <p class="MsoNormal">We really enjoyed our trip to Himachal Pradesh and want to thank Vacations Exotica for making all the arrangements.</p>
                  <p class="MsoNormal">We received excellent hospitality from the Hotels. Apart from that the Food and Cab arrangements made were
                    very good.
                    <br />
                    <br /> Once again thank you very much for making our trip enjoyable.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="slider-thumbnail">
                <div>
                  <div class="thumbnail-content">
                    <div class="thumbnail-img">
                      <img src="Testimonials_430-x-350_Px_India.jpg" alt="">
                    </div>
  
                    <div class="thumbnai-title">
                      <p>
                        Memories of Andaman </p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="slider-content">
                <div class="title">
                  Memories of Andaman </div>
                <div class="sub-title">
                  - Babitha </div>
                <div class="slider-quote">
                  <p class="MsoNormal">It was an amazing holiday at Andaman! Thank you so much for all the comfortable arrangements that made our
                    trip a beautiful experience. Would surely suggest my friends and family about Vacations Excotica. Once
                    again thank you.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="slider-thumbnail">
                <div>
                  <div class="thumbnail-content">
                    <div class="thumbnail-img">
                      <img src="NZ.jpg" alt="">
                    </div>
  
                    <div class="thumbnai-title">
                      <p>
                        Exotic New Zealand </p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="slider-content">
                <div class="title">
                  Exotic New Zealand </div>
                <div class="sub-title">
                  - Ashish Sarawagi </div>
                <div class="slider-quote">
                  <p>Thank you Vacations Exotica for great planning and co-ordination for my New Zealand trip. It was really a
                    pleasure interacting with your staff and tour managers during the entire process.
                    <br />We thoroughly enjoyed every aspect of our trip starting from car rentals to hotels to flight booking to
                    the places to be visited. Not just me and my wife, but even the kids had a great time. Looking forward
                    to the next vacation.</p>
                </div>
              </div>
            </div>
          </div>
          <!--div class="navigate-to-target">
                      <a href="http://www.vacationsexotica.com/tour-managers">
                              Tour Managers
                      </a>
                  </div-->
        </div>
      </div>
    </div>
  </section>