<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='vacation.ex.india-package'}"
/>
<section id="package-listing-page" class="package-listing cd-main-content">
    <div class="table-layout">
        <div class="table-layout-col">
            <div class="wrapper">
                <div class="package-title">
                    India
                    <a href="#" class="go-back"></a>
                </div>
                <div class="package-subheading">Packages</div>
                <div class="packages-list"  >
                    <ul class="clearfix package_ajax_data">
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix gray-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(mystical-himachal-itinerary.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">MYSTICAL HIMACHAL ITINERARY</div>
                                    <div class="itineary-day">7 DAYS 6 NIGHTS</div>
                                    <div class="package-desc">Dalhousie, Dharamshala, Amritsar</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix purple-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(enchanting-himachal.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">ENCHANTING HIMACHAL</div>
                                    <div class="itineary-day">7 DAYS 6 NIGHTS</div>
                                    <div class="package-desc">Shimla, Manali, Chandigarh</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix pink-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(leh-itinerary.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">LEH ITINERARY</div>
                                    <div class="itineary-day">8 DAYS 7 NIGHTS</div>
                                    <div class="package-desc">Leh, Pangong, Nubra</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix blue-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(kashmir-leh-itinerary.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">KASHMIR & LEH ITINERARY</div>
                                    <div class="itineary-day">9 DAYS 8 NIGHTS</div>
                                    <div class="package-desc">Srinagar, Kargil, Leh, Pangong</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix gray-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(ladakh-himachal-itinerary.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">LADAKH HIMACHAL ITINERARY</div>
                                    <div class="itineary-day">8 DAYS 7 NIGHTS</div>
                                    <div class="package-desc">Leh, Pangong, Sarchu, Manali</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix purple-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(splendours-of-north-east-itinerary.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">SPLENDOURS OF NORTH EAST ITINERARY</div>
                                    <div class="itineary-day">8 DAYS 7 NIGHTS</div>
                                    <div class="package-desc">Darjeeling, Pelling, Gangtok</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix pink-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(north-east.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">NORTH EAST </div>
                                    <div class="itineary-day">10 DAYS 9 NIGHTS</div>
                                    <div class="package-desc">Gangtok, Lachung, Pelling, ,Darjeeling</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix blue-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(kashmir.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">KASHMIR</div>
                                    <div class="itineary-day">8 DAYS 7 NIGHTS</div>
                                    <div class="package-desc">Srinagar, Pahalgam, Gulmarg</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix gray-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(classic-goa.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">CLASSIC GOA </div>
                                    <div class="itineary-day">4 DAYS 3 NIGHTS</div>
                                    <div class="package-desc">Goa</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix purple-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(golden-traingle-itinerary.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">GOLDEN TRIANGLE ITINERARY</div>
                                    <div class="itineary-day">6 DAYS 5 NIGHTS</div>
                                    <div class="package-desc">Delhi, Agra, Jaipur</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix pink-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(assam-arunachal-pradesh.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">ASSAM, ARUNACHAL PRADESH </div>
                                    <div class="itineary-day">8 DAYS 7 NIGHTS</div>
                                    <div class="package-desc">Bhalukpung, Dirang, Tawang, Bondila, Guwahati</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix blue-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(meghalaya-arunachal-pradesh.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">MEGHALAYA, ARUNACHAL PRADESH </div>
                                    <div class="itineary-day">9 DAYS 8 NIGHTS</div>
                                    <div class="package-desc">Shillong, Bhalupong, Dirang, Tawang, Bomdila, Guwahati</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix gray-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(assam-meghalaya-arunachal-pradesh.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">ASSAM, MEGHALAYA, ARUNACHAL PRADESH </div>
                                    <div class="itineary-day">11 DAYS 10 NIGHTS</div>
                                    <div class="package-desc">Shillong,Bhalukpong, Dirang, Tawang, Bomdila, Kaziranga, Guwahati
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix purple-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(assam--meghalaya.jpg), url('default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">ASSAM- MEGHALAYA </div>
                                    <div class="itineary-day">8 DAYS 7 NIGHTS</div>
                                    <div class="package-desc">Shilong, Kaziranga, Nameri, Guwahati</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix pink-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(assam-wildlife-tour.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">ASSAM WILDLIFE TOUR </div>
                                    <div class="itineary-day">8 DAYS 7 NIGHTS</div>
                                    <div class="package-desc">Guwahati, Manas, Nameri, Kaziranga</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix blue-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(uttaranchal-itinerary.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">UTTARANCHAL ITINERARY</div>
                                    <div class="itineary-day">7 DAYS 6 NIGHTS</div>
                                    <div class="package-desc">Nainital, Kausani, Corbet</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix gray-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(rajasthan-itinerary.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">RAJASTHAN ITINERARY</div>
                                    <div class="itineary-day">7 DAYS 6 NIGHTS</div>
                                    <div class="package-desc">Udaipur, Jodhpur, Jaisalmer</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix purple-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(gujarat-itinerary.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">GUJARAT ITINERARY</div>
                                    <div class="itineary-day">8 DAYS 7 NIGHTS</div>
                                    <div class="package-desc">Ahmedabad, Dwarka, Somnath, Gir, Bajana</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix pink-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(memories-of-andaman.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">MEMORIES OF ANDAMAN </div>
                                    <div class="itineary-day">7 DAYS 6 NIGHTS</div>
                                    <div class="package-desc">Port Blair, Havelock, Neil Island </div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix blue-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(nepal.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">NEPAL</div>
                                    <div class="itineary-day">7 DAYS 6 NIGHTS</div>
                                    <div class="package-desc">Kathmandu, Pokhara &amp; Nagarkot </div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix gray-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(bhutan.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">BHUTAN</div>
                                    <div class="itineary-day">7 DAYS 6 NIGHTS</div>
                                    <div class="package-desc">Thimphu, Wangdue / Punakha, Paro</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix purple-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(char-dham-yatra-in-himalayas.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">CHAR DHAM YATRA IN HIMALAYAS</div>
                                    <div class="itineary-day">9 DAYS 8 NIGHTS</div>
                                    <div class="package-desc">Shri Kedarnath, Badrinath, Gangotri &amp; Yamunotri</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix pink-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(rajasthan-itinerary-1.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">RAJASTHAN ITINERARY</div>
                                    <div class="itineary-day">10 DAYS 9 NIGHTS</div>
                                    <div class="package-desc">Jaipur, Bikaner, Jaisalmere, Jodhpur- via Ranakpur, Udaipur</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix blue-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(marvelous-kerala.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">MARVELOUS KERALA </div>
                                    <div class="itineary-day">8 DAYS 7 NIGHTS</div>
                                    <div class="package-desc">Munnar, Thekkady, Alleppey</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix gray-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(enchanting-kerala.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">ENCHANTING KERALA</div>
                                    <div class="itineary-day">10 DAYS 9 NIGHTS</div>
                                    <div class="package-desc">Munnar, Thekkady, Alleppey, Kovalam-Trivandrum</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix purple-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(madhya-pradesh-itinerary.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">MADHYA PRADESH ITINERARY</div>
                                    <div class="itineary-day">7 DAYS 6 NIGHTS</div>
                                    <div class="package-desc">Panchmarhi, Kanha, Bandhavgarh</div>
                                </div>
                            </a>
                        </li>
                        <li style="display: list-item;">
                            <a href="#" class="individual-package-detail clearfix pink-c">
                                <div class="indi-package-pic mobileMatchHeight" style="background-image: url(orissa-itinerary.jpg), url(default-package.jpg)"></div>
                                <div class="indi-package-summary mobileMatchHeight">
                                    <div class="heading">ORISSA ITINERARY</div>
                                    <div class="itineary-day">6 DAYS 5 NIGHTS</div>
                                    <div class="package-desc">Bhubaneshwar, Konark, Puri</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>