/* package detail page */

#package-detail-page {
    background-image: url('/content/dam/vacationex/images/package-listing-bg.jpg');
}

.package-detail-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
 
}

.package-detail-page #current-tab {
    background-color: #faebdd;
    color: #272727;
    font-size: 20px;
    max-width: 165px;
    padding: 12px 0;
    box-shadow: inset 0px 1px 6px 1px rgba(0, 0, 0, 0.2);
    max-width: 480px;
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
    position: relative;
    padding-right: 25px;
    text-transform: uppercase;
    cursor: pointer;
}

.package-detail-page #current-tab:after {
    content: '';
    display: block;
    background-image: url(/content/dam/vacationex/images/arrow.png);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: center;
    right: 12px;
    position: absolute;
    top: 18px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.package-detail-page .tabs-menu {
    text-align: center;
    width: 100%;
}

.package-detail-page .tabs-menu li {
    background-color: #faebdd;
    color: #272727;
    font-size: 20px;
    max-width: 165px;
    padding: 6px 0;
    margin: 0px auto 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.45);
    font-family: 'din_lightregular';
}

.package-detail-page .tabs-menu li:last-child {
    margin-bottom: 0px;
}

.package-detail-page .tabs-menu li.current {
    background-color: #eba113;
    color: #fff;
    -webkit-transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 0.2s;
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 0.2s;
}

.package-detail-page .category-detail-content .table-layout {
    margin-top: 62px;
    display: block;
}

.package-detail-page .category-detail-content .table-layout-col {
    display: block;
}

.package-detail-page .tabs-menu li a {
    display: block;
}

.package-detail-page .category-detail-content {
    background-color: rgba(249, 230, 206, 0.3);
    height: 100%;
    display: block;
}

.package-detail-page .package-detail-section {
    /* height: calc(100% - 80px);
     width: calc(100% - 80px);
     */
    height: 100%;
    width: 97%;
    margin-left: auto;
}

.tab-content {
    display: none;
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.tab-content:first-child {
    display: block;
}

.package-detail-page .package-detail-section .package-description {
    padding: 1% 2.5% 1.5%;
    background-color: #f9efcb;
    background-image: url(/content/dam/vacationex/images/heading-bg.jpg);
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-bottom: -70px;
}

.package-detail-page .package-detail-section .package-detail-tab {
    padding: 0 35px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 80px;
    height: 100%;
    /*min-height: 100vh;*/
}

.package-detail-page .tab-content:first-child {
    display: none;
}

.package-detail-page .package-detail-section .package-title, .package-detail-page .package-detail-section .package-itinerary-num {
    color: #272727;
    font-size: 30px;
    text-transform: uppercase;
}

.package-detail-page .package-detail-section .package-itinerary-num {
    font-size: 18px;
}

.package-detail-page .package-detail-section .package-itinerary-departure-date {
    font-size: 12px;
    background-color: #b5aa85;
    display: inline-block;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    margin-top: 2px;
}

.package-detail-page .package-detail-section .call-us {
    position: absolute;
    right: 0;
    bottom: -10px;
    line-height: 0;
    max-width: 140px;
}

.package-detail-page .package-detail-section .package-subtitle {
    font-size: 14px;
    color: #272727;
    margin-top: 2%;
    position: relative;
    font-style: italic;
}

/* .package-detail-page .package-detail-section .package-subtitle:after{
     content:'';
     display:block;
     width: 40px;
     height: 6px;
     background-color: #272727;
     margin-left: 10px;
     position: absolute;
     bottom: 0;
}
 */

.package-detail-page .package-detail-section .package-details {
    padding-bottom: 10px;
}

.package-detail-page .package-detail-section .package-tabs-heading {
    color: #f9efcb;
    margin-bottom: 0px;
    /* background-color: rgba(249, 239, 203, 0.45);
     */
    /* padding: 1% 0px;
     */
    font-size: 24px;
    line-height: 26px;
    /* font-family: 'dinbold';
     */
    text-transform: uppercase;
    padding-bottom: 1.5%;
}

.package-detail-page .package-detail-section .package-tabs-subheading, #inclusions .faqs-accordion .faq-accord-tab .package-place-name {
    color: #f9efcb;
    margin: 1.5% 0;
    text-transform: uppercase;
    font-size: 18px;
    /* border-bottom: 1px solid #f9efcb;
     */
    display: block;
    padding: 0;
    font-family: 'din_mediumregular';
}

#inclusions .faqs-accordion .faq-accord-tab .package-place-name:after {
    display: none;
}

#inclusions .faqs-accordion .faq-accord-tab:first-child .package-place-highlights {
    display: block;
}

#inclusions .faqs-accordion .faq-accord-tab .package-place-highlights ul {}

#inclusions .faqs-accordion .faq-accord-tab .package-place-highlights>ul li {
    margin: 7x 0;
}

#inclusions .faqs-accordion .faq-accord-tab .package-place-highlights>ul>li:after, .package-detail-page .package-listing-pointers .highlight-points li:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(/content/dam/vacationex/images/place-highlight-bullet.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 5px;
    left: 0;
}

#inclusions .faqs-accordion .faq-accord-tab .package-place-highlights ul li ul {}

#inclusions .faqs-accordion .faq-accord-tab .package-place-highlights ul li ul li {}

.package-detail-page .package-listing-pointers, .enquiry-form {
    /* background-color: rgba(249, 239, 203, 0.45);
     */
    /* padding: 1.5% 0px;
     */
    overflow-x: auto;
}

.package-detail-page .package-listing-pointers .package-place-name {
    /* font-family: 'dinbold';
     */
    font-size: 20px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 3px;
    color: #f9efcb;
    text-transform: capitalize;
}

.package-detail-page #highlights .package-listing-pointers .package-place-name, .package-detail-page #pricing .package-listing-pointers .package-place-name {
    font-weight: normal;
    margin-bottom: 10px;
    color: #f9efcb;
}

.package-detail-page .package-listing-pointers .package-place-name:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(/content/dam/vacationex/images/place-highlight-bullet.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 5px;
    left: 0;
}

.package-detail-page .package-listing-pointers ul {
    margin-bottom: 20px;
}

.package-detail-page .package-listing-pointers ul li, .package-detail-page .package-listing-pointers .package-place-highlights {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 3px;
    color: #f9efcb;
    font-family: 'din_lightregular';
}

.package-detail-page .package-listing-pointers ul li:after {
    content: '-';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.package-detail-page .package-listing-pointers .package-place-highlights {
    /* margin-left: 30px;
     padding-left: 0;
     */
}

/* Review block */

.package-detail-page .package-listing-pointers .package-reviews-block {
    position: relative;
    font-size: 18px;
    margin: 3px 0 20px;
    color: #f9efcb;
    font-family: 'din_lightregular';
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-name {
    font-weight: bold;
    font-size: 20px;
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content {
    border-bottom: 1px solid rgba(209, 200, 172, 0.30);
    padding-bottom: 17px;
    margin-bottom: 10px;
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content p {
    padding: 5px 30px;
    position: relative;
    margin: 10px auto 0;
    text-align: justify;
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content p:after, .package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content p:before {
    content: '';
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background-size: 20px;
    position: absolute;
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content p:after {
    background-image: url(/content/dam/vacationex/images/quote-end.png);
    right: 0;
    bottom: 0;
}

.package-detail-page .package-listing-pointers .package-reviews-block .reviewer-content p:before {
    background-image: url(/content/dam/vacationex/images/quote-start.png);
    top: 0;
    left: 0;
}

/* Explore block */

.package-detail-page .package-listing-pointers .package-explore-block {
    position: relative;
    font-size: 18px;
    margin: 3px 0 20px;
    color: #f9efcb;
    font-family: 'din_lightregular';
}

.package-detail-page .package-listing-pointers .package-explore-block .explore-content {
    border-bottom: 1px solid rgba(209, 200, 172, 0.30);
    padding-bottom: 17px;
    margin-bottom: 10px;
    position: relative;
}

.package-detail-page .package-listing-pointers .package-explore-block .explore-content:after {
    /* content: '';
    display: block;
    position: absolute;
    width: 300px;
    height: 8px;
    background-image: url(/content/dam/vacationex/images/separator.png);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    background-position: center; */
}

.package-detail-page .package-listing-pointers .package-explore-block .explore-content p {
    padding: 5px 30px;
    position: relative;
    margin: 10px auto 0;
    text-align: center;
    font-style: italic;
}

/* */

/* .package-detail-page .package-listing-pointers ul li{
     font-size: 20px;
     position: relative;
     padding-left: 30px;
     margin-bottom: 3px;
     color: #f9efcb;
     text-transform: capitalize;
}
 .package-detail-page .package-listing-pointers ul li:after{
     content: '';
     display: block;
     position: absolute;
     background-image: url(/content/dam/vacationex/images/place-highlight-bullet.png);
     width: 15px;
     height: 15px;
     background-repeat: no-repeat;
     background-size: contain;
     top: 5px;
     left: 0;
}
 .package-detail-page .package-listing-pointers > ul > ul{
     margin-left: 30px;
     padding-left: 0;
}
 .package-detail-page .package-listing-pointers > ul > ul li{
     position: relative;
     padding-left: 20px;
     font-size: 18px;
     margin-bottom: 3px;
     color: #f9efcb;
     font-family: 'din_lightregular';
}
 .package-detail-page .package-listing-pointers > ul > ul li:after{
     content: '-';
     display: block;
     position: absolute;
     left: 0;
     top: 0;
}
 */

/* */

.package-detail-page .package-detail-section .tab-content .custom-tab-title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 1.5% auto;
    overflow: hidden;
    color: #f9efcb;
    letter-spacing: 4px;
}

.package-detail-page .package-detail-section .tab-content .custom-tab-title:after, .package-listing .package-subheading:after {
    background-image: url(/content/dam/vacationex/images/font-border.png);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    left: 0.5em;
    margin-right: -100%;
}

.itinerary-day-summary .slick-slide>div {
    position: relative;
}

.itinerary-day-summary .daywise-itinerary .read-more-popup-content {
    display: none;
}

#itinerary .wrapper-p {
    position: relative;
}

/* #itinerary .read-more-popup-block .mCSB_scrollTools{
     height: 80%;
     bottom: 0;
     top: auto;
}
 */

#itinerary .read-more-popup-body {
    position: absolute;
    width: 100%;
    background-color: rgba(53, 53, 53, 0.9);
    -webkit-transition: all .3s cubic-bezier(0.39, 0.58, 0.57, 1);
    transition: all .3s cubic-bezier(0.39, 0.58, 0.57, 1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 15px;
    margin-top: 50px;
}

#itinerary .read-more-popup-body.active {
    z-index: 2;
    margin-top: 0px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#itinerary .close-btn {
    display: block;
    position: absolute;
    right: -9px;
    top: -14px;
    font-size: 17px;
    font-weight: bold;
    background-color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}

#itinerary .read-more-popup-block .close-btn {
    display: none;
}

#itinerary .read-more-popup-block {
    max-height: 100%;
}

#itinerary .read-more-popup-block p, #itinerary .read-more-inner-block p {
    margin-bottom: 10px;
    color: #f9efcb;
}

#itinerary .read-more-popup-block .pop-up-img, #itinerary .read-more-inner-block .pop-up-img {
    float: left;
    margin-right: 10px;
}

#itinerary .read-more-popup-block ul {}

#itinerary .read-more-popup-block ul li, #itinerary .read-more-inner-block ul li {
    color: #f9efcb;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}

#itinerary .read-more-popup-block ul li:after, #itinerary .read-more-inner-block ul li:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(/content/dam/vacationex/images/place-highlight-bullet.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 5px;
    left: 0;
}

.itinerary-day-summary .daywise-itinerary {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 5px;
    margin-top: 0;
}

.itinerary-day-summary .itinerary-img {
    width: 100%;
}

.itinerary-day-summary .itinerary-day {
    color: #fbe9d1;
    font-size: 30px;
    line-height: 30px;
    margin: 10% 0 5% 17px;
    -webkit-transition: all 0.5s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    transition: all 0.5s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    position: relative;
    top: 30px;
}

.itinerary-day-summary .daywise-itinerary:hover .itinerary-day {
    top: 0px;
}

.itinerary-day-summary .itinerary-day:after {
    content: '';
    display: block;
    width: 25px;
    height: 4px;
    background-color: #fbe9d1;
    position: relative;
    top: 10px;
    left: 2px;
}

.itinerary-day-summary .daywise-details {
    padding: 4%;
    overflow: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    transition: all 0.3s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    font-size: 11px;
    line-height: 14px;
}

.itinerary-day-summary .daywise-itinerary .daywise-details .slidInUpTrans {
    -webkit-transition: all 0.5s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    transition: all 0.5s cubic-bezier(0.61, -0.2, 0.57, 1.03);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: relative;
    bottom: -150px;
    height: 41px;
    overflow: hidden;
}

.itinerary-day-summary .daywise-itinerary:hover .daywise-details {
    background-color: rgba(249, 239, 203, 0.7);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}

.itinerary-day-summary .daywise-itinerary:hover .daywise-details .slidInUpTrans {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    bottom: 0px;
}

.itinerary-day-summary .read-more {
    background-color: #262825;
    color: #fff;
    padding: 5px 10px;
    position: relative;
    display: block;
    margin-top: 10px;
    max-width: 90px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
}

.daywise-itinerary {
    position: relative;
}

.daywise-itinerary .itinerary-bg-thumbnail {}

/* .daywise-itinerary .itinerary-bg-thumbnail .itinerary-day{
    position: absolute;
    z-index: 1;
}
.itinerary-day-summary .daywise-itinerary:hover .itinerary-bg-thumbnail .itinerary-day{
    top: -13px;
} */

.daywise-itinerary .itinerary-bg-thumbnail:after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.daywise-itinerary .itinerary-bg-thumbnail img {
    width: 100%;
}

.daywise-itinerary .itinerary-content-block {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
}

/* FAQS */

/* .faqs-accordion .faq-accord-tab {
    overflow: hidden;
    padding-left: 0px !important;
}

.faqs-accordion .faq-accord-tab:after {
    display: none !important;
}

.faqs-accordion .faq-accord-tab .package-place-name {
    padding-right: 28px;
    cursor: pointer;
    margin: 1.5% 10px;
}

.faqs-accordion .faq-accord-tab .package-place-highlights {
    display: none;
}

.faqs-accordion .faq-accord-tab ul {
    margin-bottom: 0px;
}

.faqs-accordion .faq-accord-tab:first-child ul {
    display: block;
}

.faqs-accordion .faq-accord-tab .package-place-name:before {
    content: '+';
    display: block;
    position: absolute;
    right: 15px;
}

.faqs-accordion .faq-accord-tab .package-place-name.active:before {
    content: '-';
} */
