<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='vacation.ex.tnc'}"/>
<div class="container">
    <base href="/content/dam/vacationex/images/">
    <section class="tnc v-two-block cd-main-content">
        <div class="table-layout">
            <div class="table-layout-col">
                <div class="top-heading-block">
                    <div class="wrapper">
                        <h1 class="page-name">TERMS & CONDITIONS</h1>
                    </div>
                </div>
                <div class="bottom-content-block accordion-block package-listing-pointers">
                    <div class="wrapper mCustomScrollbar custom-height">
                        <!-- Accordion begin -->
                        <ul class="faqs-accordion">
                            <!-- Section 1 -->
                            <li class="faq-accord-tab">
                                <div class="accord-title active">DEFINITION</div>
                                <div class="pointer">
                                    <ul>
                                        <li>"You"/"Client" means the Person/Persons in whose name or on whose behalf the booking is made.</li>
										<li>"We"/"Us"/ means Balmer Lawrie & Co. Ltd SBU: Travel & Vacations (Vacations Exotica)</li>
										<li>"Independent Contractors" means hotelier/hotel owner, owner of any airlines or shipping company or Railway, Ferryboat owner/Operator, Coach owner/Operator, or any other person or organization who has been selected by us to render services to the Client.</li>
										<li>"Tour Cost" means the amount mentioned in the Total Tour Cost column in the Booking Form overleaf.</li>
										<li>All errors and omissions exempted. </li>
										<li>Note: All trade names and marks belong to the respective owners and we stake no claim or patronage of the same.</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="faq-accord-tab">
                                <div class="accord-title">DEFINITION</div>
                                <div class="pointer">
                                    <ul>
                                       <li>"You"/"Client" means the Person/Persons in whose name or on whose behalf the booking is made.</li>
										<li>"We"/"Us"/ means Balmer Lawrie & Co. Ltd SBU: Travel & Vacations (Vacations Exotica)</li>
										<li>"Independent Contractors" means hotelier/hotel owner, owner of any airlines or shipping company or Railway, Ferryboat owner/Operator, Coach owner/Operator, or any other person or organization who has been selected by us to render services to the Client.</li>
										<li>"Tour Cost" means the amount mentioned in the Total Tour Cost column in the Booking Form overleaf.</li>
										<li>All errors and omissions exempted. </li>
										<li>Note: All trade names and marks belong to the respective owners and we stake no claim or patronage of the same.</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="faq-accord-tab">
                                <div class="accord-title">DEFINITION</div>
                                <div class="pointer">
                                    <ul>
                                       <li>"You"/"Client" means the Person/Persons in whose name or on whose behalf the booking is made.</li>
										<li>"We"/"Us"/ means Balmer Lawrie & Co. Ltd SBU: Travel & Vacations (Vacations Exotica)</li>
										<li>"Independent Contractors" means hotelier/hotel owner, owner of any airlines or shipping company or Railway, Ferryboat owner/Operator, Coach owner/Operator, or any other person or organization who has been selected by us to render services to the Client.</li>
										<li>"Tour Cost" means the amount mentioned in the Total Tour Cost column in the Booking Form overleaf.</li>
										<li>All errors and omissions exempted. </li>
										<li>Note: All trade names and marks belong to the respective owners and we stake no claim or patronage of the same.</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="faq-accord-tab">
                                <div class="accord-title">DEFINITION</div>
                                <div class="pointer">
                                    <ul>
                                        <li>"You"/"Client" means the Person/Persons in whose name or on whose behalf the booking is made.</li>
										<li>"We"/"Us"/ means Balmer Lawrie & Co. Ltd SBU: Travel & Vacations (Vacations Exotica)</li>
										<li>"Independent Contractors" means hotelier/hotel owner, owner of any airlines or shipping company or Railway, Ferryboat owner/Operator, Coach owner/Operator, or any other person or organization who has been selected by us to render services to the Client.</li>
										<li>"Tour Cost" means the amount mentioned in the Total Tour Cost column in the Booking Form overleaf.</li>
										<li>All errors and omissions exempted. </li>
										<li>Note: All trade names and marks belong to the respective owners and we stake no claim or patronage of the same.</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="faq-accord-tab">
                                <div class="accord-title">DEFINITION</div>
                                <div class="pointer">
                                    <ul>
                                        <li>"You"/"Client" means the Person/Persons in whose name or on whose behalf the booking is made.</li>
										<li>"We"/"Us"/ means Balmer Lawrie & Co. Ltd SBU: Travel & Vacations (Vacations Exotica)</li>
										<li>"Independent Contractors" means hotelier/hotel owner, owner of any airlines or shipping company or Railway, Ferryboat owner/Operator, Coach owner/Operator, or any other person or organization who has been selected by us to render services to the Client.</li>
										<li>"Tour Cost" means the amount mentioned in the Total Tour Cost column in the Booking Form overleaf.</li>
										<li>All errors and omissions exempted. </li>
										<li>Note: All trade names and marks belong to the respective owners and we stake no claim or patronage of the same.</li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                        <!-- Accordion end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>