<section class="landing-p clearfix package-detail-page cd-main-content">
		<div class="row row-reverse wrapper">
			<div id="left-col-width" class="table-layout page-heading-section col col-33">
				<div class="table-layout-col">

                    <div class="enquiry-form">
							<form class="clearfix">
								<!-- Name -->
								<div class="form-group">
									<div class="form-ele">
										<input id="name" name="Name" type="text" placeholder="Name" class="form-control" required="">
									</div>

								</div>

								<!-- Surname -->
								<div class="form-group">
									<div class="form-ele">
										<input id="surname" name="Surname" type="text" placeholder="Surname" class="form-control" required="">
									</div>

								</div>

								<!-- Phone Number -->
								<div class="form-group">
									<div class="form-ele">
										<input id="phone-number" name="phone-number" type="text" placeholder="Phone Number" class="form-control" required="">
									</div>

								</div>

								<!-- Email -->
								<div class="form-group">
									<div class="form-ele">
										<input id="email" name="email" type="text" placeholder="Email" class="form-control" required="">
									</div>

								</div>

								<!-- OTP 
								<div class="form-group align-left">
									<label class="control-label" for="otp">OTP:</label> 
									<div class="form-ele">
										<input id="otp" name="otp" type="text" placeholder="OTP" class="form-control" required="">
									</div>

								</div>
								-->
								<!-- ZIP -->
								<div class="form-group">
									<div class="form-ele">
										<input id="zip" name="zip" type="text" placeholder="ZIP" class="form-control" required="">
									</div>

								</div>

								<!-- Package -->
								<div class="form-group">
									<div class="form-ele">
										<select id="package" name="package" class="form-control">
											<option value="1">Option one</option>
											<option value="2">Option two</option>
										</select>
									</div>

								</div>

								<!-- Best time to call -->
								<div class="form-group">
									<div class="form-ele">
										<select id="to-call" name="to-call" class="form-control">
											<option value="1">Option one</option>
											<option value="2">Option two</option>
										</select>
									</div>

								</div>

								<!-- Submit -->
								<div class="form-group form-submit">
									<div class="form-ele">
										<input id="submit-btn" type="submit" value="Send me" class="form-control">
									</div>
								</div>
							</form>
						</div>

				</div>
			</div>
			<div id="right-col-width" class="col col-66 category-detail-content">
				<div class="table-layout">
					<div class="table-layout-col">
						<div class="package-detail-section">
							<div class="package-description show-in-desktop">
								<div class="package-title">EXOTIC America with Bahamas</div>
								<div class="package-itinerary-num">19 Days 20 Nights</div>
								<div class="package-itinerary-departure-date">Departures on 25th Apr, 30th Sep, 12th Dec</div>
								<div class="package-subtitle">New York, Washington D.C., Hershey, Harrisburg, Corning, Niagara Falls, Orlando, Miami, Bahamas, Las Vegas, Los Angeles, Santa Monica, Solvang, and San Francisco</div>
								<div class="call-us">
									<img src="call-us.png" alt="">
								</div>
							</div>
							<div class="package-detail-tab">
								<div id="itinerary" data-slider-type="slick_slider" class="tab-content">
									<div class="row">
										<div class="col col-100">
											<div class="custom-tab-title">Itinerary</div>
											<div class="wrapper-p">
												<div class="read-more-popup-body">
													<div class="close-btn">X</div>
													<div class="read-more-popup-block"></div>
												</div>
												<div class="itinerary-day-summary clearfix">
													<div>
														<div class="daywise-itinerary" style="background-image:url('itinerary-days.jpg');">
															<p class="itinerary-day">Day 1</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
															<div class="read-more-popup-content">
																<div class="close-btn">X</div>
																<div class="read-more-inner-block">
																	<p>Day 01 </p>

																	<p>Welcome aboard!  Today enter the world of Vacations Exotica as you begin your memorable journey to the Land Down Under – Australia.  Fly to Brisbane. Onto Gold Coast – the fun capital of Australia. Also enjoy a fun filled Paradise Jet Boating ride – Ranked No. 1 activity on Gold Coast by TripAdvisor. Enjoy Fire Truck Ride.
																	</p>
																	<p>
																		<ul>
																			<li>Today, enter the world of Vacations Exotica as you embark on your tour to Australia. On arrival at the Brisbane airport you will be met by our professional and experienced tour manager in the arrival area outside the customs hall. Drive to Gold Coast - with 42 km. of sun-drenched beaches, theme parks, shopping and nightlife, it has something for everyone. Enjoy an Indian vegetarian lunch.</li>
																			<li>Enjoy Fire Truck Tour. Board your Fire Truck for a unique tour aboard an authentic Fire Truck & later transfer to a fun filled Paradise Jet Boating ride – Ranked No. 1 activity on Gold Coast by TripAdvisor.
																		</li>
																		</ul>
																	</p>
																	<p>
																	Tonight enjoy a delicious Indian dinner.
																	</p>
																	<p>
																	Overnight at Hotel Mantra Legends or similar in Gold Coast. (L, D)
																	</p>
																</div>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary"  style="background-image:url('itinerary-day-2.jpg');">
															<p class="itinerary-day">Day 2</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
															<div class="read-more-popup-content">
																<div class="close-btn">X</div>
																<div class="read-more-inner-block">
																	<p>Day 02 </p>

																	<p>Welcome aboard!  Today enter the world of Vacations Exotica as you begin your memorable journey to the Land Down Under – Australia.  Fly to Brisbane. Onto Gold Coast – the fun capital of Australia. Also enjoy a fun filled Paradise Jet Boating ride – Ranked No. 1 activity on Gold Coast by TripAdvisor. Enjoy Fire Truck Ride.
																	</p>
																	<p>
																		<ul>
																			<li>Today, enter the world of Vacations Exotica as you embark on your tour to Australia. On arrival at the Brisbane airport you will be met by our professional and experienced tour manager in the arrival area outside the customs hall. Drive to Gold Coast - with 42 km. of sun-drenched beaches, theme parks, shopping and nightlife, it has something for everyone. Enjoy an Indian vegetarian lunch.</li>
																			<li>Enjoy Fire Truck Tour. Board your Fire Truck for a unique tour aboard an authentic Fire Truck & later transfer to a fun filled Paradise Jet Boating ride – Ranked No. 1 activity on Gold Coast by TripAdvisor.
																		</li>
																		</ul>
																	</p>
																	<p>
																	Tonight enjoy a delicious Indian dinner.
																	</p>
																	<p>
																	Overnight at Hotel Mantra Legends or similar in Gold Coast. (L, D)
																	</p>
																</div>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary" style="background-image:url('itinerary-day-2.jpg');">
															<p class="itinerary-day">Day 3</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary"  style="background-image:url('itinerary-days.jpg');">
															<p class="itinerary-day">Day 4</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary" style="background-image:url('itinerary-days.jpg');">
															<p class="itinerary-day">Day 5</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary"  style="background-image:url('itinerary-day-2.jpg');">
															<p class="itinerary-day">Day 6</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary" style="background-image:url('itinerary-day-2.jpg');">
															<p class="itinerary-day">Day 7</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary"  style="background-image:url('itinerary-days.jpg');">
															<p class="itinerary-day">Day 8</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary" style="background-image:url('itinerary-days.jpg');">
															<p class="itinerary-day">Day 9</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary"  style="background-image:url('itinerary-day-2.jpg');">
															<p class="itinerary-day">Day 10</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary" style="background-image:url('itinerary-day-2.jpg');">
															<p class="itinerary-day">Day 11</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary"  style="background-image:url('itinerary-days.jpg');">
															<p class="itinerary-day">Day 12</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary" style="background-image:url('itinerary-days.jpg');">
															<p class="itinerary-day">Day 13</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary"  style="background-image:url('itinerary-day-2.jpg');">
															<p class="itinerary-day">Day 14</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary" style="background-image:url('itinerary-day-2.jpg');">
															<p class="itinerary-day">Day 15</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
													<div>
														<div class="daywise-itinerary"  style="background-image:url('itinerary-days.jpg');">
															<p class="itinerary-day">Day 16</p>
															<div class="daywise-details">
																<p class="slidInUpTrans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet purus urna. Proin dictum fringilla enim, sit amet suscipit dolor dictum in.</p>
																<a href="#" class="read-more">Read More</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Include copyright and footer copy -->
       <section data-sly-include="floting-icons.html"></section> 
	</section>
<!-- Include copyright and footer copy -->

</div>
<!-- Include footer -->