.testimonial-page {
    background-image: url(/content/dam/vacationex/images/testimonial-bg.jpg);
}

.testimonial-page .wrapper {
    height: auto;
}

.testimonial-slider {
    /* margin-top: 110px; */
}

.testimonial-slider .slick-list {
    margin: 0 auto;
    max-width: 90%;
}

.cd-main-content .testimonial-slider .slick-prev.slick-disabled,
.cd-main-content .testimonial-slider .slick-next.slick-disabled {
    display: block !important;
    opacity: 0.7;
}

.testimonial-slider .slider-thumbnail .thumbnail-content {
    /* max-width: 400px; */
}


/*.testimonial-slider{}*/

.testimonial-slider .slider-thumbnail .slick-current.slick-active .thumbnail-content {
    /*transform: rotate(-5deg);
    transform-origin: center;*/
}

.testimonial-slider .slider-thumbnail .slick-slide {
    /* position: absolute; */
}

.testimonial-slider .slider-thumbnail {
    width: 40%;
    float: left;
    /* background-image: url(/content/dam/vacationex/images/testimonial-bg-01.png); */
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 40px;
}

.testimonial-slider .slider-thumbnail .thumbnail-content {
    background-color: #fff;
    padding: 20px;
    /* max-width: 400px; */
    transition: all 0.5s cubic-bezier(0.47, 0, 0.75, 0.72);
    transform: rotate(0deg);
    transform-origin: center;
    margin: 22px;
}

.testimonial-slider .slider-thumbnail .slick-list {
    max-width: 100%;
}

.testimonial-slider .slider-thumbnail .thumbnail-content .thumbnail-img {}

.testimonial-slider .slider-thumbnail .thumbnail-content .thumbnail-img img {
    width: 100%;
}

.testimonial-slider .slider-thumbnail .thumbnail-content .thumbnai-title {
    font-size: 20px;
    font-family: 'dinbold';
    margin-top: 10px;
    margin-bottom: 5px;
}

.testimonial-slider .slick-dots {
    /* bottom: -4px; */
    padding-right: 40px;
}

.testimonial-slider .slick-dots li {
    width: 15px;
    height: 15px;
    margin: 0 2px;
}

.cd-main-content .testimonial-slider .slick-prev,
.cd-main-content .testimonial-slider .slick-next {
    background-position: center;
    width: 40px;
    height: 40px;
}

.cd-main-content .testimonial-slider .slick-prev {
    background-image: url('/content/dam/vacationex/images/arrow-left-white.png');
}

.cd-main-content .testimonial-slider .slick-next {
    background-image: url('/content/dam/vacationex/images/arrow-right-white.png');
}

.testimonial-slider .slick-dots li button:before {
    color: white;
    font-size: 12px;
}

.testimonial-slider .slick-dots li.slick-active button:before {
    color: white;
}

.mfp-content .testimonial-img-popup {
    background-color: #fff;
    text-align: center;
}

.mfp-close-btn-in .testimonial-img-popup .mfp-close {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    right: 0.25em;
    top: 0.25em;
}

.testimonial-slider .slider-content {
    width: 60%;
    float: left;
    color: #fff;
    padding-right: 40px;
    margin-top: 30px;
}

.testimonial-slider .slider-content .title {
    font-size: 30px;
    margin-left: 30px;
}

.testimonial-slider .slider-content .sub-title {
    font-family: 'din_lightregular';
    font-size: 26px;
    margin-left: 30px;
}

.testimonial-slider .slider-content .slider-quote {
    padding: 5px 30px;
    position: relative;
    margin: 25px auto;
    text-align: justify;
}

.testimonial-slider .slider-content .slider-quote:after,
.testimonial-slider .slider-content .slider-quote:before {
    content: '';
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background-size: 20px;
    position: absolute;
}

.testimonial-slider .slider-content .slider-quote:after {
    background-image: url(/content/dam/vacationex/images/quote-end.png);
    right: 0;
    bottom: 0;
}

.testimonial-slider .slider-content .slider-quote:before {
    background-image: url(/content/dam/vacationex/images/quote-start.png);
    top: 0;
    left: 0;
}

.testimonial-slider .slider-content .slider-quote p {
    font-family: 'din_lightregular';
    font-size: 20px;
    margin-bottom: 20px;
}

.testimonial-slider .slider-content .slider-quote p:last-child {
    margin-bottom: 0;
}

.testimonial-page .navigate-to-target {
    max-width: 180px;
    margin-left: auto;
    display: block;
    margin-top: -33px;
    z-index: 2;
    position: relative;
}

.testimonial-page .navigate-to-target a {
    color: #fff;
    text-align: center;
    font-size: 21px;
    padding: 10px 0;
    box-shadow: 0px 0px 0px 2px #fff;
    transition: all linear 0.2s;
    display: block;
}

.testimonial-page .navigate-to-target a:hover {
    color: #272727;
    background-color: #fff;
}

.tour-manager .slider-content .slider-quote:after,
.tour-manager .slider-content .slider-quote:before {
    display: none;
}