<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='vacation.ex.index'}"/>
<base href="/content/dam/vacationex/images/">
<div class="index-navigation">
	<div class="ham-navigation fixed-navigation">
		<header id="header" class="cd-main-header clearfix">
			<a class="balmer-logo" href="/content/vacationex/en.html"><img src="top-logo.png" alt="Logo"></a>
			<!--vacation exotica logo-->
			<div class="vx-logo">
				<a href="/content/vacationex/en.html" class="black-logo"><img src="logo-with-black.png" alt="vacation exortica"></a>
				<a href="/content/vacationex/en.html" class="white-logo"><img src="logo-with-white.png" alt="vacation exortica"></a>
			</div>
			<!--end vacation exotica logo-->
			<a href="tel:18001039889" class="tollfree-btn">
				<img src="tollfree.png" alt="">
			</a>
			<div class="nav-index">
				<nav class="cd-nav">
					<ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
						<li><a href="/content/vacationex/en/about.html">About us</a></li>
						<li class="has-children three-child">
							<a href="#">International</a>

							<ul class="cd-nav-gallery is-hidden">
								<li class="go-back"><a href="#">Menu</a></li>
								<li class="see-all"><a href="#">Browse Packages</a></li>
								<li class="mobileMatchHeight" style="border-right: 1px solid rgb(0, 0, 0); height: 316px;">
									<a class="cd-nav-item" href="/content/vacationex/en/category.html">
										<img src="group-menu-icon.png" alt="">
										<h3>Group</h3>
										<p class="menu-tag-line">Travelling together, is travelling merrier</p>
									</a>
								</li>

								<li class="mobileMatchHeight" style="border-right: 1px solid rgb(0, 0, 0); height: 316px;">
									<a class="cd-nav-item" href="/content/vacationex/en/themeholidays.html">
										<img src="theme-menu-icon.png" alt="">
										<h3>Themed</h3>
										<p class="menu-tag-line">Unique experiences, unique holidays.</p>
									</a>
								</li>

								<li class="mobileMatchHeight" style="height: 316px;">
									<a class="cd-nav-item" href="/content/vacationex/en/personalised.html">
										<img src="customized-menu-icon.PNG" alt="">
										<h3>Personalised</h3>
										<p class="menu-tag-line">Bespoke holidays, just the way you like!</p>
									</a>
								</li>
							</ul>
						</li>		
						<li class="has-children two-child">
							<a href="http://13.127.144.136/india/packages/">India</a>

							<ul class="cd-nav-gallery is-hidden">
								<li class="go-back"><a href="#">Menu</a></li>
								<li class="see-all"><a href="#">Browse Packages</a></li>
								<li class="mobileMatchHeight" style="border-right: 1px solid rgb(0, 0, 0); height: 316px;">
									<a class="cd-nav-item" href="http://13.127.144.136/india/packages/">
										<img src="theme-menu-icon.png" alt="">
										<h3>Themed</h3>
										<p class="menu-tag-line">Unique experiences, unique holidays.</p>
									</a>
								</li>

								<li class="mobileMatchHeight" style="height: 316px;">
									<a class="cd-nav-item" href="/content/vacationex/en/personalised.html">
										<img src="customized-menu-icon.png" alt="">
										<h3>Personalised</h3>
										<p class="menu-tag-line">Bespoke holidays, just the way you like!</p>
									</a>
								</li>
							</ul>
						</li>		
						<li><a href="/content/vacationex/en/corporate.html">Corporate</a></li>
					</ul> <!-- primary-nav -->
				</nav> <!-- cd-nav -->
			</div>
			<ul class="cd-header-buttons">
				<li><a class="cd-search-trigger" href="#cd-search">Search<span></span></a></li>
				<li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
			</ul> <!-- cd-header-buttons -->
		</header>
		<div class="cd-overlay"></div>

		<nav class="cd-nav">
			<ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
				<li class="hide-in-index"><a href="/content/vacationex/en/about.html">About us</a></li>
				<li class="has-children hide-in-index">
					<a href="#">International</a>

					<ul class="cd-nav-gallery is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li class="see-all"><a href="#">Browse Packages</a></li>
						<li>
							<a class="cd-nav-item" href="http://13.127.144.136/international/group-holidays/categories/">
								<img src="group-menu-icon.png" alt="">
								<h3>Group</h3>
								<p class="menu-tag-line">Travelling together, is travelling merrier</p>
							</a>
						</li>

						<li>
							<a class="cd-nav-item" href="http://13.127.144.136/international/theme-holidays/categories/">
								<img src="theme-menu-icon.png" alt="">
								<h3>Themed</h3>
								<p class="menu-tag-line">Unique experiences, unique holidays.</p>
							</a>
						</li>

						<li>
							<a href="http://13.127.144.136/personalised" class="cd-nav-item">
								<img src="customized-menu-icon.png" alt="">
								<h3>Personalised</h3>
								<p class="menu-tag-line">Bespoke holidays, just the way you like!</p>
							</a>
						</li>
					</ul>
				</li>		
				<li class="has-children hide-in-index">
					<a href="http://13.127.144.136/india/packages/">India</a>

					<ul class="cd-nav-gallery is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li class="see-all"><a href="#">Browse Packages</a></li>
						<li>
							<a class="cd-nav-item" href="http://13.127.144.136/india/packages/">
								<img src="theme-menu-icon.png" alt="">
								<h3>Themed</h3>
								<p class="menu-tag-line">Unique experiences, unique holidays.</p>
							</a>
						</li>

						<li>
							<a href="http://13.127.144.136/personalised" class="cd-nav-item">
								<img src="customized-menu-icon.png" alt="">
								<h3>Personalised</h3>
								<p class="menu-tag-line">Bespoke holidays, just the way you like!</p>
							</a>
						</li>
					</ul>
				</li>		
				<li class="hide-in-index"><a href="/content/vacationex/en/corporate.html">Corporate</a></li>
				<li><a href="/content/vacationex/en/ourstories.html">Our stories</a></li>
				<li><a href="/content/vacationex/en/contactus.html">Contact us</a></li>
				<!--li><a href="#">Stories</a></li>
				<li><a href="#">Enquiry</a></li-->
			</ul> <!-- primary-nav -->
		</nav> <!-- cd-nav -->

		<div id="cd-search" class="cd-search">
			<form action="http://13.127.144.136/search/" method="get">
				<input type="search" id="s" name="s" placeholder="Search Destinations..." autocomplete="off">
			</form>
		</div>
	</div>
</div>