.description {
    padding: 5px 0;
}

.corporate-form {
    background-image: url(/content/dam/vacationex/images/bg/about-new-bg.jpg);
}

.corporate-form .enquiry-form {
    max-width: 500px;
    padding: 0;
    background-color: transparent;
}

.corporate-form .form-group {
    margin-bottom: 10px;
}

.corporate-form .form-group .form-ele {
    width: 100%;
    float: none;
    overflow: hidden;
    display: block;
    color: #fff;
}

.corporate-form .form-group .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #a99999;
    color: #fff;
}

.corporate-form .form-group select.form-control option {
    background-color: #444;
}

.corporate-form .form-group .radio-container {
    display: inline;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    padding-right: 18px;
    margin-right: 15px;
    text-align: right;
}

/* Hide the browser's default radio button */

.corporate-form .form-group .radio-container input {
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    cursor: pointer;
}

.corporate-form .form-group input::-webkit-input-placeholder, .corporate-form .form-group textarea::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* Firefox */
}

.corporate-form .form-group input::-moz-placeholder, .corporate-form .form-group textarea::-moz-placeholder {
    color: #fff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* Firefox */
}

.corporate-form .form-group input:-ms-input-placeholder, .corporate-form .form-group textarea:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* Firefox */
}

.corporate-form .form-group input::placeholder, .corporate-form .form-group textarea::placeholder {
    color: #fff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* Firefox */
}

.corporate-form .form-group input::-webkit-input-placeholder, .corporate-form .form-group textarea::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
}

.corporate-form .form-group input:-moz-placeholder, .corporate-form .form-group textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.corporate-form .form-group input::-moz-placeholder, .corporate-form .form-group textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.corporate-form .form-group input:-ms-input-placeholder, .corporate-form .form-group textarea:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

/* Create a custom radio button */

.corporate-form .form-group .checkmark {
    position: absolute;
    top: 3px;
    right: 0;
    height: 14px !important;
    width: 14px;
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.corporate-form .form-group .radio-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.corporate-form .form-group .radio-container input:checked~.checkmark {
    background-color: rgb(255, 255, 255);
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.corporate-form .form-group .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.corporate-form .form-group .radio-container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.corporate-form .form-group .radio-container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3a3939;
}

.corporate-form .form-group.form-submit #submit-btn {
    background-color: transparent;
    letter-spacing: 4px;
}

.corporate-form .bottom-content-block .form-about-copy {
    margin: 0 20px;
}

.corporate-form .bottom-content-block .form-about-copy p {
    margin: 0 10px 10px 10px;
}

.corporate-form .bottom-content-block .form-about-copy p:first-child {
    margin-bottom: 10px;
}

.corporate-form .bottom-content-block .form-about-copy p:last-child {
    margin-bottom: 0px;
}

.corporate-form .bottom-content-block .quote-block {
    font-size: 20px;
}

.corporate-form .bottom-content-block .main-block {
    font-size: 16px;
}