#package-listing-page {
	background-image: url('/content/dam/vacationex/images/indian-desktop.jpg');
}

@media screen and (max-width: 768px) {
	#package-listing-page {
		background-image: url('/content/dam/vacationex/images/indian-mobile.jpg');
	}
}