<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='vacation.ex.personalised'}"/>
<section class="corporate-form personalised-from v-two-block cd-main-content">
		<div class="table-layout">
			<div class="table-layout-col">
				<div class="top-heading-block">
					<div class="wrapper">
						<h1 class="page-name">personalised vacations</h1>
						<p class="page-subtitle">
							You dream, We plan
						</p>
						<div class="page-desc">
							<p>
								
							At Vacations Exotica, we believe it brings the best of both worlds together when our careful planning meets your carefree personalization. So, drop in your details and preferences in the form below, and let's get personalizing.

							</p>
						</div>
					</div>
				</div>
				<div class="bottom-content-block">
					<div class="wrapper">
						<div class="enquiry-form mCustomScrollbar custom-height ">
							<form class="row clearfix" action="/vacationex/personalised" method="get">
								<div class="col col-50">
									<!-- Name -->
									<div class="form-group">
										<div class="form-ele">
											<input id="name" name="name" type="text" placeholder="Name*" class="form-control" required="">
										</div>
									</div>

									<!-- Email -->
									<div class="form-group">
										<div class="form-ele">
											<input id="emailId" name="emailId" type="text" placeholder="Email ID*" class="form-control" required="">
										</div>
									</div>

									<!-- Mobile -->
									<div class="form-group align-left otp-block">
										<div class="form-ele">
											<input id="mobile" name="mobile" type="text" placeholder="Mobile*" class="form-control" required="">
										</div>
									</div>

									<!-- send otp -->
									<div class="form-group align-right otp-btn verification-btn" onclick="sendSMS()">
										<div class="form-ele">
											<a class="form-control v-otp-btn">Send OTP</a>
										</div>
									</div>

									<!-- verify otp -->
									<div class="form-group otp-block align-left hidden-btn" >
										<div class="form-ele">
											<input id="otpVerified" name="otpVerified" type="text" placeholder="Enter the OPT*" class="form-control" required="">
										</div>
									</div>

									<!-- resend otp -->
									<div class="form-group align-right otp-btn hidden-btn" onclick="verifyOTP()" >
										<div class="form-ele">
											<a class="form-control v-otp-btn">Verify OTP</a>
										</div>
									</div>

									<!-- City -->
									<div class="form-group">
										<div class="form-ele">
                                            <input id="city" name="city" type="text" placeholder="City*" class="form-control" required="">
										</div>
									</div>
								</div>
								<div class="col col-50">
									<!-- destination -->
									<div class="form-group">
										<div class="form-ele">
                                            <input id="destination" name="destination" type="text" placeholder="Destination*" class="form-control" required="">
										</div>
									</div>
									<!-- text area -->
									<div class="form-group">
										<div class="form-ele">
											<textarea name="requirements" id="requirements" class="form-control" placeholder="Additional Requirements"></textarea>
										</div>
									</div>
									<!-- TNC -->
									<div class="form-group">
										<div class="form-ele">
											<label class="checkbox-container">
												<input type="checkbox"  name="tnc" value="yes">
												<span class="checkmark"></span>
													I hereby permit Vacations Exotica to contact me.
											</label>
										</div>
									</div>
								</div>

								<!-- Submit -->
								<div class="form-group form-submit">
									<div class="form-ele">
										<input id="submit-btn" type="submit" value="SUBMIT" class="form-control">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>	
		</div>	
	</section>
</div>
