<div class="container">
	<section class="index-page clearfix cd-main-content">
		<div class="row">
			<div id="left-col-width" class="table-layout page-heading-section col col-33">
				<div class="table-layout-col">
					<p class="page-title">
						<a href="#">
							<img src="collect-stories-white.png" alt="collect stories" />
						</a>
					</p>
					<div class="logo">
						<a href="/content/vacationex/en/index.html">
							<img src="logo.png" alt="logo" />
						</a>
					</div>
				</div>
			</div>
			<div id="right-col-width" class="table-layout col col-66">
				<div class="table-layout-col">
					<div class="map-for-dekstop">
						<img src="home-page-doddle-d.png" usemap="#image-map-desk" id="map-img">

						<map name="image-map-desk">
							<area target="" alt="Cruise" title="Cruise" href="http://13.127.144.136/international/theme-holidays/cruise/packages" coords="458,4,328,146"
							 shape="rect">
							<area target="" alt="Us Packages" title="Us Packages" href="http://13.127.144.136/international/group-holidays/usa-south-america-canada/packages"
							 coords="458,143,560,211" shape="rect">
							<area target="" alt="Honeymoon Packages" title="Honeymoon Packages" href="http://13.127.144.136/international/theme-holidays/honeymoon/packages"
							 coords="561,76,637,162" shape="rect">
							<area target="" alt="European Packages" title="European Packages" href="http://13.127.144.136/international/group-holidays/europe/packages"
							 coords="642,124,799,309" shape="rect">
							<area target="" alt="Asia" title="Asia" href="http://13.127.144.136/international/group-holidays/asia/packages" coords="920,177,1011,263"
							 shape="rect">
							<area target="" alt="Rail" title="Rail" href="http://13.127.144.136/international/theme-holidays/rail/packages" coords="1017,213,1140,337"
							 shape="rect">
							<area target="" alt="Exotic Rockies" title="Exotic Rockies" href="http://13.127.144.136/package/exotic-rockies" coords="251,209,396,335"
							 shape="rect">
							<area target="" alt="European Splendours" title="European Splendours" href="http://13.127.144.136/package/european-splendours"
							 coords="355,368,461,487" shape="rect">
							<area target="" alt="Africa" title="Africa" href="http://13.127.144.136/international/group-holidays/africa/packages" coords="463,234,638,475"
							 shape="rect">
							<area target="" alt="America" title="America" href="http://13.127.144.136/international/group-holidays/usa-south-america-canada/packages"
							 coords="173,355,294,454" shape="rect">
							<area target="" alt="Adventure" title="Adventure" href="http://13.127.144.136/international/theme-holidays/adventure/packages"
							 coords="223,565,316,688" shape="rect">
							<area target="" alt="European Memories" title="European Memories" href="http://13.127.144.136/package/european-memories"
							 coords="477,502,556,577" shape="rect">
							<area target="" alt="Australia and New Zealand" title="Australia and New Zealand" href="http://13.127.144.136/international/group-holidays/australia-new-zealand/packages"
							 coords="696,467,877,611" shape="rect">
							<area target="" alt="Cruise" title="Cruise" href="http://13.127.144.136/international/theme-holidays/cruise/packages" coords="349,578,551,699"
							 shape="rect">
							<area target="" alt="Romantic European" title="Romantic European" href="http://13.127.144.136/package/romantic-europe" coords="333,702,457,777"
							 shape="rect">
							<area target="" alt="American Splendours" title="American Splendours" href="http://13.127.144.136/package/american-splendours"
							 coords="566,672,662,835" shape="rect">
							<area target="" alt="Beaches and Islands" title="Beaches and Islands" href="http://13.127.144.136/international/theme-holidays/beaches-and-islands/packages"
							 coords="772,663,914,746" shape="rect">
							<area target="" alt="Indian" title="Indian" href="http://13.127.144.136/indian/packages" coords="930,673,1043,783" shape="rect">
							<area target="" alt="Indian" title="Indian" href="http://13.127.144.136/indian/packages" coords="711,751,816,853" shape="rect">
						</map>
					</div>
					<div id="dragger-slider" class="dragdealer show-in-mobile">
						<div class="handle">
							<!-- /* Image Map Generated by http://www.image-map.net/ */-->
							<img src="home-page-doddle-d.png" usemap="#image-map" id="map-img">

							<map name="image-map">
								<area target="" alt="Cruise" title="Cruise" href="http://13.127.144.136/international/theme-holidays/cruise/packages" coords="458,4,328,146"
								 shape="rect">
								<area target="" alt="Us Packages" title="Us Packages" href="http://13.127.144.136/international/group-holidays/usa-south-america-canada/packages"
								 coords="458,143,560,211" shape="rect">
								<area target="" alt="Honeymoon Packages" title="Honeymoon Packages" href="http://13.127.144.136/international/theme-holidays/honeymoon/packages"
								 coords="561,76,637,162" shape="rect">
								<area target="" alt="European Packages" title="European Packages" href="http://13.127.144.136/international/group-holidays/europe/packages"
								 coords="642,124,799,309" shape="rect">
								<area target="" alt="Asia" title="Asia" href="http://13.127.144.136/international/group-holidays/asia/packages" coords="920,177,1011,263"
								 shape="rect">
								<area target="" alt="Rail" title="Rail" href="http://13.127.144.136/international/theme-holidays/rail/packages" coords="1017,213,1140,337"
								 shape="rect">
								<area target="" alt="Exotic Rockies" title="Exotic Rockies" href="http://13.127.144.136/package/exotic-rockies" coords="251,209,396,335"
								 shape="rect">
								<area target="" alt="European Splendours" title="European Splendours" href="http://13.127.144.136/package/european-splendours"
								 coords="355,368,461,487" shape="rect">
								<area target="" alt="Africa" title="Africa" href="http://13.127.144.136/international/group-holidays/africa/packages" coords="463,234,638,475"
								 shape="rect">
								<area target="" alt="America" title="America" href="http://13.127.144.136/international/group-holidays/usa-south-america-canada/packages"
								 coords="173,355,294,454" shape="rect">
								<area target="" alt="Adventure" title="Adventure" href="http://13.127.144.136/international/theme-holidays/adventure/packages"
								 coords="223,565,316,688" shape="rect">
								<area target="" alt="European Memories" title="European Memories" href="http://13.127.144.136/package/european-memories"
								 coords="477,502,556,577" shape="rect">
								<area target="" alt="Australia and New Zealand" title="Australia and New Zealand" href="http://13.127.144.136/international/group-holidays/australia-new-zealand/packages"
								 coords="696,467,877,611" shape="rect">
								<area target="" alt="Cruise" title="Cruise" href="http://13.127.144.136/international/theme-holidays/cruise/packages" coords="349,578,551,699"
								 shape="rect">
								<area target="" alt="Romantic European" title="Romantic European" href="http://13.127.144.136/package/romantic-europe" coords="333,702,457,777"
								 shape="rect">
								<area target="" alt="American Splendours" title="American Splendours" href="http://13.127.144.136/package/american-splendours"
								 coords="566,672,662,835" shape="rect">
								<area target="" alt="Beaches and Islands" title="Beaches and Islands" href="http://13.127.144.136/international/theme-holidays/beaches-and-islands/packages"
								 coords="772,663,914,746" shape="rect">
								<area target="" alt="Indian" title="Indian" href="http://13.127.144.136/indian/packages" coords="930,673,1043,783" shape="rect">
								<area target="" alt="Indian" title="Indian" href="http://13.127.144.136/indian/packages" coords="711,751,816,853" shape="rect">
							</map>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>