<div class="floating-icons slide-body-with-menu">
    <ul class="floating-social-icon">
        <li class="insta">
            <a href="#"></a>
        </li>
        <li class="twitter">
            <a href="#"></a>
        </li>
        <li class="fb">
            <a href="#"></a>
        </li>
    </ul>
    <div class="floating-enquiry-form">
        <a href="#popup-enquiry-form" class="floating-enquiry-btn form-popup" data-effect="mfp-move-horizontal"></a>
        <div id="popup-enquiry-form" class="mfp-hide mfp-with-anim">
            <div class="enquiry-form">
                <form class="clearfix" id="enquiry-form" action="/vacationex/enquiry" method="get" novalidate>
                    <!-- Name -->
                    <div class="form-group">
                        <label class="control-label" for="Name">Name:</label>
                        <div class="form-ele">
                            <input id="name" name="name" type="text" placeholder="Name*" class="form-control" required="">
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label class="control-label" for="email">Email ID:</label>
                        <div class="form-ele">
                            <input id="email" name="email" type="text" placeholder="Email ID*" class="form-control" required="">
                        </div>
                    </div>

                    <!-- Mobile -->
                    <div class="form-group align-left otp-block">
                        <label class="control-label" for="mobile">Mobile:</label>
                        <div class="form-ele">
                            <input id="mobile" name="mobile" type="text" placeholder="Mobile*" class="form-control" maxlength="13" required="">
                        </div>
                    </div>

                    <!-- send otp -->
                    <div class="form-group align-right otp-btn verification-btn" >
                        <div class="form-ele">
                            <a class="form-control v-otp-btn enquiry_send_otp_button" onclick="sendSMS()">Send OTP</a>
                        </div>
                    </div>
                    <!-- verify otp -->
                    <div class="form-group otp-block align-left hidden-btn">
                        <div class="form-ele">
                            <input id="otpVerified" name="otp_verified" type="text" placeholder="Enter the OTP*" class="form-control" maxlength="4" required="">
                        </div>
                    </div>
                    <input type="hidden" name="otp_status" id="otp_status" value="">
                    <!-- resend otp -->
                    <div class="form-group align-right otp-btn hidden-btn" onclick="verifyOTP()">
                        <div class="form-ele">
                            <class="form-control">
                                <a href="javascript:void(0);" class="form-control v-otp-btn verify_otp_button">Verify OTP</a>
                        </div>
                    </div>

                    <!-- City -->
                    <div class="form-group">
                        <label class="control-label" for="city">City:</label>
                        <div class="form-ele">
                            <input id="city" name="city" type="text" placeholder="City*" class="form-control" required="">
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="form-group">
                        <label class="control-label" for="destination">Destination:</label>
                        <div class="form-ele">
                            <input id="destination" name="destination" type="text" placeholder="Destination*" class="form-control enquiry-destination typeahead enquiry-tm-input form-control tm-input-inf"
                                required="">
                            <div id="enquiry-suggesstion-box" class="enquiry-suggesstion-box"></div>
                        </div>
                    </div>

                    <!-- Additional Requirements -->
                    <div class="form-group">
                        <label class="control-label" for="add_desc">Additional Requirements:</label>
                        <div class="form-ele">
                            <textarea name="addDesc" id="addDesc" class="form-control" placeholder="Additional Requirements*" cols="3"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-ele">
                            <label class="radio-container">
                                <input type="checkbox" name="tnc" value="yes" id="tnc">
                                <span class="checkmark"></span>
                                I hereby permit Vacations Exotica to contact me.
                            </label>
                        </div>
                    </div>

                    <input type="hidden" name="current-package-id" id="current-package-id" value="" />
                    <!-- Submit -->
                    <div class="form-group form-submit">
                        <div class="form-ele">
                            <input id="submit-btn" type="submit" value="GET IN TOUCH" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </div>
    </div>
</div>
<footer class="footer clearfix slide-body-with-menu">
    <!-- Floating Enquiry Form -->
    <p class="footer-copy">&copy; 2018 Vacations Exotica | All rights reserved</p>
    <ul class="footer-links">
        <li>
            <a href="/content/vacationex/en/privacypolicy.html">Privacy Policy</a>
        </li>
    </ul>
    <div class="footer-mail-us">
        <p>*For more information mail us at
            <a href="mailto:info@vacationsexotica.com"> info
                <span class="default-open-sans-font">@</span>vacationsexotica.com</a>
        </p>
    </div>
</footer>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='vacation.ex.foot'}"
/>